<!DOCTYPE html>
<html lang="en">
<head>

  {% block head %}
    {#<meta http-equiv="content-type" content="text/html; charset=UTF-8">#}
    <meta charset="UTF-8">
    <meta name="description" content="A web application for human evaluation of machine translation quality">
    <meta name="keywords" content="machine translation, evaluation,crowd sourcing">
    <meta name="author" content="Claudio Giuliano">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}MT-equal{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/bootstrap/3.3.7/css/bootstrap.min.css') }}"/>

    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/font-awesome/4.7.0/css/font-awesome.css') }}"/>

    <link type="text/css" rel="stylesheet"
          href="{{ asset('bundles/app/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css') }}"/>

    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/jquery-ui/1.12.1/css/jquery-ui.min.css') }}"/>

    <link type="text/css" rel="stylesheet"
          href="{{ asset('bundles/app/jquery-fileupload/9.19.1/css/jquery.fileupload.css') }}"/>


    <!-- JavaScript -->

    <script type="text/javascript" src="{{ asset('bundles/app/jquery/3.2.1/jquery-3.2.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/app/jquery-ui/1.12.1/js/jquery-ui.min.js') }}"></script>

    <script type="text/javascript"
            src="{{ asset('bundles/app/jquery-fileupload/9.19.1/js/jquery.fileupload.js') }}"></script>


    <script type="text/javascript" src="{{ asset('bundles/app/jquery-cookie/1.4.1/jquery.cookie.js') }}"></script>


    <script type="text/javascript" src="{{ asset('bundles/app/bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>

    <script type="text/javascript"
            src="{{ asset('bundles/app/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/app/nicEdit/0.9.25/nicEdit.js') }}"></script>

  {% endblock head %}

  {% block stylesheets %}
    <!-- introduced to solve the accessibility problems in Bootstrap -->
    {% include 'util/css-extension.twig' %}
  {% endblock stylesheets %}
</head>

<body>


{% block navbar %}
  <!-- parent navbar -->
{% endblock navbar %}

{% block content %}
  <!-- parent content -->
{% endblock content %}

{% block message %}
  <div id="notifications"></div>
{% endblock message %}

<footer style="margin-top: 5%" role="contentinfo">

  {% block footer %}
    <hr>

    <div class="container" style="text-align: center"><p>

        <a id="privacy-policy-link" href="{{ asset('bundles/app/privacy-policy.html') }}">Privacy Policy</a>
        &#8231; <a id="tos-link" href="{{ asset('bundles/app/terms-conditions.html') }}">Terms and Conditions</a>

        &#8231; <a id="documentation-link"
                   href="{{ asset('bundles/app/docs/web-app/MT-equal_User_Guide_2.0.html') }}?type=doc">Documentation</a>
        &#8231; <a id="api-link" href="{{ asset('bundles/app/docs/web-api/help.html') }}?type=api">API</a>
      </p>

    </div>
  {% endblock footer %}

</footer>

{% block script %}
  <script language="JavaScript">

    <!-- base scripts -->

    window.name = "mt-equal";

    MyNotify = function (text, callback, close_callback, style) {

      var time = '10000';
      var $container = $('#notifications');

      if (style === 'error') style = 'danger';
      if (typeof style === 'undefined') style = 'warning';

      var html = $('<div class="alert alert-' + style + '  hide" role="log" aria-live="assertive"><strong>' + style.charAt(0).toUpperCase() + style.slice(1) + "!</strong> " + text + '</div>');

      $('<a>', {
        text: '×',
        class: 'button close',
        style: 'padding-left: 10px;',
        href: '#',
        click: function (e) {
          e.preventDefault();
          close_callback && close_callback();
          remove_notice();
        }
      }).prependTo(html);

      $container.prepend(html);
      html.removeClass('hide').hide().fadeIn('slow');

      function remove_notice() {
        html.stop().fadeOut('slow').remove();
      }

      var timer = setInterval(remove_notice, time);

      $(html).hover(function () {
        clearInterval(timer);
      }, function () {
        timer = setInterval(remove_notice, time);
      });

      html.on('click', function () {
        clearInterval(timer);
        callback && callback();
        remove_notice();
      });
    };

    {% if app.session.flashbag.peekAll|length > 0 %}
    {% for type, messages in app.session.flashbag.all %}
    {% for message in messages %}
    {% if type == "alert" %}

    MyNotify("{{ message }}", null, null, 'warning');

    {% else %}

    console.log("m {{ message }}");
    console.log("t {{ type }}");
    MyNotify("{{ message }}", null, null, "{{ type }}");

    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endif %}
  </script>

  <script language="JavaScript">

    function errorHandler(xhr) {
      console.log(xhr);

      MyNotify("Error " + xhr.status + ":" + xhr.responseText, null, null, "danger");
      // switch (xhr.status) {
      //   case 401:
      //     error401(xhr.responseJSON.message, xhr.responseJSON.link);
      //     break;
      //   case 403:
      //     error403(xhr.responseJSON.message, xhr.responseJSON.link);
      //     break;
      //   default:
      //     error500(xhr.responseJSON.message);
      // }
    }

    function error403(message, link) {
      MyNotify(message, null, null, "danger");
    }

    function error401(message, link) {
      MyNotify(message, null, null, "danger");
      //MyNotify(message + " Please sign in and try again. You'll be redirected to the login page in few seconds.", null, null, "danger");
      // setTimeout(function () {
      //   window.location.href = link;
      // }, 3000);
    }

    function error500(message) {
      MyNotify(message, null, null, "danger");
    }
  </script>
{% endblock script %}

</body>
</html>
