{% extends 'base.twig' %}

{% block navbar %}
  {% include "util/main-navigation-bar.twig" %}
{% endblock navbar %}

{% block content %}
  {{ parent() }}

  {% include 'util/debug.twig' with {'parent': 'default/admin.twig'} %}

  {% if view is not defined %}
    {% set view = 'overview' %}
  {% endif %}


  <div id="content" class="container-fluid">

    {% if project is defined %}

      <header role="banner">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">

              <h1 id="page-title" aria-label="Project {{ project.name }}">
                <small><i class="fa fa-folder-open-o fa-fw" aria-hidden="true"></i></small>
                {{ project.name }}
              </h1>

            </div>
          </div>
        </div>

        {% include "util/navigation-tabs.twig" %}

      </header>
      <main id="mainContent" role="main" tabindex="-1">
        {# menu column #}

        {% if view starts with 'settings' %}
          <div>

            {# settings #}
            {% include 'util/settings-navigation-bar.twig' %}

          </div>
        {% else %}

          <div>
            {# overview, monitor, evaluation, evaluation-launch, evaluation-progress, review and report #}
            {% include 'panel/'~view~'.twig' %}
          </div>

        {% endif %}

      </main>

      {#{% elseif view starts with 'account' %}#}
      {#<div>#}
      {# deprecated #}
      {#{% include 'util/user-profile.twig' %}#}

      {#</div>#}

      {#{% else %}#}
      {#<div>#}
      {# deprecated #}
      {#{% include 'util/dashboard.twig' %}#}

      {#</div>#}

    {% endif %}


  </div>

{% endblock content %}

{% block script %}

  {{ parent() }}

  <script language="JavaScript">
    <!-- admin scripts -->
    $(document).ready(function () {
      loadProjectList();
    });

    // populates the Projects menu
    function loadProjectList() {
      console.log("loading project list...");
      $.ajax({
        url: "{{ path('app_project_list') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "GET",
        cache: false,
        data: {
          "id": {{ app.session.get('user').id }}
        },
        success: function (json) {
          console.log(json);
          if (json.projects.length > 0) {
            var projects = "";

            var n = 0;
            for (var i in json.projects) {
              if (json.projects[i].name !== "" && n < 5) {
                projects += "\n<li><a class='nowrap' href='{{ path('admin') }}?pid=" + json.projects[i].id + "'>" + json.projects[i].name + "</a></li>";
              }
              n++;
            }

            $("#projectMenu").html(projects);
          }
        },
        error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }
  </script>
{% endblock script %}
