{% extends 'base.twig' %}

{% block navbar %}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="skipto-item" class="sr-only" href="#mainContent">Skip to main content</a>
        <a id="mt-equal-item" class="navbar-brand" href="#">MT-equal</a>
      </div>

    </div>
  </nav>
{% endblock navbar %}

{% block content %}
  <div class="container">

    <header role="banner">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <h1 id="page-title">Change password</h1>
          <p>Your password is expired. Use this page to change it.</p>
        </div>
      </div>
    </header>

    <main id="mainContent" role="main" tabindex="-1">

      {% include 'util/change-password-form.twig' %}

    </main>
  </div>
{% endblock content %}