{% extends 'default/main-navigation.twig' %}

{% block script %}

  {{ parent() }}

  <script language="JavaScript">
    <!-- create project scripts -->
    function createProject() {
      var name = $('#name').val();
      var description = $('#description').val();
      $.ajax({
        type: "POST",
        url: "{{ path('app_project_create') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "name": name,
          "description": description,
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        cache: false,
        beforeSend: function () {
          console.log("saving...");
        },
        success: function (data) {

          //console.log(data);
          console.log('project created');
          console.log(data);
          if (data.valid) {
            //MyNotify(data.message, null, null, "success");
            window.location.href = data.link;

          } else {
            console.log('error:' + data.message);
            MyNotify(data.message, null, null, "danger");
          }

        },
        error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }
  </script>
{% endblock script %}


{% block content %}

  {% include 'util/debug.twig' with {'parent': 'default/create-project.twig'} %}

  <div class="container">
    <header role="banner">
      <h1 id="page-title">Create a new project</h1>
    </header>
    <main id="mainContent" role="main" tabindex="-1">
      <section role="region">
        <div class="alert alert-info">
          <strong>Info!</strong> Use this page to create a new project. Alternatively, clone an existing project.
        </div>
      </section>

      <section role="region">
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form-horizontal">
              <input type="hidden" name="CsrfToken" value="{{ csrf_token('authenticate') }}">
              <div class="form-group">
                <label class="control-label col-xs-1" for="name">Project:</label>
                <div class="col-xs-9">
                  <input type="text" class="form-control" name="name" id="name"
                         value="{{ name is defined ? name : '' }}"
                         autocomplete="off" placeholder="Enter the project name">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-1" for="description">Description:</label>
                <div class="col-xs-9">
                <textarea rows="3" class="form-control" name="description" id="description"
                          placeholder="Enter the project description">{{ description is defined ? description : '' }}</textarea>
                </div>
              </div>
              <br>
              <div class="form-group">
                <div class="col-xs-offset-1 col-xs-9">
                  <input title="create project" aria-label="create project" id="create-btn" class="btn btn-primary" value="Create project"
                         onclick="createProject()">
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
  </div>

{% endblock content %}