{% extends 'default/main-navigation.twig' %}

{% block script %}

  {{ parent() }}

  <script language="JavaScript">
    <!-- user profile scripts -->

    function showProjects() {
      $('#requests-li').removeClass('active');
      $('#projects-li').addClass('active');
      $('#requests-div').hide();
      $('#projects-div').show();
    }

    function showRequests() {
      $('#projects-li').removeClass('active');
      $('#requests-li').addClass('active');
      $('#projects-div').hide();
      $('#requests-div').show();
    }

  </script>
{% endblock script %}


{% block content %}
  <!-- dashboard content -->

  {% include 'util/debug.twig' with {'parent': 'default/dashboard.twig'} %}

  <div class="container-fluid">
    <header role="banner">
      <h1 id="page-title">Dashboard</h1>


      <nav>
        <ul class="nav nav-tabs">
          <li id="projects-li" class="active">
            <a id="projects-item" onclick="showProjects()">
              <i class="fa fa-folder-open-o" aria-hidden="true"></i>
              Projects
            </a>
          </li>
          <li id="requests-li">
            <a id="requests-item" onclick="showRequests()">
              <i class="fa fa-bell-o" aria-hidden="true"></i>
              Requests

              {#{% if pending > 0 %}#}
              <span class="badge" title="pending roles">{{ pending }}</span>
              {#{% endif %}#}

            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="mainContent" role="main" tabindex="-1">

      <div id="projects-div">
        {% include 'listing/projects.twig' %}
      </div>

      <div id="requests-div" style="display: none">
        {% include 'listing/requests.twig' %}
      </div>
    </main>

  </div>

{% endblock content %}