{% extends 'base.twig' %}

{% block navbar %}
  {% include 'util/welcome-navigation-bar.twig' %}
{% endblock navbar %}

{% block content %}
  <div class="main">
    {% include 'default/welcome.twig' %}
  </div>

{% endblock content %}
