{% extends 'base.twig' %}

{% block navbar %}
  {% include "util/main-navigation-bar.twig" %}
{% endblock navbar %}

{% block content %}


  <!-- main-navigation content -->

{% endblock content %}

{% block script %}

  {{ parent() }}

  <script language="JavaScript">

    <!-- main-navigation scripts -->

    $(document).ready(function () {
      loadProjectList();
    });

    // populates the Projects menu
    function loadProjectList() {
      console.log("loading project list...");
      $.ajax({
        url: "{{ path('app_project_list') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "GET",
        cache: false,
        data: {
          "id": {{ app.session.get('user').id }},
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        success: function (json) {
          console.log(json);
          if (json.projects.length > 0) {
            var projects = "";

            var n = 0;
            for (var i in json.projects) {
              if (json.projects[i].name !== "" && n < 5) {
                projects += "\n<li><a class='nowrap' href='{{ path('admin') }}?pid=" + json.projects[i].id + "'>" + json.projects[i].name + "</a></li>";
              }
              n++;
            }

            $("#projectMenu").html(projects);
          }
        },
        error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

  </script>
{% endblock script %}