{% extends 'base.twig' %}


{% block navbar %}
  {% include 'util/welcome-navigation-bar.twig' %}
{% endblock navbar %}

{% block content %}
  <div class="container">

    <header role="banner">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <h1 id="page-title">Reset password</h1>
        </div>
      </div>
    </header>

    <main id="mainContent" role="main" tabindex="-1">
      {% include 'util/reset-password-form.twig' %}
    </main>
  </div>
{% endblock content %}
