{% extends 'base.twig' %}

{% block script %}

  {{ parent() }}

  <script language="JavaScript">

    $(document).ready(function () {
      $('[data-toggle="password-tooltip"]').tooltip({placement: "bottom", html: true});
    });

    <!-- sign-up scripts -->
    function validateUser(param) {


      var value = $('#' + param).val();

      var d = {};
      d[param] = value;
      d["CsrfToken"] = "{{ csrf_token('authenticate') }}";

      console.log(param + ': ' + value);
      if (value.length > 0) {
        setTimeout(function () {

          if ($('#' + param).val() === value) {
            $.ajax({
              type: "POST",
              url: "{{ path('app_user_validate') }}",
              headers: {
                "CsrfToken": "{{ csrf_token('authenticate') }}"
              },
              data: d,
              cache: false,
              beforeSend: function () {
                console.log("validating...");
              },
              success: function (data) {
                console.log("success");
                console.log(data);
                if (data.valid) {
                  $("#check-" + param + "-div").removeClass("has-error").addClass("has-success");
                  $("#check-" + param + "-icon").html('<span class="glyphicon glyphicon-ok form-control-feedback"></span>');
                  $("#check-" + param + "-message").empty();

                } else {
                  $("#check-" + param + "-div").removeClass("has-success").addClass("has-error");
                  $("#check-" + param + "-icon").html('<span class="glyphicon glyphicon-remove form-control-feedback"></span>');
                  $("#check-" + param + "-message").html("<p class='text-danger'>" + data.tip + "</p>");
                }

              },
              error: function (xhr, status, error) {

                errorHandler(xhr);
              }
            });
          }
        }, 500); // 1/2 sec delay to check.
      } else {
        $("#check-" + param + "-div").removeClass("has-error").removeClass("has-success");
        $("#check-" + param + "-icon").empty();
        $("#check-" + param + "-message").empty();
      }
    }

    function checkConfirmPassword() {
      var password = $('#password').val();
      var confirmPassword = $('#confirm_password').val();
      if (password.length === 0 || confirmPassword.length === 0) {
        $("#check-confirm-password-div").removeClass("has-error").removeClass("has-success");
        $("#check-confirm-password-icon").empty();
        $("#check-confirm-password-message").empty();
        return true;
      } else {
        if (password === confirmPassword) {

          $("#check-confirm-password-div").removeClass("has-error").addClass("has-success");
          $("#check-confirm-password-icon").html('<span class="glyphicon glyphicon-ok form-control-feedback"></span>');
          $("#check-confirm-password-message").empty();
          return true;
        } else {

          $("#check-confirm-password-div").removeClass("has-success").addClass("has-error");
          $("#check-confirm-password-icon").html('<span class="glyphicon glyphicon-remove form-control-feedback"></span>');
          $("#check-confirm-password-message").html("<p class='text-danger'>Password does not match confirm password.</p>");
          return false;
        }
      }
    }

    function createUser() {
      var username = $('#username').val();
      var email = $('#email').val();
      var password = $('#password').val();
      var confirmPassword = $('#confirm_password').val();
      $.ajax({
        type: "POST",
        url: "{{ path('app_user_create') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "username": username,
          "email": email,
          "password": password,
          "confirm_password": confirmPassword,
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        cache: false,
        beforeSend: function () {
          console.log('before');
        },
        success: function (data) {
          //console.log(data);
          console.log('success');
          //console.log(data);
          if (data.valid) {
            MyNotify(data.message, null, null, "success");
            console.log("{{ hostname }}{{ path('app_user_sign_in') }}");
            {#setTimeout(function () {#}
            {#window.location.href = "{{ hostname }}{{ path('user_sign_in') }}"#}
            {#}, 3000);#}

          } else {
            console.log(data.message);
            MyNotify(data.message, null, null, "danger");
          }

        },
        error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }
  </script>
{% endblock script %}

{% block navbar %}
  {% include 'util/welcome-navigation-bar.twig' %}
{% endblock navbar %}

{% block content %}
  <div id="content" class="container">

    <header role="banner">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-4">
          <h1 id="page-title">Join MT-equal
            <br>

            {% if app.environment == 'prod' %}

            {% elseif app.environment == 'dev' %}
              <small>The best way to evaluate machine translation.</small>
            {% endif %}
          </h1>
          <h2 class="page-subtitle" style="font-size: 18px">Create your personal account</h2>
        </div>
      </div>
    </header>

    <main role="main" id="mainContent">

      <form autocomplete="off" id="sign-up-form">
        <input type="hidden" name="CsrfToken" value="{{ csrf_token('authenticate') }}">

        <div class="row">
          <div class="col-sm-5 col-sm-offset-4">
            <div id="check-username-div" class="form-group" aria-live="assertive">
              <label for="username" class="control-label">Username</label>
              <div class="input-group">
                {#<span class="input-group-addon"><i class="fa fa-user fa-lg" aria-hidden="true"></i></span>#}
                <input autocomplete="off" class="form-control" required type="text" id='username' name='username'
                       value=""
                       onkeyup="validateUser('username')" placeholder="Enter your username" size="50" autofocus/>
                <div id="check-username-icon"></div>
              </div>
              <span id="check-username-message"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 col-sm-offset-4">
            <div id="check-email-div" class="form-group" aria-live="assertive">
              <label for="email" class="control-label">Email</label>
              <div class="input-group">
                {#<span class="input-group-addon"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></span>#}
                <input autocomplete="off" class="form-control form-control-warning" required type="email" id='email'
                       name='email' value="" onkeyup="validateUser('email')" placeholder="Enter your email" size="50"/>
                <div id="check-email-icon"></div>
              </div>
              <span id="check-email-message"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5 col-sm-offset-4">
            <div id="check-password-div" class="form-group" aria-live="assertive">
              <label for="password" class="control-label">Password <a href="#" data-toggle="password-tooltip"
                                                                      title="Use at least three of the following classes: English uppercase and lowercase characters, numbers, and !#$%&'()*+,-./:;<=>?@[\]^_`{|}~"><i
                          class="fa fa-info-circle" aria-hidden="true"></i></a></label>
              <div class="input-group">
                {#<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>#}
                <input autocomplete="off" class="form-control" required type="password" id="password" name='password'
                       onkeyup="validateUser('password')" value="" placeholder="Enter your password" size="50"/>
                <div id="check-password-icon"></div>
              </div>
              <span id="check-password-message"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5 col-sm-offset-4">
            <div id="check-confirm-password-div" class="form-group" aria-live="assertive">
              <label for="confirm_password" class="control-label">Confirm password</label>
              <div class="input-group" aria-live="assertive">
                {#<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>#}
                <input autocomplete="off" class="form-control" required type="password" id="confirm_password"
                       name='confirm_password' onkeyup="checkConfirmPassword()" value=""
                       placeholder="Re-enter your password" size="50"/>
                <div id="check-confirm-password-icon"></div>
              </div>
              <span id="check-confirm-password-message"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5 col-sm-offset-4">
            <hr>
            <p>
              By clicking on "Create an account" below, you are agreeing to the <a id="sign-up-tos-link"
                                                                                   href="{{ asset('bundles/app/terms-conditions.html') }}">Terms
                of Services</a> and the <a id="sign-up-privacy-policy-link"
                                           href="//www.iubenda.com/privacy-policy/8001896">Privacy Policy</a>.
            </p>
            <hr>
          </div>
        </div>
        <div class="row">

          <div class="col-sm-5 col-sm-offset-4">
            <div class="form-group">
              <input title="Create an account" class="btn btn-primary" name="signupbutton" id="signupbutton"
                     onclick="createUser()"
                     value="Create an account"/>
              <input type="reset" class="btn btn-default" id="reset" name="reset" value="Cancel"/>
            </div>
          </div>
        </div>
      </form>

    </main>

  </div>

{% endblock content %}
