{% extends 'base.twig' %}

{% block navbar %}
  {% include 'util/welcome-navigation-bar.twig' %}
{% endblock %}

{% block content %}
  <div class="container">


    {#<div id="reset_password_warning" style="display: none">#}
      {#<div class="alert alert-warning alert-dismissible">#}
        {#<a id="reset_password_warning_dismiss" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>#}
        {#<strong>Warning!</strong> In an effort to improve security, we have updated the password policies since March#}
        {#20, 2018. Therefore,#}
        {#all registered users are required to reset their password, if they haven't done it yet, by clicking on the button below.#}
        {#<hr>#}
        {#<a class="btn btn-default"#}
           {#data-toggle="modal"#}
           {#data-target="#forgot">Reset#}
          {#your password</a>#}
      {#</div>#}
    {#</div>#}

    <div class="row">
      <div class="col-xs-4 col-sm-offset-4">

        <header role="banner">

          <h1 id="page-title">Sign in to MT-equal<br>

          </h1>


        </header>

        <main role="main" id="mainContent">


          {# start code written by Roberto #}
          <div class="well well-sm">
            <form id=loginform action="{{ path('app_user_authenticate') }}" method="POST" autocomplete="on">
              <input type="hidden" name="CsrfToken" value="{{ csrf_token('authenticate') }}">
              <div class="form-group">
                <label for="user" class="control-label">Username</label>
                <div>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa-lg" aria-hidden="true"></i></span>
                    <input type="text" required="required" class="form-control" name='user' id='user'
                           placeholder="Enter your username"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="user_password" class="control-label">Password</label>
                <div>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" required="required" class="form-control" name='password' id='user_password'
                           placeholder="Enter your password"/>
                  </div>
                </div>
              </div>
              <p>
                <input type="submit" class="btn btn-primary" value="Login"/>
                {#<a href="javascript:;" class="btn" data-toggle="modal" data-target="#forgot">Forgot your password?</a>#}
                <a class="btn" data-toggle="modal" data-target="#forgot">Forgot your password?</a>
              </p>
            </form>
          </div>

          <div class="well well-sm">
            Don't have an account? <a id="sign-up-link" href="{{ path('app_user_sign_up') }}">Sign up.</a>
          </div>
        </main>
      </div>

    </div>
  </div>

  <div id="forgot" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myForgot">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button id="modal-forgot-password-close-header" type="button" class="close" data-dismiss="modal"
                  aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myForgot">Reset password</h4>
        </div>
        <div class="modal-body">
          <form id="forgot-password-form" action="{{ path('app_user_reset_password_request') }}" method="POST"
                autocomplete="on">
            <input type="hidden" name="CsrfToken" value="{{ csrf_token('authenticate') }}">
            <label for="email" class="control-label">Enter the email address that you used to register. We'll send you
              an email with your username and a link to reset your password.</label>
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
              <input class="form-control" id="email" name="email" required="required" type="email"
                     placeholder="Enter your email" autofocus/>
            </div>

            <p>
              <input type="submit" class="btn btn-primary" value="Submit"/>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block script %}

  {{ parent() }}

  <script language="JavaScript">
    $(document).ready(function () {
      console.log($.cookie('reset_password_warning'));
      if (typeof $.cookie('reset_password_warning') === 'undefined' || $.cookie('reset_password_warning') === 'true') {
        $("#reset_password_warning").show();
      }
    });

    $("#reset_password_warning_dismiss").click(function () {
      $.cookie('reset_password_warning', 'false');
      console.log($.cookie('reset_password_warning'));
    });
  </script>
{% endblock script %}