{% extends 'default/main-navigation.twig' %}

{% block script %}

  {{ parent() }}

  <script language="JavaScript">

    <!-- user profile scripts -->

    function showPersonalData() {
      $('#change-password-li').removeClass('active');
      $('#personal-data-li').addClass('active');
      $('#change-password-div').hide();
      $('#personal-data-div').show();
    }

    function showChangePassword() {
      $('#personal-data-li').removeClass('active');
      $('#change-password-li').addClass('active');
      $('#personal-data-div').hide();
      $('#change-password-div').show();
    }


  </script>
{% endblock script %}


{% block content %}
  <!-- user profile content -->

  {% include 'util/debug.twig' with {'parent': 'default/user-profile.twig'} %}

  <div class="container-fluid">
    <header role="banner">
      <h1 id="page-title">User profile</h1>


      <nav>
        <ul class="nav nav-tabs">
          <li id="personal-data-li" class="active">
            <a id="personal-data-item" onclick="showPersonalData()">
              <i class="fa fa-user" aria-hidden="true"></i>
              Personal data
            </a>
          </li>
          <li id="change-password-li">
            <a id="change-password-item" onclick="showChangePassword()">
              <i class="fa fa-lock" aria-hidden="true"></i>
              Change password
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="mainContent" role="main" tabindex="-1">

      <div id="personal-data-div">
        {% include 'util/user-profile-personal-data.twig' %}
      </div>

      <div id="change-password-div" style="display: none">
        {% include 'util/user-profile-change-password.twig' %}
      </div>

    </main>

  </div>

{% endblock content %}