<header role="banner">
  <div class="jumbotron text-center">
    <h1 id="page-title">MT-equal</h1>
    {#<h1 id="page-title"><span style="color: red;">M</span><span style="color: orange;">T</span>-<span style="color: yellow;">e</span><span style="color: green;">q</span><span style="color: blue;">u</span><span style="color: indigo;">a</span><span style="color: violet;">l</span></h1>#}
    <h2 id="page-subtitle" style="color: #686868">A web application for human evaluation of machine translation quality</h2>
  </div>
</header>

<main id="mainContent" role="main" tabindex="-1">
  <div class="container" style="margin-top: 2%">
    <div class="row">
      <div class="col-lg-4">

        <section aria-labelledby="region1" role="region">
          <h3 class="text-info" id="region1"><i class="fa fa-users" aria-hidden="true"></i> COLLABORATIVE ENVIRONMENT</h3>

          <p class="text-info" style="font-size: 120%">Web-based and multi-user, allowing large-scale evaluation projects.
            Sophisticated project management functions, notification mechanisms, and progress monitoring
            capabilities that enhance the evaluation workflow and simplify teamwork.</p>
        </section>
      </div>
      <div class="col-lg-4" role="region">
        <section aria-labelledby="region2">
          <h3 class="text-info" id="region2"><i class="fa fa-cogs" aria-hidden="true"></i> FLEXIBLE AND EASY<br>TO USE INTERFACE</h3>
          <p class="text-info" style="font-size: 120%">Highly configurable tasks:
            design settings and evaluation workflow can be customised according to your specific needs.
            Fast, clear, and intuitive interface,
            compliant with accessibility standards.</p>
        </section>
      </div>
      <div class="col-lg-4" role="region">
        <section aria-labelledby="region3">
          <h3 class="text-info" id="region3"><i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i> BUILT-IN DATA QUALITY ASSURANCE</h3>
          <p class="text-info" style="font-size: 120%">Automatic procedures to ensure the workflow consistency, to reduce evaluator workload, and
            to assess evaluator reliability.
            Real-time updated evaluation report to monitor data quality, evaluation results, and evaluator trustability.
            Optional data and evaluator review available.</p>
        </section>
      </div>
    </div>
  </div>
</main>