<!-- Author: Claudio Giuliano (giuliano@fbk.eu) -->
<!-- includes project/evaluation-progress.twig -->

{% include 'util/debug.twig' with {'parent': 'panel/evaluation-progress.twig'} %}

{% if "admin" in userRoles
  or "owner" in userRoles
  or "vendor" in userRoles %}

  <div class="container-fluid">
    <h2 id="page-subtitle">Evaluation progress</h2>

    <div id="evaluation-monitor"></div>
  </div>
  <script language="JavaScript">

    $(document).ready(function () {
      evaluationMonitor();

      //polling
      var myVar = setInterval(function () {
        evaluationMonitor();
      }, 60000);

    });

    function evaluationMonitor() {
      console.log("evaluation progress...");
      $.ajax({
        url: "{{ path('app_evaluation_progress') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "pid": {{ pid }},
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "GET",
        async: true,
        cache: false,
        crossDomain: false,
        beforeSend: function () {
          console.log("calling evaluation progress...");
        },
        success: function (html) {
          console.log("called evaluation progress...");
          $("#evaluation-monitor").html(html);

        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }
  </script>
{% else %}
  {% include 'exception/invalid.twig' %}
{% endif %}