<!-- panel/evaluation.twig -> tu_evaluation -> listing/evaluation.twig -->

{% include 'util/debug.twig' with {'parent': 'panel/evaluation.twig'} %}

{% if id is not defined %}
  {% set id = "" %}
{% endif %}

{% if "evaluator" in userRoles %}

  <h2 id="page-subtitle">Evaluation</h2>
  <section role="region">
    {% include "util/instructions.twig" %}
  </section>

  {# to evaluate complete = 0 and disable = 0#}
  <section role="region">
    <div id="tu-evaluation"></div>
  </section>

  <section role="region">
    <div id="new-evaluation"></div>
  </section>


  <script>

    $(document).ready(function () {
      console.log('calling evaluation form');
      showEvaluationForm(false);
    });

    function showEvaluationForm(last) {
      console.log('display the evaluation form');
      $.ajax({

        url: "{{ path('app_evaluation_next') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "id": "{{ id }}",
          "last": last,
          "pid": {{ pid }},
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "GET",
        async: true,
        cache: false,
        //crossDomain: false,
        beforeSend: function () {
          console.log('loading evaluation form...');
        },
        success: function (html) {
          console.log('evaluation form found');
          $("#new-evaluation").html(html);
        }
      });
    }

  </script>

{% else %}
  {% include 'exception/invalid.twig' %}
{% endif %}
