<!-- Embeds sentence.twig -->

{% include 'util/debug.twig' with {'parent': 'panel/evaluation-launch.twig'} %}

{% if corpus is not defined %}
  {% set corpus = "" %}
{% endif %}

{% if "admin" in userRoles
  or "owner" in userRoles %}


  <div class="container-fluid">

    <h2 id="page-subtitle">Evaluation launch</h2>

    <section role="region">
      <div class="alert alert-info">
        <strong>Info!</strong> Use this page to check the dataset and launch the evaluation.
        If the <em>pooling</em> has been set, check that equivalent translation units have been removed.
        If the <em>intra-annotator agreement</em> has been set, check that the redundant translation units have been
        introduced.
        <i class="fa fa-clock-o" aria-hidden="true"></i> Notice that, if the dataset contains thousands of translation
        units, the page may need some seconds to load as the
        generation of
        the dataset is a time consuming task.
      </div>

    </section>


    <!-- begin confirm -->

    <section role="region">
      <div id="check-corpus-info-confirmed" class="alert alert-success" style="display: none;">
        <p><strong>Success!</strong> The evaluation has been <em>launched</em>. Use the <a
                  href="{{ path('admin') }}?pid={{ pid }}&view=evaluation-progress">
            <i class="fa fa-line-chart" aria-hidden="true"></i> Evaluation progress</a> to track the progress of the
          evaluation.
        </p>
        <hr>
        <button id="check-corpus-task-undo" onclick="setCheckCorpusIncomplete()" type="button"
                class="btn btn-danger btn-task"><i class="fa fa-stop" aria-hidden="true"></i> Stop evaluation
        </button>
      </div>

      <div id="check-corpus-warning-not-confirmed" class="alert alert-warning" style="display: none;">
        <p><strong>Warning!</strong> The evaluation has not been <em>launched</em> yet. Check the dataset and if
          everything is okay launch it. If the dataset has not been created or presents errors, for example, it doesn't contain the redundant translation units, then click on the "Recreate dataset"
          link below.</p>
        <hr>
        <button id="launch-eval-btn" onclick="setCheckCorpusComplete()" type="button"
                class="btn btn-success btn-task"><i class="fa fa-play" aria-hidden="true"></i> Launch evaluation
        </button>

        <button id="re-create-dataset-btn" onclick="resetDataset()" type="button"
                class="btn btn-link">Recreate dataset
        </button>

      </div>
    </section>
    <!-- end confirm -->


    <section role="region">
      <h2 id="page-subtitle">Dataset check-up</h2>
      <div id="progress-div" aria-live="assertive"></div>

      <div id="sentences"></div>
    </section>

  </div>

  {% include 'util/alert-close-modal.twig' %}

  <script>
    {# new scripts #}


    function setCheckCorpusIncomplete() {
      $.ajax({
        url: "{{ path('app_stop_evaluation') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "pid": {{ pid }},
          "task": "check_corpus",
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "POST",
        cache: false,
        crossDomain: false,
        beforeSend: function () {
          console.log("stopping evaluation...");
        },
        success: function (data) {
          console.log(data);
          if (data.valid) {
            showCheckCorpusAlert(false);
            MyNotify(data.message, null, null, "success");
          } else {
            showAlertClose('Warning', data.message, data.tip);
          }
        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    function setCheckCorpusComplete() {
      $.ajax({
        url: "{{ path('app_start_evaluation') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "pid": {{ pid }},
          "task": "check_corpus",
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "POST",
        cache: false,
        crossDomain: false,
        beforeSend: function () {
          console.log("launching evaluation...");
        },
        success: function (data) {
          console.log(data);
          if (data.valid) {
            showCheckCorpusAlert(true);
            MyNotify(data.message, null, null, "success");
          } else {
            showAlertClose('Warning', data.message, data.tip);
            //here we have to show or run the reset
          }
        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    function showCheckCorpusAlert(confirmed) {
      if (confirmed) {
        $('#check-corpus-warning-not-confirmed').hide();
        $('#check-corpus-warning-not-confirmed').attr("aria-hidden", true);


        $('#check-corpus-info-confirmed').show();
        $('#check-corpus-info-confirmed').attr("aria-hidden", false);
      } else {
        $('#check-corpus-info-confirmed').hide();
        $('#check-corpus-info-confirmed').attr("aria-hidden", true);

        $('#check-corpus-warning-not-confirmed').show();
        $('#check-corpus-warning-not-confirmed').attr("aria-hidden", false);
      }
    }

    {# old scripts #}

    function generateCorpus(corpus) {
      console.log('generating dataset ' + corpus + '...');
      $.ajax({
        url: "{{ path('app_project_create_dataset') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "pid": {{ pid }},
          //"CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "POST",
        //async: false,
        cache: false,
        crossDomain: false,
        beforeSend: function () {
          console.log("generating dataset...");
          //$("#progress-div").html('<i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i> <span class="sr-only">Loading...</span>');
          $("#progress-div").html('<p>Creating the dataset, please wait, it may take time... <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i></p>');

        },
        success: function (data) {
          console.log(data);
          if (data.valid) {
            $("#progress-div").html("");

            getTUs(corpus);
          } else {
            MyNotify(data.message, null, null, "danger");
          }

        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    function getTUs(corpus) {
      console.log('getting TUs ' + corpus + '...');
      $.ajax({
        url: "{{ path('app_project_get_dataset') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "corpus": corpus,
          "pid": {{ pid }},
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "GET",
        //async: false,
        cache: false,
        crossDomain: false,
        beforeSend: function () {
          console.log("getting TUs...");

          //$("#progress-div").html('<i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i> <span class="sr-only">Loading...</span>');
          $("#progress-div").html('<p>Loading dataset... <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i></p>');
        },
        success: function (html) {
          console.log("displaying the dataset...");
          $("#progress-div").html("");
          $("#sentences").html(html);
          $('#launch-eval-btn').prop('disabled', false);
          $('#launch-eval-btn').attr('aria-disabled', false);
        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }


    $(document).ready(function () {
      setTask("check_corpus");
    });

    function setTask(task) {

      console.log('setting task ' + task + '...');
      $.ajax({
        url: "{{ path('app_task_get_task') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "project": {{ pid }},
          "pid": {{ pid }},
          "task": task,
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "GET",
        cache: false,
        beforeSend: function () {
          console.log("getting task...");
          $('#launch-eval-btn').prop('disabled', true);
          $('#launch-eval-btn').attr('aria-disabled', true);
          //$("#progress-div").html('<i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i> <span class="sr-only">Loading...</span>');
          //$("#progress-div").html('Generating dataset... <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>');
        },
        success: function (data) {
          console.log(data);

          if (data.valid) {
            showCheckCorpusAlert(data.completed);

            // $('#launch-eval-btn').prop('disabled', true);
            // $('#launch-eval-btn').attr('aria-disabled', true);

            if (data.completed) {
              getTUs("{{ corpus }}");
            } else {
              //todo add an explicit request to generate the corpus if pooling and intra have been set
              generateCorpus("{{ corpus }}");
            }
          }

        },
        error: function (xhr, status, error) {
          errorHandler(xhr);
          //$("#launch-eval-btn").prop('disabled', true);
        }
      });
    }

    function resetDataset() {
      console.log('resetting dataset...');
      $.ajax({
        url: "{{ path('app_project_reset_dataset') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "pid": {{ pid }}
        },
        type: "POST",
        cache: false,
        crossDomain: false,
        beforeSend: function () {
          console.log("resetting dataset...");

          //$("#progress-div").html('<p>Creating the dataset, please wait, it may take time... <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i></p>');

        },
        success: function (data) {
          console.log(data);
          if (data.valid) {
            generateCorpus("{{ corpus }}");
          } else {
            MyNotify(data.message, null, null, "danger");
          }

        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }
  </script>
{% else %}
  {% include 'exception/invalid.twig' %}
{% endif %}
