<!-- Author: Claudio Giuliano (giuliano@fbk.eu) -->

{% include 'util/debug.twig' with {'parent': 'panel/monitor.twig'} %}

{% if "admin" in userRoles
  or "owner" in userRoles
  or "reviewer" in userRoles
  or "vendor" in userRoles %}

  <div class="container-fluid">
    <h2 id="page-subtitle">Project monitor</h2>

    <div id="project-monitor"></div>
  </div>

  <script language="JavaScript">

    $(document).ready(function () {
      projectMonitor();
    });

    function projectMonitor() {
      $.ajax({
        url: "{{ path('app_project_monitor') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "pid": {{ pid }},
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "GET",
        async: true,
        cache: false,
        crossDomain: false,
        beforeSend: function () {
        },
        success: function (html) {
          $("#project-monitor").html(html);

        }
      });
    }
  </script>
{% else %}
  {% include 'exception/invalid.twig' %}
{% endif %}