{% include 'util/debug.twig' with {'parent': 'panel/overview.twig'} %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h2 id="page-subtitle">Project overview</h2>


  <div class="row">
    <div class="col-sm-8">
      {#  col 1 #}
      {# PANEL 1 #}
      <section role="region" aria-labelledby="panel1">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" id="panel1">

              Summary
            </h3>
          </div>

          <div class="panel-body">

            <div class="alert alert-info" id="general-info">
              <strong>Info!</strong> This panel shows general information about the project.

              {% if "admin" in userRoles
                or "owner" in userRoles %}
                Go to <a href="{{ path('admin') }}?pid={{ pid }}&view=settings.details">
                <i class="fa fa-book fa-fw" aria-hidden="true"></i> Project settings</a> to define the project.
              {% endif %}

            </div>
            {# begin list#}
            <table class="table" aria-describedby="general-info">
              <tbody>
              <tr>
                <th scope="row">Name</th>
                <td id="project-name">
                </td>
              </tr>
              <tr>
                <th scope="row">Description</th>
                <td id="project-description">


                </td>
              </tr>
              {# Creation time #}
              <tr>
                <th scope="row">Creation time</th>

                <td id="project-created"></td>
              </tr>
              {# Last update #}
              <tr>
                <th scope="row">Last update</th>

                <td id="project-modified"></td>
              </tr>


              {# Format #}
              <tr>
                <th scope="row">Evaluation format</th>

                <td id="project-type"></td>
              </tr>

              <tr>
                <th scope="row">Pooling algorithm</th>
                <td id="project-pooling"></td>
              </tr>

              {# Uploaded corpus #}
              <tr>
                <th scope="row">Translation units</th>
                <td id="project-tus">

                </td>
              </tr>

              <tr>

                <th scope="row">Your roles</th>
                <td id="project-user-roles"></td>
              </tr>
              </tbody>
            </table>
            {# end list #}
          </div>

        </div>

      </section>


      {# PANEL 3 #}
      <section role="region" aria-labelledby="panel3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" id="panel3">
              Instructions
            </h3>
          </div>

          <div class="panel-body">


            <div class="alert alert-info">
              <strong>Info!</strong> This panel shows the instructions for the evaluators and reviewers.
              {% if "admin" in userRoles
                or "owner" in userRoles %}
                Go to <a href="{{ path('admin') }}?pid={{ pid }}&view=settings.instructions">
                <i class="fa fa-book fa-fw" aria-hidden="true"></i> Project
                instructions</a> to write or import them.
              {% endif %}
            </div>

            <div class="alert alert-warning" id="project-instructions-warning" style="display: none;">
              <strong>Warning!</strong> There are no instructions yet.
            </div>


            <div class="well well-sm" aria-describedby="instructions-info" id="project-instructions" style="display: none;">

            </div>


          </div>
        </div>
      </section>
      {# end col 1 #}
    </div>


    <div class="col-sm-4">
      {# col 2 #}


      {# PANEL 4 #}
      <section role="region" aria-labelledby="panel4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" id="panel4">
              <a data-toggle="collapse" data-parent="#accordion" href="#systems">
                Targets</a>
            </h3>
          </div>
          <div id="systems" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="alert alert-info" id="targets-info">
                <strong>Info!</strong> This panel shows the targets and the number of translation units per target in
                the dataset.

                {% if "admin" in userRoles
                  or "owner" in userRoles %}
                  Go to <a href="{{ path('admin') }}?pid={{ pid }}&view=settings.import">
                  <i class="fa fa-upload" aria-hidden="true"></i> Import data</a> to import the dataset.
                {% endif %}
              </div>

              <div class="alert alert-warning" id="project-targets-warning" style="display: none;">
                <strong>Warning!</strong> The dataset is empty.

              </div>

              <div id="project-targets"></div>


            </div>
          </div>
        </div>

      </section>

      {# PANEL 5 #}

      {% if "admin" in userRoles
        or "owner" in userRoles %}
        <section role="region" aria-labelledby="panel5">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title" id="panel5">
                <a data-toggle="collapse" data-parent="#accordion" href="#roles">
                  Roles</a>
              </h3>
            </div>
            <div id="roles" class="panel-collapse collapse in">
              <div class="panel-body">

                <div class="alert alert-info" id="roles-info">
                  <strong>Info!</strong> This panel shows the roles involved in the project and the number of users per
                  role.
                  {% if "admin" in userRoles
                    or "owner" in userRoles %}
                    Go to <a href="{{ path('admin') }}?pid={{ pid }}&view=settings.access">
                    <i class="fa fa-users" aria-hidden="true"></i> Project
                    invitation</a> to invite users and assign roles.
                  {% endif %}
                </div>

                <div class="alert alert-warning" id="project-roles-warning" style="display: none;">
                  <strong>Warning!</strong> There are no assigned roles.
                </div>

                <div id="project-roles"></div>


              </div>
            </div>
          </div>
        </section>
      {% endif %}

      {# end col 2 #}
    </div>
  </div>

</div>


<script language="JavaScript">

  function showProject(data) {
    console.log("showing project...");
    $('#project-name').text(data.name);

    if (data.description !== '') {
      $('#project-description').text(data.description);
    } else {
      $('#project-description').html('<span class="label label-danger">Not specified</span>');
    }

    $('#project-created').text(new Date(data.created.date).toLocaleString());
    $('#project-modified').text(new Date(data.modified.date).toLocaleString());
    console.log(data.blindrev);

    if (data.pooling === 'exact') {
      $('#project-pooling').text('Exact match (case sensitive)');
    } else if (data.pooling === 'exactins') {
      $('#project-pooling').text('Exact match (case insensitive)');
    } else if (data.pooling === 'bowins') {
      $('#project-pooling').text('Bag of words (case insensitive)');
    } else {
      $('#project-pooling').html('<span class="label label-danger">Not specified</span>');
    }

    if (data.type !== '') {
      $('#project-type').html('<span class="label label-primary">' + data.type + '</span>');
    } else {
      $('#project-type').html('<span class="label label-danger">Not specified</span>');
    }

    if (data.userRoles.length === 0) {
      $('#project-user-roles').html('<span class="label label-danger">Not specified</span>');
    } else {
      var html = '';
      for (var key in data.userRoles) {
        html += '<span class="label label-primary">' + data.userRoles[key] + '</span>';
      }
      $('#project-user-roles').html(html);
    }

    if (data.tus === 0) {
      $('#project-tus').html('<span class="label label-danger">Not specified</span>');
    } else {
      $('#project-tus').html(data.tus);
    }

    if (data.instructions.length === 0) {
      $('#project-instructions-warning').show();
    } else {
      $('#project-instructions-warning').hide();
      $('#project-instructions').html(data.instructions);
      replaceHeaders();
      $('#project-instructions').show();
    }

    if (data.targets.length === 0) {
      $('#project-targets-warning').show();
    } else {
      $('#project-targets-warning').hide();
      var html = '<ul class="list-group" aria-describedby="targets-info">';
      for (var key in data.targets) {
        html += '<li class="list-group-item">Target ' + (parseInt(key) + 1) + '<span class="badge">' + data.targets[key].sentences + '</span></li>';
      }
      html += '</ul>';
      $('#project-targets').html(html);
    }

    console.log('-' + data.projectRoles + '-');
    if (data.projectRoles.length === 0) {
      console.log('a ' + data.projectRoles.length);
      $('#project-roles-warning').show();
    } else {
      console.log('b ' + data.projectRoles.length);
      $('#project-roles-warning').hide();

      var html = '<ul class="list-group" aria-describedby="targets-info">';
      for (var key in data.projectRoles) {

        html += '<li class="list-group-item">' + data.projectRoles[key].role + '<span class="badge">' + data.projectRoles[key].num + '</span></li>';
      }
      html += '</ul>';
      $('#project-roles').html(html);
    }
  }


  function loadProject() {
    console.log("loading project...");
    $.ajax({
      type: "GET",
      url: "{{ path('app_project_get_project') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "pid": {{ pid }}
      },
      cache: false,
      beforeSend: function () {
      },
      success: function (data) {
        console.log(data);
        if (data.valid) {
          showProject(data);

        } else {
          MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  $(document).ready(function () {
    loadProject();
  });

  //Introduced to fix accessibility issues: cannot have h1, h2, ... from instructions appended under an h4.
  function replaceHeaders() {
    for (var i = 6; i > 0; i--) {
      var e = $('#project-instructions').find("h" + i);
      var v = i + 3;
      e.each(function () {
        $(this).replaceWith("<h" + v + ">" + $(this).text() + "</h" + v + ">");
      })
    }
  }
</script>



