{% include 'util/debug.twig' with {'parent': 'panel/report.twig'} %}

{% if "admin" in userRoles
  or "owner" in userRoles
  or "reviewer" in userRoles
  or "vendor" in userRoles %}
  
  <div class="container-fluid">
    <h2 id="page-subtitle">Evaluation report</h2>

    <section role="region">

      {# Info section #}
      <div class="alert alert-info">
        <strong>Info!</strong> This page shows the evaluation report.


      </div>
    </section>

    <section role="region">
      {# Only admin or owner can finlize the project #}
      {% if "admin" in userRoles
        or "owner" in userRoles %}


        <div id="project-finalize-info-confirmed" class="alert alert-success" style="display: none;">
          <p><strong>Success!</strong> The project has been completed. To modify it, mark it as incomplete.</p>
          <hr>
          <button id="guidelines-task-undo" onclick="setProjectIncomplete()" type="button"
                  class="btn btn-default btn-task" aria-label="Mark as incomplete the project"><i class="fa fa-unlock"
                                                                                                  aria-hidden="true"></i>Mark
            as incomplete
          </button>
        </div>

        <div id="project-finalize-warning-not-confirmed" class="alert alert-warning" style="display: none;">
          <p><strong>Warning!</strong> The project has not been completed yet. When it will be finished, mark it as
            complete.
          </p>
          <hr>
          <button id="mark-complete-btn" onclick="setProjectComplete()" type="button"
                  class="btn btn-default btn-task" aria-label="Mark as complete the project"><i class="fa fa-lock"
                                                                                                aria-hidden="true"></i>
            Mark as complete
          </button>
        </div>


      {% endif %}

    </section>


    <div id="eval-report"></div>

    {% include 'util/alert-close-modal.twig' %}
  </div>
  <script>

    function setProjectIncomplete() {
      $.ajax({
        url: "{{ path('set_task_incomplete') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "pid": {{ pid }},
          "task": "finalize",
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "POST",
        cache: false,
        crossDomain: false,
        beforeSend: function () {
          console.debug("setting project incomplete...");
        },
        success: function (data) {
          console.debug(data);
          if (data.valid) {
            showProjectAlert(false);
          } else {
            showAlertClose('Warning', data.message, data.tip);
          }
        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    function setProjectComplete() {
      $.ajax({
        url: "{{ path('set_task_complete') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "pid": {{ pid }},
          "task": "finalize",
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "POST",
        cache: false,
        crossDomain: false,
        beforeSend: function () {
          console.debug("setting project complete...");
        },
        success: function (data) {
          console.debug(data);
          if (data.valid) {
            showProjectAlert(true);
          } else {
            showAlertClose('Warning', data.message, data.tip);
          }
        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    function showProjectAlert(confirmed) {
      if (confirmed) {
        $('#project-finalize-warning-not-confirmed').hide();
        $('#project-finalize-warning-not-confirmed').attr("aria-hidden", true);


        $('#project-finalize-info-confirmed').show();
        $('#project-finalize-info-confirmed').attr("aria-hidden", false);
      } else {
        $('#project-finalize-info-confirmed').hide();
        $('#project-finalize-info-confirmed').attr("aria-hidden", true);


        $('#project-finalize-warning-not-confirmed').show();
        $('#project-finalize-warning-not-confirmed').attr("aria-hidden", false);
      }
    }

    $(document).ready(function () {
      setTask("finalize");
      showReport();
    });

    function showReport() {
      $.ajax({
        type: "GET",
        url: "{{ path('app_evaluation_report') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "pid": {{ pid }},
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        cache: false,
        beforeSend: function () {
          console.debug("generating the report...");
        },
        success: function (data) {
          $("#eval-report").html(data);
        }
      });
    }

    function setTask(task) {
      console.debug('setting task ' + task + '...');
      $.ajax({
        url: "{{ path('app_task_get_task') }}",
        {#data: {{ app.session.get('PROJECT_ID') }},#}
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "project": {{ pid }},
          "pid": {{ pid }},
          "task": task,
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: 'GET',
        cache: false,
        success: function (data) {
          console.debug(data);
          if (data.valid) {
            showProjectAlert(data.completed);
          }
        },
        error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }


    $('.closeall').click(function () {
      console.debug("close");
      $('.panel-collapse.in')
          .collapse('hide');
    });

    $('.openall').click(function () {
      console.debug("open");
      $('.panel-collapse:not(".in")')
          .collapse('show');
    });


  </script>

{% else %}
  {% include 'exception/invalid.twig' %}
{% endif %}
