<!-- this calls review/agreement that returns listing/agreement.twig -->
{% include 'util/debug.twig' with {'parent': 'panel/review.twig'} %}

{% if "reviewer" in userRoles %}

  <h2 id="page-subtitle">Review</h2>

  <div class="alert alert-info">
    <strong>Info!</strong>
    Use this page to review the evaluations, displayed as source/target pairs.
    {#If necessary, evaluators can be asked to re-confirm the evaluations.#}
  </div>

  <section role="region">
    <div id="review-info-confirmed" class="alert alert-success" style="display: none;">
      <p><strong>Success!</strong> This task has been <em>completed</em>. To modify this task, mark it as
        incomplete. Use the project monitor to track the progress of the other tasks.
      </p>
      <hr>
      <button id="review-task-undo" onclick="setReviewIncomplete()" type="button"
              class="btn btn-default btn-task" aria-label="Mark as incomplete the task review"><i class="fa fa-unlock"
                                                                                                  aria-hidden="true"></i>
        Mark as incomplete
      </button>
    </div>

    <div id="review-warning-not-confirmed" class="alert alert-warning" style="display: none;">
      <p><strong>Warning!</strong> This task has not been completed yet. When this task is
        finished, mark it as complete.</p>
      <hr>
      <button id="mark-complete-btn" onclick="setReviewComplete()" type="button"
              class="btn btn-default btn-task" aria-label="Mark as complete the task review"><i class="fa fa-lock"
                                                                                                aria-hidden="true"></i>
        Mark as complete
      </button>

    </div>

  </section>

  <section role="region">
    {% include "util/instructions.twig" %}
  </section>


  <section role="region">
    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Evaluations</h3>
        </div>

        <div class="panel-body"></div>

        <div class="container-fluid">
          <div class="checkbox">
            <label><input type="checkbox" id="showdisa" value="">Show just disagreement</label>
          </div>
        </div>

        <div class="container-fluid" id="review-spinner"></div>
        <div class="container-fluid" id="tu-review"></div>

      </div>

    </div>
  </section>

  {% include 'util/alert-close-modal.twig' %}

  <!-- Review modal -->
  <div id="review-modal" class="modal fade" role="dialog" data-num="0" data-id="0">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button id="modal-review-close-header" type="button" class="close" data-dismiss="modal" aria-label="close">
            &times;
          </button>
          <h4 id="review-modal-title" class="modal-title">Review</h4>
        </div>
        <div id="review-modal-body" class="modal-body">

        </div>
        <div class="modal-footer">
          <button id="modal-review-close-btn" type="button" class="btn btn-default" data-dismiss="modal"
                  aria-label="close">Close
          </button>
        </div>
      </div>

    </div>
  </div>

  <script type="text/javascript">

    function setReviewIncomplete() {
      $.ajax({
        url: "{{ path('set_task_incomplete') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "pid": {{ pid }},
          "task": "review",
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "POST",
        cache: false,
        crossDomain: false,
        beforeSend: function () {
          console.log("setting review incomplete...");
        },
        success: function (data) {
          console.log(data);
          if (data.valid) {
            taskCompleted = false;
            enableShowDisagreementCheckbox(false);
            enabledReviewTable(false);
            showReviewAlert(false);
          } else {
            showAlertClose('Warning', data.message, data.tip);
          }
        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    function setReviewComplete() {
      $.ajax({
        url: "{{ path('set_task_complete') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "pid": {{ pid }},
          "task": "review",
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "POST",
        cache: false,
        crossDomain: false,
        beforeSend: function () {
          console.log("setting review complete...");
        },
        success: function (data) {
          console.log(data);
          if (data.valid) {
            taskCompleted = true;
            enableShowDisagreementCheckbox(true);
            enabledReviewTable(true);
            showReviewAlert(true);
          } else {
            showAlertClose('Warning', data.message, data.tip);
          }
        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    function showReviewAlert(confirmed) {
      if (confirmed) {
        $('#review-warning-not-confirmed').hide();
        $('#review-warning-not-confirmed').attr("aria-hidden", true);

        $('#review-info-confirmed').show();
        $('#review-info-confirmed').attr("aria-hidden", false);
      } else {
        $('#review-info-confirmed').hide();
        $('#review-info-confirmed').attr("aria-hidden", true);


        $('#review-warning-not-confirmed').show();
        $('#review-warning-not-confirmed').attr("aria-hidden", false);
      }
    }

    function enableShowDisagreementCheckbox(confirmed) {
      console.info("review enabled", confirmed);

      $('#showdisa').prop('disabled', confirmed);
      $('#showdisa').attr('aria-disabled', confirmed);


    }

    function getPairToReview() {
      console.info("getting pair to review...");

      //todo check if it can be skipped is isTaskConfirmed is true
      var id = $(this).data('id');
      var num = $(this).data('num');
      var target = $(this).data('target');
      var source = $(this).data('source');
      var reviewModal = $("#review-modal");
      reviewModal.data("target", target);
      reviewModal.data("source", source);
      reviewModal.data("nun", num);
      reviewModal.data("id", id);

      $('#review-modal-title').text("Review translation unit " + id);
      reviewModal.modal('show');

      $.ajax({
        type: "GET",
        url: "{{ path('app_project_get_pair') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "num": num,
          "id": id,
          "pid": {{ pid }}
        },
        cache: false,
        beforeSend: function () {
          console.log('opening review panel...')
        },
        success: function (response) {
          $("#review-modal-body").html(response);
        },
        error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    $('#showdisa').click(function (event) {
      if ($.cookie('review_disagreement')) {
        $.removeCookie('review_disagreement');
      } else {
        $.cookie("review_disagreement", "on");
      }

      getAgreement();
      event.stopPropagation();
    });

    function getAgreement() {
      console.log('disagreement: ' + $.cookie('review_disagreement'));
      console.log('complete: ' + $.cookie('review_complete'));

      $.ajax({
        url: "{{ path('app_project_get_agreement') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "disagreement": $.cookie('review_disagreement'),
          "complete": $.cookie('review_complete'),
          "pid": {{ pid }},
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "GET",
        async: true,
        cache: false,
        crossDomain: false,
        beforeSend: function () {
          console.log("calling agreement data...");
          $("#tu-review").empty();
          $("#review-spinner").html("<p>Loading evaluations to review... <i class=\"fa fa-spinner fa-spin fa-fw\" aria-hidden=\"true\"></i><p>");
        },
        success: function (html) {
          console.log("got agreement data...");
          $("#review-spinner").empty();
          $("#tu-review").html(html);

          enabledReviewTable(taskCompleted);
        },
        error: function (xhr, status, error) {
          $("#review-spinner").empty();
          errorHandler(xhr);
        }
      });
    }

    if ($.cookie('review_disagreement') === "on") {
      $("#showdisa").attr('checked', true);
    } else {
      $("#showdisa").attr('checked', false);
    }

    $(document).ready(function () {
      setTask("review");
    });

    function enabledReviewTable(completed) {
      //todo the table must be enabled/disabled here
      if (completed) {
        //disable the review
        console.debug("in", completed);
        $(".open-evaluation-list").css("cursor", "not-allowed");

        $('.open-evaluation-list').unbind('click');

      } else {
        //enable the review
        console.debug("out", completed);
        $(".open-evaluation-list").css("cursor", "pointer");
        $('.open-evaluation-list').on('click', getPairToReview);

      }
    }

    function setTask(task) {
      console.log('setting task ' + task + '...');
      $.ajax({
        url: "{{ path('app_task_get_task') }}",
        {#data: {{ app.session.get('PROJECT_ID') }},#}
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "project": {{ pid }},
          "pid": {{ pid }},
          "task": task,
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        type: "GET",
        cache: false,
        success: function (data) {
          console.log(data);
          if (data.valid) {
            taskCompleted = data.completed;

            enableShowDisagreementCheckbox(data.completed);
            showReviewAlert(data.completed);
            getAgreement();
          }
        },
        error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    var taskCompleted = false;

  </script>
{% else %}
  {% include 'exception/invalid.twig' %}
{% endif %}
