<!DOCTYPE html>
<html lang="en">
<body>

<p> Hi {{ invitee.username }},</p>

<p>Your access to the project <em>{{ project.name }}</em> as {{ role }} has been revoked by {{ revoker.username }}.</p>

{% include 'mail/email.footer.twig' %}

</body>
</html>