<!DOCTYPE html>
<html lang="en">
<body>
<p>Hi {{ user.username }},</p>

<p>Thanks for signing up!</p>

<p>To activate your account, please click on the link below <b>within the next
    {% transchoice expiringHours %}
    {0} 0 hours |{1} 1 hour|]1,Inf] %expiringHours% hours
    {% endtranschoice %}.</b></p>

<p><a id="link-item" href="{{ host }}{{ path('app_user_activate_account') }}?hash={{ user.hash }}"
      target="_blank">{{ host }}{{ path('app_user_activate_account') }}?hash={{ user.hash }}</a>
</p>

{% include 'mail/email.footer.twig' %}

</body>
</html>