<!DOCTYPE html>
<html lang="en">
<body>
<p>Hi,</p>

<p>
  {{ inviter.username }} has invited you to work on the project <em>{{ project.name }}</em> as <em>{{ role.role }}</em>.
  Please follow the instructions below to accept the invitation.</p>

<p>An account has been created for you with the following credentials.</p>

<p>Username: {{ invitee.username }}<br>
  Password: {{ password }}</p>

<p>To activate your account, please click on the link below <b>within the next
    {% transchoice expiringHours %}
    {0} 0 hours |{1} 1 hour|]1,Inf] %expiringHours% hours
    {% endtranschoice %}.</b></p>

<p><a id="link-item" href="{{ host }}{{ path('app_invited_user_activate_account') }}?hash={{ invitee.hash }}"
      target="_blank">{{ host }}{{ path('app_invited_user_activate_account') }}?hash={{ invitee.hash }}</a>
</p>

<p>You will be prompted to set a permanent password on your first login.</p>

<p>Finally, to accept the invitation, open the Requests tab within your Dashboard and accept the request to work on the
  project <em>{{ project.name }}</em> as <em>{{ role.role }}</em>.</p>

{% include 'mail/email.footer.twig' %}


</body>
</html>