<!DOCTYPE html>
<html lang="en">
<body>
<p>
  Hi {{ userTo }},

  {% if username is defined %}
<p>{{ username }} has overrun the limit of {{ maxDontKnow }} <em>don't know</em> answers in the project <em>{{ projectname }}</em>.</p>
{% else %}
  <p>A user has overrun the limit of <em>don't know</em> answers in the project <em>{{ projectname }}</em>.</p>
{% endif %}

<p>The current number of <em>don't know</em> answers is {{ countDontKnow }}.</p>

<p>
  The project <em>{{ projectname }}</em> is accessible from this <a id="link-item"
                                                                    href="{{ hostname }}{{ path('admin') }}?view=monitor&pid={{ projectid }}"
                                                                    target="_blank">link</a>.
</p>

{% include 'mail/email.footer.twig' %}

</body>
</html>