<!DOCTYPE html>
<html lang="en">
<body>
<p>Hi {{ user.username }},</p>
<p>The project <em>{{ project.name }}</em> can be evaluated.
</p>
<p>The project is accessible from your <a id="dashboard-item" href="{{ host }}{{ path('app_dashboard_page') }}" target="_blank">dashboard</a>.</p>

{% include 'mail/email.footer.twig' %}

</body>
</html>
