<!DOCTYPE html>
<html lang="en">
<body>
<p>
  Hi {{ user.username }},</p>
<p>The evaluation of the project <em>{{ project.name }}</em> has been stopped.
</p>
<p>
  Check out the status of the project <em>{{ project.name }}</em> on the <a id="dashboard-item" href="{{ host }}{{ path('app_dashboard_page') }}"
                                                                            target="_blank">dashboard</a>
</p>

{% include 'mail/email.footer.twig' %}

</body>
</html>