<!DOCTYPE html>
<html lang="en">
<body>
<p>
  Hi {{ userTo }},</p>
{% if username is defined %}
  <p>{{ username }} has just completed the evaluation of the project "{{ projectname }}".</p>
{% else %}
  <p> A user has just completed the evaluation of the project "{{ projectname }}".</p>
{% endif %}

<p>
  Check the status of the project <a id="project-item" href="{{ hostname }}{{ path('admin') }}?view=monitor&pid={{ projectid }}"
                                     target="_blank">
    {{ projectname }}</a>.
</p>

{% include 'mail/email.footer.twig' %}
</body>

</html>