<!DOCTYPE html>
<html lang="en">
<body>

<p>
  Hi {{ username }},</p>
<p>Your evaluations have been marked as not confirmed for the project "{{ projectname }}".</p>
<p>You have to review all your evaluations.</p>
<p>
  The project is accessible from this <a id="link-item" href="{{ hostname }}{{ path('admin') }}?view=monitor&pid={{ projectid }}" target="_blank">link</a>.
</p>

{% include 'mail/email.footer.twig' %}

</body>
</html>