<!DOCTYPE html>
<html lang="en">
<body>
<p>Hi {{ invitee.username }},</p>

<p><em>{{ inviter.username }}</em> has invited you to work on the project <em>{{ project.name }}</em> as
  <em>{{ role.role }}.</em></p>

{% if invitee.active == 1 %}
  <p>
    Do you accept or decline the invitation?
  </p>

  <p>
    <a id="accept-item" href="{{ host }}{{ path('app_user_reply_invitation') }}?hash={{ role.hash }}&action=accepted"
       target="_blank">
      Accept</a>
    <a id="decline-item" href="{{ host }}{{ path('app_user_reply_invitation') }}?hash={{ role.hash }}&action=declined"
       target="_blank">
      Decline</a>
  </p>

{% else %}

  <p>To accept the invitation, first active your account following the instructions sent in the previous email, then open the Requests tab
    within your Dashboard and accept the request to work on the
    project <em>{{ project.name }}</em> as <em>{{ role.role }}</em>.</p>

{% endif %}



{% include 'mail/email.footer.twig' %}

</body>
</html>

