<!DOCTYPE html>
<html lang="en">
<body>
<p>Hi,</p>

<p>You've recently asked to reset the password for this account:
  {{ user.username }}</p>
<p>
  To reset your password, please click the link below <b>within the next
    {% transchoice expiringHours %}
    {0} 0 hours |{1} 1 hour|]1,Inf] %expiringHours% hours
    {% endtranschoice %}.</b>
  This link is single use only for security reasons, so if you click it and don't use the link, you will need to request a new password reset.</p>


<p><a href="{{ host }}{{ path('app_user_reset_password_page') }}?hash={{ user.hash }}"
      target="_blank">
    {{ host }}{{ path('app_user_reset_password_page') }}?hash={{ user.hash }}</a></p>

{% include 'mail/email.footer.twig' %}

</body>
</html>