<!DOCTYPE html>
<html lang="en">
<body>
<p>Hi {{ username }},</p>

<p>The review of the project <em>{{ projectname }}</em> can start.</p>

<p>
  The project is accessible from this <a id="link-item" href="{{ hostname }}{{ path('admin') }}?view=monitor&pid={{ projectid }}" target="_blank">link</a>.
</p>

{% include 'mail/email.footer.twig' %}

</body>
</html>