<!DOCTYPE html>
<html lang="en">
<body>
<p>Hi {{ username }},</p>
&nbsp;<p>&nbsp;Your review has been marked as incomplete for the project "<b>{{ projectname }}</b>".</p>
<p>Please, check out your review task and mark it again as complete.</p>
<p>
  The project is accessible from this <a id="link-item"
                                         href="{{ hostname }}{{ path('admin') }}?view=monitor&pid={{ projectid }}"
                                         target="_blank">link</a>.
</p>

{% include 'mail/email.footer.twig' %}

</body>
</html>