<!DOCTYPE html>
<html lang="en">
<body>
<p>Hi,</p>
<p>{{ user.username }} has invited you to view the following evaluation report:</p>

<p>
  <a id="link-item" href="{{ url('app_render_project_report', {'token': token}) }}">{{ project.name }}</a>
</p>

{% include 'mail/email.footer.twig' %}

</body>
</html>