<!DOCTYPE html>
<html lang="en">
<body>

<p>Hi {{ userTo }},</p>
<p>The task "{{ task }}" of the project "{{ projectname }}" has been marked as incomplete by {{ userFrom }}.</p>
<p>Now the task can be modified and marked again as complete.</p>
<p>
  The project is accessible from this <a id="link-item" href="{{ hostname }}{{ path('admin') }}?view=monitor&pid={{ projectid }}" target="_blank">link</a>.
</p>

{% include 'mail/email.footer.twig' %}

</body>
</html>
