{# deprecated #}

{% extends 'base.twig' %}

{% block content %}

  <div class="container-fluid">

    {# todo verify why this is h1 #}
    <header role="banner">
      <h1 id="page-title">Shared evaluation report</h1>
    </header>

    <main id="mainContent" role="main" tabindex="-1">
      <div id="eval-report"></div>
    </main>

  </div>

{% endblock content %}
{% block script %}
  <script>

    $(document).ready(function () {

      //todo replace with a unique id
      var uid = {{ uid }};
      var pid = {{ pid }};
      console.debug("sharing report " + pid + " " + uid);
      $.ajax({

        type: "GET",

        url: "{{ path('app_get_report_page') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "uid": uid,
          "pid": pid
        },
        cache: false,
        beforeSend: function () {

          console.debug("generating a shareable evaluation report...");
        },
        success: function (data) {

          console.debug(data);
          $("#eval-report").html(data);

        }
      });

    });

  </script>

{% endblock script %}
