{% extends 'base.twig' %}
{% block title %}Evaluation Report{% endblock %}

{% block navbar %}
  {% include 'util/error-navigation-bar.twig' %}
{% endblock navbar %}

{% block content %}

  <div class="container-fluid">
    <header role="banner">
      <h1 id="page-title">Shared evaluation report</h1>
    </header>

    <main id="mainContent" role="main" tabindex="-1">
      <div id="eval-report"></div>
    </main>
  </div>

{% endblock content %}

{% block script %}
  <script>

    $(document).ready(function () {

      //todo replace with a unique id
      var token = "{{ token }}";

      //console.debug("sharing report " + token);
      $.ajax({

        type: "GET",

        url: "{{ path('app_get_report') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "token": token
        },
        cache: false,
        beforeSend: function () {

          console.debug("getting evaluation report...");
        },
        success: function (data) {

          //console.debug(data);

          //reuse the report template
          $("#eval-report").html(data);
        }
      });
    });

  </script>

{% endblock script %}
