<!-- Trigger the modal with a button -->
{#<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#alert-close-modal">Open Modal</button>#}

<!-- Modal -->
<div id="alert-close-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="modal-alert-close-header" type="button" class="close" data-dismiss="modal" aria-label="close">&times;</button>
        <h3 class="modal-title" id="alert-close-modal-status"></h3>
      </div>
      <div class="modal-body">
        <h4 id="alert-close-modal-message"></h4>

        <p id="alert-close-modal-tip"></p>


      </div>
      <div class="modal-footer">
        <button id="modal-alert-close-btn" type="button" class="btn btn-default" data-dismiss="modal" aria-label="close">Close</button>
      </div>
    </div>

  </div>
</div>

<script language="JavaScript">

  //  $(document).ready(function () {
  //  });

  function showAlertClose(status, message, tip) {

    $("#alert-close-modal-status").text(status + "!");
    if (message.endsWith(".")) {
      $("#alert-close-modal-message").text(message);
    } else {
      $("#alert-close-modal-message").text(message + ".");
    }


    if (tip !== "") {
//      if (tip.endsWith(".")) {
//        $("#alert-close-modal-tip").text(tip);
//      }
//      else {
//        $("#alert-close-modal-tip").text(tip + ".");
      $("#alert-close-modal-tip").text(tip);
    } else {
      $("#alert-close-modal-tip").text("");
    }


    $("#alert-close-modal").modal('show');
  }

  function hideAlertClose() {
    $("#alert-close-modal-status").text("empty");
    $("#alert-close-modal-message").text("empty");
    $("#alert-close-modal-tip").text("empty");
    $("#alert-close-modal").modal('hide');
  }
</script>