
  <div class='input-group date' id='date-picker-{{ id }}' >
    <input aria-labelledby="{{ labelledBy }}" type='text' class="form-control" data-id="{{ id }}" data-task="task-{{ id }}"/>
    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>

                    </span>


  </div>



<script type="text/javascript">
  $(function () {
    $('#date-picker-{{ id }}').datepicker({'format': 'yyyy-mm-dd'});
  });
</script>


