<!-- included in change-expired-password.twig and account.change-password.twig -->

<form class="form-horizontal" id="change-password-form">
  <input type=hidden name="CsrfToken" value="{{ csrf_token('authenticate') }}">


  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div id="check-current-password-div" class="form-group" aria-live="assertive">
        <label for="current_password" class="control-label">Current password</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input class="form-control" required type="password" id="current_password" name='current_password'
                 onkeyup="checkForm(event)" value="" placeholder="Enter your current password"/>
          <div id="check-current-password-icon"></div>
        </div>
        <span id="check-current-password-message"></span>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div id="check-password-div" class="form-group" aria-live="assertive">
        <label for="password" class="control-label">New password <a href="#" data-toggle="password-tooltip"
                                                                    title="Use at least three of the following classes: English uppercase and lowercase characters, numbers, and !#$%&'()*+,-./:;<=>?@[\]^_`{|}~"><i
                    class="fa fa-info-circle" aria-hidden="true"></i></a></label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input class="form-control" required type="password" id="password" name='password'
                 onkeyup="checkForm(event)" value="" placeholder="Enter your new password"/>
          <div id="check-password-icon"></div>
        </div>
        <span id="check-password-message"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div id="check-confirm-password-div" class="form-group" aria-live="assertive">
        <label for="confirm_password" class="control-label">Confirm new password</label>
        <div class="input-group" aria-live="assertive">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input class="form-control" required type="password" id="confirm_password"
                 name='confirm_password' onkeyup="checkForm(event)" value=""
                 placeholder="Re-enter your new password"/>
          <div id="check-confirm-password-icon"></div>
        </div>
        <span id="check-confirm-password-message"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="form-group" aria-live="assertive">
        <div class="checkbox">
          <label><input id="show-password" type="checkbox" value="" aria-label="Show the password">Show</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="form-group">
        <hr>
        <input title="change password" id="change-password" class="btn btn-primary" value="Change"
               onclick="changePassword()"/>
        <input type="reset" class="btn btn-default" id="reset" name="reset" value="Cancel"/>
      </div>
    </div>
  </div>

</form>


<script>

  $(document).ready(function () {
    $('[data-toggle="password-tooltip"]').tooltip({placement: "bottom", html: true});
  });

  $("#show-password").change(function () {
    if (this.checked) {
      console.debug("show password");
      $("#current_password").prop("type", "text");
      $("#password").prop("type", "text");
      $("#confirm_password").prop("type", "text");
    } else {
      console.debug("hide password");
      $("#current_password").prop("type", "password");
      $("#password").prop("type", "password");
      $("#confirm_password").prop("type", "password");
    }
  });

  function checkForm(event) {
    var key = event.keyCode;
    console.debug('ch: ' + key);
    if ((key > 16 && key < 46) || (key > 90 && key < 96)) {
      return;
    }

    if (checkCurrentPassword()) {
      console.debug('found error in current password');
      return;
    }

    if (checkConfirmPassword()) {
      console.debug('found error in confirm password');
      return;
    }

    checkPassword();
  }

  function checkPassword() {

    var password = $('#password').val();
    console.debug('checking password: ' + password + '...');
    if (password.length > 0) {
      setTimeout(function () {

        if ($('#password').val() === password) {
          $.ajax({
            type: "POST",
            url: "{{ path('app_user_validate') }}",
            headers: {
              "CsrfToken": "{{ csrf_token('authenticate') }}"
            },
            data: {
              "password": password,
              "CsrfToken": "{{ csrf_token('authenticate') }}"
            },
            cache: false,
            beforeSend: function () {
              console.debug('checking password...');
            },
            success: function (data) {

              console.debug(data);
              if (data.valid) {
                $("#check-password-div").removeClass("has-error").addClass("has-success");
                $("#check-password-icon").html('<span class="glyphicon glyphicon-ok form-control-feedback"></span>');
                $("#check-password-message").empty();
                return false;
              } else {
                $("#check-password-div").removeClass("has-success").addClass("has-error");
                $("#check-password-icon").html('<span class="glyphicon glyphicon-remove form-control-feedback"></span>');
                $("#check-password-message").html("<p class='text-danger'>" + data.tip + "</p>");
                return true;
              }
            },
            error: function (xhr, status, error) {
              errorHandler(xhr);
            }
          });
        }
      }, 500); // 1/2 sec delay to check.
    } else {
      $("#check-password-div").removeClass("has-error").removeClass("has-success");
      $("#check-password-icon").empty();
      $("#check-password-message").empty();
      return false;
    }
  }

  function checkConfirmPassword() {

    var password = $('#password').val();
    var confirmPassword = $('#confirm_password').val();

    console.debug('checking confirm password: ' + password + ' - ' + confirmPassword + '...');
    if (password.length === 0 || confirmPassword.length === 0) {
      $("#check-confirm-password-div").removeClass("has-error").removeClass("has-success");
      $("#check-confirm-password-icon").empty();
      $("#check-confirm-password-message").empty();
      return false;
    } else {
      if (password === confirmPassword) {

        $("#check-confirm-password-div").removeClass("has-error").addClass("has-success");
        $("#check-confirm-password-icon").html('<span class="glyphicon glyphicon-ok form-control-feedback"></span>');
        $("#check-confirm-password-message").empty();
        return false;
      } else {

        $("#check-confirm-password-div").removeClass("has-success").addClass("has-error");
        $("#check-confirm-password-icon").html('<span class="glyphicon glyphicon-remove form-control-feedback"></span>');
        $("#check-confirm-password-message").html("<p class='text-danger'>Password does not match confirm password.</p>");
        return true;
      }
    }
  }

  function checkCurrentPassword() {
    console.debug('checking current password...');
    var password = $('#password').val();
    var currentPassword = $('#current_password').val();

    console.debug('checking current password: ' + password + ' - ' + currentPassword + '...');
    if (password.length === 0 && currentPassword.length === 0) {
      console.debug('a.1');
      $("#check-password-div").removeClass("has-error").removeClass("has-success");
      $("#check-password-icon").empty();
      $("#check-password-message").empty();
      return false;
    } else {
      if (password !== currentPassword) {
        console.debug('a.2');
        $("#check-password-div").removeClass("has-error").addClass("has-success");
        $("#check-password-icon").html('<span class="glyphicon glyphicon-ok form-control-feedback"></span>');
        $("#check-password-message").empty();
        return false;
      } else {
        console.debug('a.3');
        $("#check-password-div").removeClass("has-success").addClass("has-error");
        $("#check-password-icon").html('<span class="glyphicon glyphicon-remove form-control-feedback"></span>');
        $("#check-password-message").html("<p class='text-danger'>Your new password must be different from your current one.</p>");
        return true;
      }
    }
  }

  function clear() {
    $('#current_password').val('');

    $('#password').val('');
    $("#check-password-icon").empty();
    $("#check-password-div").removeClass("has-success").removeClass("has-error");

    $('#confirm_password').val('');
    $("#check-confirm-password-icon").empty();
    $("#check-confirm-password-div").removeClass("has-success").removeClass("has-error");
  }

  function changePassword() {

    var currentPassword = $('#current_password').val();
    var password = $('#password').val();
    var confirmPassword = $('#confirm_password').val();

    console.debug('changing password: ' + currentPassword + ', ' + password + ', ' + confirmPassword + '...');

    var canRedirect = true;
    var hash;
    {#{% if hash is defined %}#}
    {#var hash = "{{ hash }}";#}
    {#{% endif %}#}


    //this is to distinguish between change expired password from change password
    {% if hash is not defined %}
    hash = "{{ app.session.get('user').hash }}";
    canRedirect = false;
    {% else %}
    hash = "{{ hash }}";
    {% endif %}

    console.debug('hash: ' + hash);
    $.ajax({
      type: "POST",
      url: "{{ path('app_user_change_password') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "current_password": currentPassword,
        "hash": hash,
        "password": password,
        "confirm_password": confirmPassword,
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        console.debug('changing the password...');
      },
      success: function (data) {
        console.debug(data);

        if (data.valid) {
          if (canRedirect) {
            MyNotify(data.message + ' You\'ll be redirected to dashboard in few seconds.', null, null, "success");
            console.debug("redirecting to " + data.redirect + " (" + canRedirect + ")...");
            setTimeout(function () {
              window.location.href = data.redirect + "?CsrfToken={{ csrf_token('authenticate') }}"
            }, 3000);
          } else {
            MyNotify(data.message, null, null, "success");
          }
          clear();
        } else {

          MyNotify(data.message, null, null, "danger");
        }

      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }
</script>