<style>
  .media-right {
    padding-right: 10px;
  }

  div.media {
    margin-top: 0;
  }
</style>

<!-- begin comments -->
<div class="tu-comments-{{ sentence.type }}" role="log" aria-live="polite" xmlns="http://www.w3.org/1999/html">

  <a id="title-comments-{{ sentence.type }}-1" href="#comments-{{ sentence.type }}-1" class="btn btn-link btn-md"
     data-toggle="collapse"><i class="fa fa-comment-o" aria-hidden="true"></i> Comments <span
            id="comments-count-{{ sentence.type }}-1" class="badge"></span></a>
  <div id="comments-{{ sentence.type }}-1" class="collapse" aria-labelledby="title-comments-{{ sentence.type }}-1">


    {% if sentence.comment != "" %}
      <!-- start comment imported from the file -->
      <div id="comments-body-{{ sentence.type }}-0">
        {% if sentence.comment | length > 0 %}

          <!--Left-aligned -->
          <div class="media">
            <div class="media-right">
              {#<span style="font-size:1.5em; padding: 2px;" class="glyphicon glyphicon-user"></span>#}
              <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <h5 class="media-heading">Project owner
                <small><i>Posted on {{ sentence.created | date("Y-m-d h:i:s") }}</i></small>
              </h5>
              <p>{{ sentence.comment }}</p>

            </div>
          </div>
        {% endif %}


      </div>
      <!-- end comment imported from the file -->
    {% endif %}

    <!-- start comments -->
    <div id="comments-body-{{ sentence.type }}-1">
    </div>
    <!-- end comments -->

    <div class="margin-bottom-05">
      <div class="form-group">
        <div class="input-group">


          <input aria-label="Write your comment here" id="comment-text-{{ sentence.type }}-1" type="text"
                 class="form-control"
                 placeholder="Write your comment here...">
          <div class="input-group-btn">
            <button id="comment-btn" aria-label="Comment"
                    onclick="setComment('{{ sentence.type }}', '{{ sentence.num }}', 1)" class="btn btn-default"
                    type="submit"><i
                      class="glyphicon glyphicon-comment"></i></button>
          </div>

        </div>

      </div>
    </div>


  </div>

</div>
<!-- end comments -->

<script>

  $(document).ready(function () {
    getComments("{{ sentence.type }}", "{{ sentence.num }}", 1);
    //todo remove the polling on specific comments when the evaluation/review page changes
    //polling
    {#setInterval(function () {#}
    {#getComments("{{ sentence.type }}", "{{ sentence.num }}", 1);#}
    {#}, 30000);#}

    $('#comment-text-{{ sentence.type }}-1').on("keyup", function (e) {
      //detect when the user presses Enter in an input field
      if (e.keyCode === 13) {
        setComment('{{ sentence.type }}', '{{ sentence.num }}', 1)
      }
    });
  });

  function setComment(type, num, j) {

    var comment = $("#comment-text-" + type + "-" + j).val();
    console.log("saving comment " + type + ", " + num + ", " + j + ", " + comment);
    if (/^\s*$/.test(comment)) {
      console.log("the comment is empty");
      return;
    }

    $.ajax({
      url: '{{ path('app_project_save_comment') }}',
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      type: "POST",
      data: {
        "obj": type,
        "refid": num,
        "comment": comment,
        "pid": {{ pid }},
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      //async: false,
      cache: false,
      //crossDomain: true,
      success: function (data) {
        console.log(data);
        if (data.valid) {
          $("#comment-text-" + type + "-" + j).val("");
          console.log("comment saved!");
          getComments(type, num, j);
        } else {
          MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  function addComment(type, j, user, date, comment) {
    //alert("adding comment " + type + ", " + user + ", " + j + ", " + date + ", " + comment);
    var html = "<div class=\"media\">";

    html += "<div class=\"media-right\"><i class=\"fa fa-user-circle-o fa-2x\" aria-hidden=\"true\"></i></div>";
    html += "<div class=\"media-body\"><h5 class=\"media-heading\">" + user + "<small><i> Posted on " + date + "</i></small></h5>";
    html += "<p>" + comment + "</p>";
    html += "</div></div></div>";

    $("#comments-body-" + type + "-" + j).append(html);
  }

  function getComments(type, num, j) {
    console.log("getting comments...");
    $.ajax({
      url: '{{ path('app_project_get_comments') }}',
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      type: "GET",
      data: {
        "obj": type,
        "refid": num,
        "pid": {{ pid }},
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      crossDomain: true,
      contentType: "application/json",
      dataType: 'json',
      success: function (data) {
        console.log(data);
        if (data.valid) {
          addComments(data.comments, type, j);
        } else {
          MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
    return false;
  }

  function addComments(json, type, j) {
    //remove the content of div element:
    console.log("displaying comments...");
    $("#comments-body-" + type + "-" + j).empty();
    {% if sentence.comment == "" %}
    $("#comments-count-" + type + "-" + j).text(json.length);
    {% else %}
    $("#comments-count-" + type + "-" + j).text(json.length + 1);
    {% endif %}


    for (var i in json) {
      var user = "";
      var date = "";
      var comment = "";
      var userId = {{ app.session.get('user').id }};
      //console.log(i + " " + json[i].userid + " " + json[i].username + " " + json[i].anonymous + " " + json[i].date);
      user = json[i].username;

      if (json[i].userid === userId) {
        user = "You"
      } else {
        {% if not project.blindrev %}
        user = json[i].username;
        {% else %}
        user = json[i].anonymous;
        {% endif %}
      }
      comment = json[i].comment;

      if (json[i].date) {
        var d = eval('(' + JSON.stringify(json[i].date) + ')');
        date = d.date.replace(".000000", "");
      }
      addComment(type, 1, user, date, comment);
    }

  }
</script>