{% if debug == true %}
  {#<p class="bg-danger">PID: {{ pid }}, PROJECT ROLES: {{ roles | length }}, USER ROLES: {{ userRoles | length }}</p>#}
  <p>
    <span class="text-primary">PARENT: {{ parent }}</span>
    <span class="text-success">UID: {{ app.session.get('user').id }}</span>
    <span class="text-info">PID: {{ pid }}</span>
    <span class="text-warning">ROLES: {{ roles | length }}</span>
    <span class="text-danger">USER ROLES: {{ userRoles | length }}</span>
    <span class="text-primary">PROJECT ROLES: {{ projectRoles | length }}</span>

    <span class="text-success">USER ROLES: {{ implode(userRoles) }}</span>
    {#<span class="text-info">PROJECT: {{ dump(project) }}</span>#}
    <span class="text-info">TARGETS: {{ targets }}</span>
    <span class="text-warning">PROJECT NAME: {{ project.name }}</span>

    <span class="text-warning">PROJECT TYPE: {{ project.type }}</span>
    <span class="text-warning">PROJECT RANGES: {{ project.ranges|length }}</span>
    <span class="text-warning">PROJECT INSTRUCTIONS: {{ project.instructions|length }}</span>

  </p>

  {#<p>#}
  {#<span class="label label-warning">UID: {{ app.session.get('user').id }}</span>#}

  {#<span class="label label-default">PID: {{ pid }}</span>#}
  {#<span class="label label-default">PROJECT ROLES: {{ roles | length }}</span>#}
  {#<span class="label label-default">USER ROLES: {{ userRoles | length }}</span>#}

  {#</p>#}
{% endif %}