<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="skipto-item" class="sr-only" href="#mainContent">Skip to main content</a>
      <a id="mt-equal-item" class="navbar-brand" href="{{ path('homepage') }}">MT-equal</a>
    </div>


  </div>
</nav>