<h3>Questions</h3>
<ul class="list-group">
<li class="list-group-item">
  <h4>Q1: Source sentence okay?</h4>
  <p>If NO, Q2, Q3, Q4, Q5 do not need to be answered, and are considered N/A (we can’t get any useful information from sentences which were wrong to start with.)</p></li>
<li class="list-group-item">
  <h4>Q2: All information present?</h4>
  <p>If YES, Q3 does not need to be answered (because the answer would be YES anyways.)</p></li>
<li class="list-group-item"><h4>Q3: Main noun (phrase) identifying item translated correctly?</h4>
  <p>Either YES or NO.</p>
</li>
<li class="list-group-item">
  <h4>Q4: Translation alone easy to read and understand?</h4>
  <p>Either YES or NO. Basically asking for fluency instead of adequacy.</p>
</li>
<li class="list-group-item">
  <h4>Q5: Brand names translated correctly?</h4>
  <p>Three answers: YES (present and correct), NO (present and incorrect), N/A (not present)</p>
</li>
</ul>
