<form>
  <fieldset>
    <legend>Set the evaluation labels</legend>
    <table id="eval-format-binary-table" class="table">
      <thead>
      <tr>
        <th id="eval-format-binary-label" scope="col">Label</th>
        <th id="eval-format-binary-color" scope="col">Color</th>


      </tr>
      </thead>
      <tbody>

      <tr class="row-format">

        <td><input aria-labelledby="eval-format-binary-label" type="text" class="form-control"
                   id="eval-format-binary-label-1"></td>

        <td
            id="eval-format-binary-color-1">
          <select data-num="1" aria-labelledby="eval-format-binary-color" title="color" class="form-control" id="eval-format-binary-color-select-1">
            {% include 'util/eval-format-colors.twig' %}
          </select>
        </td>
      </tr>


      <tr class="row-format">

        <td><input aria-labelledby="eval-format-binary-label" type="text" class="form-control"
                   id="eval-format-binary-label-2"></td>

        <td aria-labelledby="eval-format-binary-color"
            id="eval-format-binary-color-2">
          <select data-num="2" aria-labelledby="eval-format-binary-color" title="color" class="form-control" id="eval-format-binary-color-select-2">
            {% include 'util/eval-format-colors.twig' %}
          </select>
        </td>
      </tr>


      </tbody>
    </table>
  </fieldset>
</form>