<option value="#000000">Black</option>
<option value="#CC0000">Red</option>
<option value="#0000ff">Blue</option>
<option value="#006600">Green</option>
<option value="#800080">Purple</option>
<option value="#CC0022">Pink</option>
<option value="#006666">Teal</option>
<option value="#A52A2A">Brown</option>
<option value="#800000">Maroon</option>
<option value="#666600">Olive</option>
<option value="#805300">Orange</option>
<option value="#B418B4">Violet</option>
<option value="#000080">Navy</option>


<!--
red https://toolness.github.io/accessible-color-matrix/?n=white&n=Color%206&n=Color%207&n=Color%208&n=Color%209&n=Color%2010&v=FFFFFF&v=000000&v=E60000&v=E6E6E6&v=E60000&v=CC0000
green https://toolness.github.io/accessible-color-matrix/?n=white&n=light&n=black&n=Color%207&n=Color%208&v=FFFFFF&v=008000&v=000000&v=E6E6E6&v=006600
blue https://toolness.github.io/accessible-color-matrix/?n=white&n=light&n=black&n=Color%207&n=Color%208&v=FFFFFF&v=008000&v=000000&v=E6E6E6&v=006600
purple https://toolness.github.io/accessible-color-matrix/?n=white&n=light&n=black&n=Color%207&v=FFFFFF&v=800080&v=000000&v=E6E6E6
pink https://toolness.github.io/accessible-color-matrix/?n=white&n=light&n=black&n=Color%207&n=Color%205&n=Color%206&v=FFFFFF&v=FF002B&v=FF4D6A&v=E6E6E6&v=CC0022&v=FF1A40
teal https://toolness.github.io/accessible-color-matrix/?n=white&n=light&n=black&n=Color%207&v=FFFFFF&v=008080&v=006666&v=E6E6E6
brown https://toolness.github.io/accessible-color-matrix/?n=white&n=light&n=black&n=Color%207&v=FFFFFF&v=A52A2A&v=006666&v=E6E6E6
olive https://toolness.github.io/accessible-color-matrix/?n=white&n=light&n=black&n=Color%207&v=FFFFFF&v=808000&v=666600&v=E6E6E6
orange https://toolness.github.io/accessible-color-matrix/?n=white&n=light&n=black&n=Color%207&v=FFFFFF&v=805300&v=996300&v=E6E6E6
violet https://toolness.github.io/accessible-color-matrix/?n=white&n=light&n=black&n=Color%207&v=FFFFFF&v=CA1CCA&v=B418B4&v=E6E6E6
-->

