<form>
  <fieldset>
    <legend>Set the evaluation labels</legend>
    <table id="eval-format-scale-table" class="table">
      <thead>
      <tr>
        <th id="eval-format-scale-label" scope="col">Label</th>
        <th id="eval-format-scale-color" scope="col">Color</th>
      </tr>
      </thead>
      <tbody>

      <tr class="row-format">

        <td><input aria-labelledby="eval-format-scale-label" type="text" class="form-control"
                   id="eval-format-scale-label-1"></td>

        <td
            id="eval-format-scale-color-1">
          <select data-num="1" aria-labelledby="eval-format-scale-color" title="color" class="form-control" id="eval-format-scale-color-select-1">
            {% include 'util/eval-format-colors.twig' %}
          </select>
        </td>
      </tr>

      <tr class="row-format">

        <td><input aria-labelledby="eval-format-scale-label" type="text" class="form-control"
                   id="eval-format-scale-label-2"></td>

        <td id="eval-format-scale-color-2">
          <select data-num="2" aria-labelledby="eval-format-scale-color" title="color" class="form-control" id="eval-format-scale-color-select-2">
            {% include 'util/eval-format-colors.twig' %}
          </select>
        </td>
      </tr>


      {% for i in  3..10 %}


        <tr class="row-format" id="eval-format-scale-row-{{ i }}">


          <td>
            <input aria-labelledby="eval-format-scale-label" type="text" class="form-control"
                   id="eval-format-scale-label-{{ i }}">
          </td>
          <td id="eval-format-scale-color-{{ i }}">
            <select data-num="{{ i }}" aria-labelledby="eval-format-scale-color" title="color" class="form-control" id="eval-format-scale-color-select-{{ i }}">
              {% include 'util/eval-format-colors.twig' %}
            </select>
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  </fieldset>
  <button id="add-more-lines-btn" type="button" class="btn btn-link">Add more lines</button>

</form>

