<!-- begin evaluation scale -->

{#<p style="color:blue;"><small>id: {{ id }}, num: {{ sentence.num }} ({{ annotation.num }}), eval: {{ annotation.eval }}, n: {{ targetNum }}</small></p>#}

<!-- begin output labels -->
<div class="tu-labels">
  <div class="container-fluid">

    <div id="evaluation-{{ sentence.num }}" class="btn-group tu-buttons">

      {% for eval in ranges %}
        {% if annotations is defined and annotations | length > 0 %}

          {% set b = true %}
          {% for annotation in annotations %}

            {% if annotation.num == sentence.num %}
              {% set b = false %}
              {% if annotation.eval == eval.val %}

                <button style="color:{{ eval.color }}; font-weight: normal;" id="scale-{{ eval.label }}-btn" type="button" class="btn btn-default active" aria-pressed="true"
                        aria-label="{{ eval.label }}"
                        value="{{ eval.val }}">{{ eval.label }}</button>

              {% else %}

                <button style="color:{{ eval.color }}; font-weight: normal;" id="scale-{{ eval.label }}-btn" type="button" class="btn btn-default" aria-pressed="false" aria-label="{{ eval.label }}"
                        value="{{ eval.val }}">{{ eval.label }}</button>
              {% endif %}
            {% endif %}

          {% endfor %}

          {% if b == true %}
            <button style="color:{{ eval.color }}; font-weight: normal;" id="scale-{{ eval.label }}-btn" type="button" class="btn btn-default" aria-pressed="false" aria-label="{{ eval.label }}"
                    value="{{ eval.val }}">{{ eval.label }}</button>
          {% endif %}


        {% else %}
          <button style="color:{{ eval.color }}; font-weight: normal;" id="scale-{{ eval.label }}-btn" type="button" class="btn btn-default" aria-pressed="false" aria-label="{{ eval.label }}"
                  value="{{ eval.val }}">{{ eval.label }}</button>
        {% endif %}
      {% endfor %}

    </div>

  </div>

  {#{% include 'util/comments.twig' %}#}
</div>
<!-- end output labels -->


<!-- end evaluation scale -->

