<!-- clone of evaluation scale -->
<!-- begin evaluation ranking -->

{#<p style="color:blue;"><small>id: {{ id }}, num: {{ sentence.num }} ({{ annotation.num }}), eval: {{ annotation.eval }}, n: {{ targetNum }}</small></p>#}


{% set len = targets | length %}

<!-- begin output labels -->
<div class="tu-labels">
  <div class="container-fluid">

    <div id="evaluation-{{ sentence.num }}" class="btn-group tu-buttons">


      {% for eval in 1..len %}

        {% if eval == 1 or eval == 21 %}
          {% set suffix= "st" %}
        {% elseif eval == 2 or eval == 22 %}
          {% set suffix= "nd" %}
        {% elseif eval == 3  or eval == 23 %}
          {% set suffix= "rd" %}
        {% else %}
          {% set suffix= "th" %}
        {% endif %}

        {% if annotations is defined and annotations | length > 0 %}

          {% set b = true %}
          {% for annotation in annotations %}

            {% if annotation.num == sentence.num %}
              {% set b = false %}
              {% if annotation.eval == eval %}

                <button id="ranking-{{ eval }}{{ suffix }}-btn" type="button" class="btn btn-default active" aria-pressed="true"
                        aria-label="{{ eval }}{{ suffix }}"
                        value="{{ eval }}">{{ eval }}<sup>{{ suffix }}</sup></button>

              {% else %}

                <button id="ranking-{{ eval }}{{ suffix }}-btn" type="button" class="btn btn-default" aria-pressed="false" aria-label="{{ eval }}{{ suffix }}"
                        value="{{ eval }}">{{ eval }}<sup>{{ suffix }}</sup></button>
              {% endif %}


            {% endif %}

          {% endfor %}

          {% if b == true %}
            <button id="ranking-{{ eval }}{{ suffix }}-btn" type="button" class="btn btn-default" aria-pressed="false" aria-label="{{ eval }}{{ suffix }}"
                    value="{{ eval }}">{{ eval }}<sup>{{ suffix }}</sup></button>
          {% endif %}


        {% else %}
          <button id="ranking-{{ eval }}{{ suffix }}-btn" type="button" class="btn btn-default" aria-pressed="false" aria-label="{{ eval }}{{ suffix }}"
                  value="{{ eval }}">{{ eval }}<sup>{{ suffix }}</sup></button>
        {% endif %}
      {% endfor %}

    </div>

  </div>

  {#{% include 'util/comments.twig' %}#}
</div>
<!-- end output labels -->


<!-- end evaluation ranking -->


<!-- end output  -->