
{#<p style="color:blue;"><small>id: {{ id }}, num: {{ sentence.num }} ({{ annotation.num }}), eval: {{ annotation.eval }}, n: {{ targetNum }}</small></p>#}

<div class="tu-labels">

  <div class="container-fluid">
    <h5>Source sentence okay?</h5>
    <div class="container-fluid labels">
      <div id="evaluation-{{ sentence.num }}-question-0" class="btn-group">
        <button id="evaluation-{{ sentence.num }}-question-0-yes" type="button" class="btn btn-default yes" value="1">Yes</button>
        <button id="evaluation-{{ sentence.num }}-question-0-no" type="button" class="btn btn-default no" value="0">No</button>

      </div>

    </div>
  </div>

  <div class="container-fluid">
    <h5>All information present?</h5>
    <div class="container-fluid labels">
      <div id="evaluation-{{ sentence.num }}-question-1" class="btn-group">
        <button id="evaluation-{{ sentence.num }}-question-1-yes" type="button" class="btn btn-default yes" value="1">Yes</button>
        <button id="evaluation-{{ sentence.num }}-question-1-no" type="button" class="btn btn-default no" value="0">No</button>

      </div>

    </div>
  </div>

  <div class="container-fluid">
    <h5>Main noun (phrase) identifying item translated correctly?</h5>
    <div class="container-fluid labels">
      <div id="evaluation-{{ sentence.num }}-question-2" class="btn-group">
        <button id="evaluation-{{ sentence.num }}-question-2-yes" type="button" class="btn btn-default yes" value="1">Yes</button>
        <button id="evaluation-{{ sentence.num }}-question-2-no" type="button" class="btn btn-default no" value="0">No</button>

      </div>

    </div>
  </div>

  <div class="container-fluid">
    <h5>Translation alone easy to read and understand?</h5>
    <div class="container-fluid labels">
      <div id="evaluation-{{ sentence.num }}-question-3" class="btn-group">
        <button id="evaluation-{{ sentence.num }}-question-3-yes" type="button" class="btn btn-default yes" value="1">Yes</button>
        <button id="evaluation-{{ sentence.num }}-question-3-no" type="button" class="btn btn-default no" value="0">No</button>

      </div>

    </div>
  </div>

  <div class="container-fluid">
    <h5>Brand names translated correctly?</h5>
    <div class="container-fluid labels">
      <div id="evaluation-{{ sentence.num }}-question-4" class="btn-group">
        <button id="evaluation-{{ sentence.num }}-question-4-yes" type="button" class="btn btn-default yes" value="1">Yes</button>
        <button id="evaluation-{{ sentence.num }}-question-4-no" type="button" class="btn btn-default no" value="0">No</button>
        {#<button type="button" class="btn btn-default na" value="3">N/A</button>#}

      </div>

    </div>
  </div>

  {#{% include 'util/comments.twig' %}#}
</div>

{% if annotations is defined and annotations | length > 0 %}

  {% for annotation in annotations %}

    {% if annotation.num == sentence.num %}

      {#<p>== {{ annotation.num }} - {{ annotation.eval }} - {{ targetNum }}</p>#}

      <script type="text/javascript">
        decodeUserEvaluation({{ sentence.num }}, "{{ annotation.eval }}");

        function decodeUserEvaluation(i, eval) {
          console.log("decoding " + i + " " + eval);
          if (eval === "0") {
            $('#evaluation-' + i + '-question-0 button.no').addClass('active');
            for (var q = 1; q < 5; q++) {
              console.log('#evaluation-' + i + '-question-' + q + ' button');
              var group = $('#evaluation-' + i + '-question-' + q + ' button');
              group.eq(0).prop('disabled', true);
              group.eq(0).attr('aria-disabled', true);

              group.eq(1).prop('disabled', true);
              group.eq(1).attr('aria-disabled', true);

            }
            return;
          }

          for (var q = 0; q < 5; q++) {
            var val = eval.charAt(q);

            console.log(q + " eval " + val);
            if (val === "1") {
              $('#evaluation-' + i + '-question-' + q + ' button.yes').addClass('active');
            } else if (val === "0") {
              $('#evaluation-' + i + '-question-' + q + ' button.no').addClass('active');
            } else if (val === "3") {
              //do nothing
            }

            if (q === 1 && val === "1") {
              var group = $('#evaluation-' + i + '-question-' + (q + 1) + ' button');
              group.prop('disabled', true);
              group.prop('aria-disabled', true);
            }
          }

        }
      </script>
    {% endif %}

  {% endfor %}
{% endif %}

<!-- end output  -->