{% include 'util/debug.twig' with {'parent': 'util/guidelines-instructions.twig'} %}

<form>

  <div id="guidelines-instructions" style="margin-bottom: 5px; background: #fff">
          <textarea title="instructions" aria-label="instructions" id="instructions" name="instructions"
                    style="width: 100%;" rows="10"
                    autofocus></textarea>
  </div>
</form>

<script language="JavaScript">


  var instructions = new nicEditor({
    iconsPath: '{{ asset('bundles/app/nicEdit/0.9.25/nicEditorIcons.gif') }}',
    buttonList: ['bold', 'italic', 'underline', 'left', 'center', 'right', 'justify', 'ol', 'ul', 'fontSize', 'fontFamily', 'fontFormat', 'indent', 'outdent', 'image', 'link', 'unlink', 'forecolor', 'bgcolor']
  }).panelInstance('instructions', {hasPanel: true});

  var nicInstance = nicEditors.findEditor('instructions');
  {#url: '{{ path('api_file_content') }}',#}
  $(function () {
    $('#fileupload').fileupload({

      url: '{{ path('app_project_upload_instructions') }}?pid={{ pid }}',
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      //dataType: 'json',
      //acceptFileTypes: /(\.|\/)(txt|html?)$/i,
      maxFileSize: 999000,
      success: function (data) {
        //console.log(data);
        //var data = jQuery.parseJSON(json);
        //nicInstance.setContent(nicInstance.getContent() + data.instructions);
        if (data.valid) {
          nicInstance.setContent(data.content);

          MyNotify(data.message, null, null, "success");
        } else {
          MyNotify(data.message, null, null, "danger");
        }
      }
    }).on('fileuploadfail', function (e, data) {

      MyNotify("The uploading is failed because the file is not valid.", null, null, "danger");
    }).on('fileuploadprogressall', function (e, data) {
      //$('#import-report').html("");
      console.log('loading...');
      //console.log(e);
      //console.log(data);
    });
  });

  function restoreInstructions() {
    window.location.reload();
  }

  function saveInstructions() {

    var instructions = nicInstance.getContent();
    console.log("saving instructions " + instructions.length);
    console.log("saving instructions '" + instructions + "'");
    if (instructions.length === 0 || instructions === '<br>') {
      return;
    }
    $.ajax({
      type: "POST",
      url: "{{ path('app_project_update') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "pid": {{ pid }},
        "id": {{ pid }},
        "view": "{{ view }}",
        "instructions": instructions,
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        console.log("saving instructions...");
      },
      success: function (data) {
        console.log("instructions saved.");
        console.log(data);
        if (data.valid) {
          //reload from the DB
          //this is done as the validation and sanitization procedures
          //could change the content
          nicInstance.setContent(data.instructions);
        } else {
          MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  $(document).ready(function () {

    loadProject();

    instructions.addEvent('blur', function () {
      // Your code here that is called whenever the user blurs (stops editing) the nicedit instance
      saveInstructions();
    });

  });

  function loadProject() {
    console.log("loading project...");
    $.ajax({
      type: "GET",
      url: "{{ path('app_project_get_project') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "pid": {{ pid }},
        "id": {{ pid }},
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
      },
      success: function (data) {
        console.log(data);
        if (data.valid) {
          //console.log('instructions: ' + data.instructions);
          nicInstance.setContent(data.instructions);

        } else {
          MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

</script>