{% include 'util/debug.twig' with {'parent': 'util/guidelines-specification.twig'} %}

<form>
  <div class="checkbox">
    <label><input type="checkbox" id="randout" value="">Randomize targets</label>
  </div>

  <div class="checkbox">
    <label><input type="checkbox" id="blindrev" value="">Anonymize evaluators</label>
  </div>


  <div class="form-group">
    <label for="maxdontknow">Alert when the number of "don't know" answers is greater than the following value</label>
    <input maxlength="3" size="3" type="number" class="form-control" aria-label="number of don't know"
           id="maxdontknow"
           name="maxdontknow" placeholder="Number">
  </div>


  <div class="form-group">
    <label for="intragree">Percentage of translation units to use to calculate the intra-annotator agreement</label>
    <input maxlength="2" size="2" type="number" class="form-control" aria-label="percentage of translation units"
           id="intragree" name="intragree" placeholder="Percentage">
  </div>


  <fieldset id="pooling-fieldset">
    <legend>Pooling algorithm</legend>

    <label class="radio-inline"><input value="" id="none-pooling" type="radio" name="optradio" checked>None</label>

    <label class="radio-inline"><input value="exact" id="exact-pooling" type="radio" name="optradio">Exact match
      <small>case sensitive</small>
    </label>

    <label class="radio-inline"><input value="exactins" id="exactins-pooling" type="radio" name="optradio">Exact match
      <small>case insensitive</small>
    </label>

    <label class="radio-inline"><input value="bowins" id="bowins-pooling" type="radio" name="optradio">Bag of words
      <small>case insensitive</small>
    </label>


  </fieldset>

</form>


<script language="javascript">

  function showSpecificationsAlert(confirmed) {
    if (confirmed) {
      $('#guidelines-warning-not-confirmed').hide();
      $('#guidelines-warning-not-confirmed').attr("aria-hidden", true);

      $('#guidelines-info-confirmed').show();
      $('#guidelines-info-confirmed').attr("aria-hidden", false);
    } else {
      $('#guidelines-info-confirmed').hide();
      $('#guidelines-info-confirmed').attr("aria-hidden", true);

      $('#guidelines-warning-not-confirmed').show();
      $('#guidelines-warning-not-confirmed').attr("aria-hidden", false);
    }
  }

  function enableSpecifications(confirmed) {
    $('#randout').prop('disabled', confirmed);
    $('#randout').attr('aria-disabled', confirmed);

    $('#blindrev').prop('disabled', confirmed);
    $('#blindrev').attr('aria-disabled', confirmed);


    $('#maxdontknow').prop('disabled', confirmed);
    $('#maxdontknow').attr('aria-disabled', confirmed);

    $('#intragree').prop('disabled', confirmed);
    $('#intragree').attr('aria-disabled', confirmed);

    $('#pooling-fieldset input').prop('disabled', confirmed);
    $('#pooling-fieldset input').attr('aria-disabled', confirmed);

    $('#guidelines-dropdown-button').prop('disabled', confirmed);
    $('#guidelines-dropdown-button').attr('aria-disabled', confirmed);

  }

  function configureAutoSaveSpecifications() {
    //console.log("auto save specifications!");

    $('#randout').change(function () {
      console.log("save randout!");
      saveSpecifications();
    });

    $('#blindrev').change(function () {
      console.log("save blindrev!");
      saveSpecifications();
    });

    /*$('#checkmaxdontknow').change(function () {
      //console.log("save checkmaxdontknow!");
      saveSpecifications();
    });*/

    $('#maxdontknow').change(function () {
      //console.log("save maxdontknow!");
      saveSpecifications();
    });

    /*$('#checkintragree').change(function () {
      //console.log("save checkintragree!");
      saveSpecifications();
    });*/

    $('#intragree').change(function () {
      //console.log("save intragree!");
      saveSpecifications();
    });

    $('#pooling-fieldset input').change(function () {
      //console.log("save pooling input!");
      saveSpecifications();
    });
  }

  $(document).ready(function () {
    setTask('guidelines');
    loadProject();
    configureAutoSaveSpecifications();
  });

  function setTask(task) {
    console.log('setting task ' + task + '...');
    $.ajax({
      url: "{{ path('app_task_get_task') }}",
      {#data: {{ app.session.get('PROJECT_ID') }},#}
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "project": {{ pid }},
        "pid": {{ pid }},
        "task": task,
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      type: 'GET',
      cache: false,
      success: function (data) {
        console.log(data);
        if (data.valid) {
          enableSpecifications(data.completed);
          showSpecificationsAlert(data.completed);
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  function loadProject() {
    console.log("loading project...");
    $.ajax({
      type: "GET",
      url: "{{ path('app_project_get_project') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "id": {{ pid }}, "pid": {{ pid }},
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
      },
      success: function (data) {
        console.log(data);
        if (data.valid) {
          $('#randout').prop('checked', data.randout);
          $('#blindrev').prop('checked', data.blindrev);
          $('#maxdontknow').val(data.maxdontknow);
          $('#intragree').val(data.intragree);
          if (data.pooling !== '') {
            $('#' + data.pooling + '-pooling').prop("checked", true);
          } else {
            $('#none-pooling').prop("checked", true);
          }


        } else {
          MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  function saveSpecifications() {

    var randout = 0;
    if ($('#randout').prop("checked")) {
      randout = 1;
    }
    var blindrev = 0;
    if ($('#blindrev').prop("checked")) {
      blindrev = 1;
    }

    var maxdontknow = $('#maxdontknow').val();
    var checkmaxdontknow = false;
    if (maxdontknow > 0) {
      checkmaxdontknow = true;
    }
    var intragree = $('#intragree').val();
    var checkintragree = false;
    if (intragree > 0) {
      checkintragree = true;
    }

    var pooling = $('#pooling-fieldset input:checked').attr("value");

    console.log("r: " + randout + ", b: " + blindrev + ", b: " + blindrev + ", cm: " + checkmaxdontknow + ", m: " + maxdontknow + ", ci: " + checkintragree + ", i: " + intragree);

    $.ajax({
      type: "POST",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      url: "{{ path('app_project_update') }}",
      data: {
        "id": {{ pid }},
        "pid": {{ pid }},
        "view": "{{ view }}",
        "randout": randout,
        "blindrev": blindrev,
        "checkmaxdontknow": checkmaxdontknow,
        "maxdontknow": maxdontknow,
        "checkintragree": checkintragree,
        "intragree": intragree,
        "pooling": pooling,
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        console.log("saving...");
      },
      success: function (data) {
        //returns the page to be updated
        console.log(data);
        if (data.valid) {
          console.log(data);
          // $('#'+data.parameter).html();
        } else {
          MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }
</script>

