<!-- begin instructions -->
<!-- used in evaluation and review -->
<!-- todo load from ajax -->

{% include 'util/debug.twig' with {'parent': 'util/instructions.twig'} %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a data-toggle="collapse" href="#instructions">Instructions</a>
    </h3>
  </div>

  <div id="instructions" class="panel-collapse collapse">
    <div class="panel-body" id="instructions-html">{{ project.instructions | raw }}</div>

  </div>
</div>


<!-- end instructions -->

<!-- replaces h1, h2, h3, ..., h6 with, h4, h5, h6, ..., h9 into the instructions to avoid accessibility problems: clashes with existing h1, h2, ... -->
<script language="JavaScript">
  replaceHeaders();
  function replaceHeaders() {
    for (var i = 6; i > 0; i--) {
      var e = $('#instructions-html').find("h" + i);
      var v = i + 3;
      e.each(function () {
        $(this).replaceWith("<h" + v + ">" + $(this).text() + "</h" + v + ">");
      })
    }
  }
</script>