{% if app.session.get('user') is not defined %}
  No user logged in
{% endif %}

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">


      <a id="skipto-item" class="sr-only" href="#mainContent">Skip to main content</a>
      <a id="mt-equal-item" class="navbar-brand" href="#">MT-equal</a>
    </div>


    <ul class="nav navbar-nav navbar-right">

      {#<li><a id="dashboard-item" href="{{ path('dashboard') }}">Dashboard</a></li>#}
      <li><a id="dashboard-item" href="{{ path('app_dashboard_page') }}">Dashboard</a></li>

      {% if app.session.get('user').canCreate %}
        <!-- limit this function -->
        <li><a id="create-project-item-1" href="{{ path('app_project_create_page') }}?CsrfToken={{ csrf_token('authenticate') }}" title="Create a new project">Create
            project</a></li>
      {% endif %}

      <li class="dropdown">
        <a id="available-projects-menu" class="dropdown-toggle" data-toggle="dropdown" href="#"
           title="Available projects">

          Projects
          <i class="fa fa-caret-down">

          </i>

        </a>
        <ul class="dropdown-menu">

          <li class="dropdown-header">RECENTLY CREATED</li>

          <li>
            <ul class="nav scrollable-menu" id="projectMenu"></ul>
          </li>

          {% if app.session.get('user').canCreate %}
            <!-- limit this function -->
            <li role="separator" class="divider"></li>

            <li><a id="create-project-item-2" href="{{ path('app_project_create_page') }}?CsrfToken={{ csrf_token('authenticate') }}">Create project</a></li>

          {% endif %}
          <!-- -->
        </ul>
      </li>


      <li class="dropdown">


        <a id="user-menu" class="dropdown-toggle" data-toggle="dropdown" href="#"
           aria-label="User {{ app.session.get('user').username }}">
          {{ app.session.get('user').username }} <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>


        <ul class="dropdown-menu dropdown-user">

          <li>
            <a id="user-profile-item" href="{{ path('app_user_profile_page') }}"><i class="fa fa-user fa-fw"
                                                                                                                                             aria-hidden="true"></i> User
              Profile</a>
          </li>

          <li class="divider"></li>
          <li>
            <a id="logout-item" href="{{ path('app_user_logout') }}?CsrfToken={{ csrf_token('authenticate') }}"><i class="fa fa-sign-out fa-fw"
                                                                                                                   aria-hidden="true"></i> Logout</a>
          </li>
        </ul>

      </li>

      <li class="dropdown">


        <a id="help-menu" class="dropdown-toggle" data-toggle="dropdown" href="#" title="Help">
          Help <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>


        <ul class="dropdown-menu dropdown-help">

          <li><a id="user-manual-item" href="{{ asset('bundles/app/docs/web-app/MT-equal_User_Guide_2.0.html') }}"><i
                      class="fa fa-book fa-fw" aria-hidden="true"></i> User Manual</a></li>


          <li><a id="web-api-item" href="{{ asset('bundles/app/docs/web-api/help.html') }}">

              <i class="fa fa-book fa-fw" aria-hidden="true"></i> REST API</a></li>
        </ul>

      </li>
    </ul>
  </div>

</nav>