<!-- Trigger the modal with a button -->
{#<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ImportCorpusErrorModal">Open Modal</button>#}

<!-- Modal -->
<div id="{{ id }}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="modal-my-alert-close-header" type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">{{ title }}</h3>
      </div>
      <div class="modal-body">
        <h4 class="modal-title">{{ text }}</h4>
        {% if subtext != '' %}
          <p>{{ subtext }}</p>

        {% endif %}

      </div>
      <div class="modal-footer">
        <button id="modal-my-alert-close-btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>