{% include 'util/debug.twig' with {'parent': 'util/navigation-tabs.twig'} %}

{# todo check if this could cause a bug if a user have multiple roles #}
{% if "evaluator" in userRoles and "owner" not in userRoles and "admin" not in userRoles %}
  <!-- the evaluator doesn't need the navigation tabs -->
{% else %}

  <div class="container-fluid">
    <nav id="nav-main" role="navigation">
      <ul class="nav nav-tabs">

        {% if "admin" in userRoles
          or "owner" in userRoles
          or "reviewer" in userRoles
          or "vendor" in userRoles %}

          <li {% if view == 'overview' %} class="active"{% endif %}>
            <a id="overview-item" href="{{ path('admin') }}?pid={{ pid }}">
              <i class="fa fa-info-circle" aria-hidden="true"></i> Overview</a>
          </li>
        {% endif %}


        <!--begin Project Monitor -->

        {% if "admin" in userRoles
          or "owner" in userRoles %}

          <li {% if view == 'monitor' %} class="active"{% endif %}>
            <a id="monitor-item" href="{{ path('admin') }}?pid={{ pid }}&view=monitor">
              <i class="fa fa-tasks" aria-hidden="true"></i> Monitor</a>
          </li>
        {% endif %}

        <!-- end Monitor -->

        {% if "admin" in userRoles
          or "owner" in userRoles
          or "vendor" in userRoles %}

          <li {% if view starts with 'settings' %} class="active"{% endif %}>

            <a id="settings-item" href="{{ path('admin') }}?pid={{ pid }}&view=settings.details">
              <i class="fa fa-cogs" aria-hidden="true"></i> Settings</a>

          </li>
        {% endif %}


        {% if "admin" in userRoles
          or "owner" in userRoles %}

          <li {% if view ends with 'evaluation-launch' %} class="active"{% endif %}>
            <a id="evaluation-launch-item" href="{{ path('admin') }}?pid={{ pid }}&view=evaluation-launch">
              <i class="fa fa-rocket" aria-hidden="true"></i> Evaluation launch
            </a>
          </li>
        {% endif %}


        <!--begin Evaluation progress -->

        {% if "admin" in userRoles
          or "owner" in userRoles
          or "vendor" in userRoles %}

          <li {% if view == 'evaluation-progress' %} class="active"{% endif %}>
            <a id="evaluation-progress-item" href="{{ path('admin') }}?pid={{ pid }}&view=evaluation-progress">
              <i class="fa fa-line-chart" aria-hidden="true"></i> Evaluation progress</a>
          </li>
        {% endif %}

        <!-- end Evaluation progress -->

        {# only for admin and owner that evaluate #}
        {% if "evaluator" in userRoles %}
          <li {% if view == 'evaluation' %} class="active"{% endif %}>
            <a id="evaluation-item" href="{{ path('admin') }}?pid={{ pid }}&view=evaluation">
              <i class="fa fa-pencil-square-o" title="Evaluation"></i><span class="nomobile"> Evaluation</span>
            </a>
          </li>
        {% endif %}

        {% if "reviewer" in userRoles %}

          <li {% if view == 'review' %} class="active"{% endif %}>
            <a id="review-item" href="{{ path('admin') }}?pid={{ pid }}&view=review">
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Review
            </a>
          </li>
        {% endif %}

        {% if "admin" in userRoles
          or "owner" in userRoles
          or "reviewer" in userRoles
          or "vendor" in userRoles %}

          <li {% if view == 'report' %} class="active"{% endif %}>
            <a id="report-item" href="{{ path('admin') }}?pid={{ pid }}&view=report">
              <i class="fa fa-list-alt" aria-hidden="true"></i> Report
            </a>
          </li>
        {% endif %}

      </ul>
    </nav>

  </div>
{% endif %}