<!-- begin output_{{ targetNum }} -->


{% include 'util/debug.twig' with {'parent': 'util/output.twig'} %}

{% if task == "evaluation" %}


  <div class="row">

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">

      {% if targetNum == 0 %}
        <h4 id="output-title-{{ sentence.num }}">Output</h4>
      {% else %}
        <h4 id="output-title-{{ sentence.num }}">Output {{ targetNum }}</h4>
      {% endif %}
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">


      <div class="tu-output" data-id="{{ id }}" data-num="{{ sentence.num }}" data-text="{{ sentence.text }}"
           data-target="{{ sentence.type }}">

        <div id="output-alert-{{ sentence.num }}" style="display: none;"></div>


        <p style="font-size: 130%" aria-labelledby="output-title-{{ sentence.num }}"
           id="output-text-{{ sentence.num }}">{{ sentence.text }}</p>


      </div>


      {% if project.type == "binary" %}

        {% include "util/evaluation-scale.twig" %}

      {% elseif project.type == "scale" %}

        {% include "util/evaluation-scale.twig" %}

      {% elseif project.type == "ranking" %}

        {% include "util/evaluation-ranking.twig" %}

      {% elseif project.type == "tree" %}

        {% include "util/evaluation-tree.twig" %}


      {% else %}

      {% endif %}

    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
      {% include 'util/comments.twig' %}
    </div>
  </div>

{% else %}
  <!-- review -->

  <div class="tu-output" data-id="{{ id }}" data-num="{{ sentence.num }}" data-text="{{ sentence.text }}"
       data-target="{{ sentence.type }}">

    <div id="output-alert-{{ sentence.num }}" style="display: none;"></div>


    {% if targetNum == 0 %}
      <h4 id="output-title-{{ sentence.num }}">Output</h4>
    {% else %}
      <h4 id="output-title-{{ sentence.num }}">Output {{ targetNum }}</h4>
    {% endif %}
    <p style="font-size: 130%" aria-labelledby="output-title-{{ sentence.num }}"
       id="output-text-{{ sentence.num }}">{{ sentence.text }}</p>


  </div>

  {% if project.type == "binary" %}

    {% include "util/review-scale.twig" %}


  {% elseif project.type == "scale" %}

    {% include "util/review-scale.twig" %}

  {% elseif project.type == "ranking" %}

    {% include "util/review-ranking.twig" %}

  {% elseif project.type == "tree" %}

    {% include "util/review-tree.twig" %}

  {% else %}

  {% endif %}


  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">{% include 'util/comments.twig' %}</div>
  </div>


{% endif %}
<!-- end output_i -->