<!-- begin reference -->


<div class="tu-reference">


  {% if task == "evaluation" %}
    <!-- begin 2-column reference -->
    <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-1">
        <h4 id="reference">Reference</h4>
      </div>
      <div class="col-xs-11 col-sm-11 col-md-11">


        {% if referenceText is not empty %}
          <p style="font-size: 130%" aria-labelledby="reference">{{ referenceText }}</p>

        {% endif %}

        {% if referenceImage is not empty %}
          <a href="#reference-image-box" class="btn btn-link btn-sm"
             data-toggle="collapse">Image</a>
          <!-- By default, the image is displayed -->
          <div id="reference-image-box" class="collapse in">


            <img id="reference-image"
                 src="{{ referenceImage }}"
                 class="img-thumbnail" alt="Shelf" width="200" height="*">


          </div>
        {% endif %}

      </div>
    </div>
    <!-- end 2-column reference -->
  {% else %}
    <!-- review -->
    <!-- begin 1-column reference -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">

        <h4 id="reference">Reference</h4>
        {% if referenceText is not empty %}
          <p style="font-size: 130%" aria-labelledby="reference">{{ referenceText }}</p>

        {% endif %}

        {% if referenceImage is not empty %}
          <a href="#reference-image-box" class="btn btn-link btn-sm"
             data-toggle="collapse">Image</a>
          <!-- By default, the image is displayed -->
          <div id="reference-image-box" class="collapse in">


            <img id="reference-image"
                 src="{{ referenceImage }}"
                 class="img-thumbnail" alt="Shelf" width="200" height="*">


          </div>
        {% endif %}
      </div>

    </div>

    <!-- end 1-column reference -->
  {% endif %}
</div>

<!-- end reference -->