<!-- included in reset-password.twig -->

<form class="form-horizontal" id="change-password-form" autocomplete="off">
  <input type=hidden name="CsrfToken" value="{{ csrf_token('authenticate') }}">


  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div id="check-password-div" class="form-group" aria-live="assertive">
        <label for="password" class="control-label">New password <a href="#" data-toggle="password-tooltip"
                                                                    title="Use at least three of the following classes: English uppercase and lowercase characters, numbers, and !#$%&'()*+,-./:;<=>?@[\]^_`{|}~"><i
                    class="fa fa-info-circle" aria-hidden="true"></i></a></label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input class="form-control" required type="password" id="password" name='password'
                 onkeyup="checkForm(event)" value="" placeholder="Enter your password"/>
          <div id="check-password-icon"></div>
        </div>
        <span id="check-password-message"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div id="check-confirm-password-div" class="form-group" aria-live="assertive">
        <label for="confirm_password" class="control-label">Confirm new password</label>
        <div class="input-group" aria-live="assertive">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input class="form-control" required type="password" id="confirm_password"
                 name='confirm_password' onkeyup="checkForm(event)" value=""
                 placeholder="Re-enter your password"/>
          <div id="check-confirm-password-icon"></div>
        </div>
        <span id="check-confirm-password-message"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="form-group" aria-live="assertive">
        <div class="checkbox">
          <label><input id="show-password" type="checkbox" value="" aria-label="Show the password">Show</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="form-group">
        <hr>
        <input title="change password" id="change-password" class="btn btn-primary" value="Change"
               onclick="changePassword()"/>
        <input type="reset" class="btn btn-default" id="reset" name="reset" value="Cancel"/>
      </div>
    </div>
  </div>

</form>


<script>

  $(document).ready(function () {
    $('[data-toggle="password-tooltip"]').tooltip({placement: "bottom", html: true});
  });

  $("#show-password").change(function () {
    if (this.checked) {
      console.log("show password");
      $("#password").prop("type", "text");
      $("#confirm_password").prop("type", "text");
    } else {
      console.log("hide password");
      $("#password").prop("type", "password");
      $("#confirm_password").prop("type", "password");
    }
  });

  function checkForm(event) {
    var key = event.keyCode;
    console.log('ch: ' + key);
    if ((key > 16 && key < 46) || (key > 90 && key < 96)) {
      return;
    }
    console.log('a');
    if (checkConfirmPassword()) {
      console.log('checked confirm password');
      return
    }
    console.log('b');
    checkPassword();
    console.log('c');
  }

  function checkPassword() {

    var password = $('#password').val();
    console.log('checking password: ' + password + '...');
    if (password.length > 0) {
      setTimeout(function () {

        if ($('#password').val() === password) {
          $.ajax({
            type: "POST",
            url: "{{ path('app_user_validate') }}",
            headers: {
              "CsrfToken": "{{ csrf_token('authenticate') }}"
            },
            data: {
              "password": password,
              "CsrfToken": "{{ csrf_token('authenticate') }}"
            },
            cache: false,
            beforeSend: function () {
              console.log('checking user parameters...');
            },
            success: function (data) {

              console.log(data);
              if (data.valid) {
                $("#check-password-div").removeClass("has-error").addClass("has-success");
                $("#check-password-icon").html('<span class="glyphicon glyphicon-ok form-control-feedback"></span>');
                $("#check-password-message").empty();
                return false;
              } else {
                $("#check-password-div").removeClass("has-success").addClass("has-error");
                $("#check-password-icon").html('<span class="glyphicon glyphicon-remove form-control-feedback"></span>');
                $("#check-password-message").html("<p class='text-danger'>" + data.tip + "</p>");
                return true;
              }
            },
            error: function (xhr, status, error) {
              errorHandler(xhr);
            }
          });
        }
      }, 500); // 1/2 sec delay to check.
    } else {
      $("#check-password-div").removeClass("has-error").removeClass("has-success");
      $("#check-password-icon").empty();
      $("#check-password-message").empty();
      return false;
    }
  }

  function checkConfirmPassword() {

    var password = $('#password').val();
    var confirmPassword = $('#confirm_password').val();

    console.log('checking confirm password: ' + password + ' - ' + confirmPassword + '...');
    if (password.length === 0 || confirmPassword.length === 0) {
      $("#check-confirm-password-div").removeClass("has-error").removeClass("has-success");
      $("#check-confirm-password-icon").empty();
      $("#check-confirm-password-message").empty();
      return false;
    } else {
      if (password === confirmPassword) {

        $("#check-confirm-password-div").removeClass("has-error").addClass("has-success");
        $("#check-confirm-password-icon").html('<span class="glyphicon glyphicon-ok form-control-feedback"></span>');
        $("#check-confirm-password-message").empty();
        return false;
      } else {

        $("#check-confirm-password-div").removeClass("has-success").addClass("has-error");
        $("#check-confirm-password-icon").html('<span class="glyphicon glyphicon-remove form-control-feedback"></span>');
        $("#check-confirm-password-message").html("<p class='text-danger'>Password does not match confirm password.</p>");
        return true;
      }
    }
  }

  function clear() {
    $('#password').val('');
    $('#confirm_password').val('');
  }

  function changePassword() {

    var password = $('#password').val();
    var confirmPassword = $('#confirm_password').val();

    console.log('changing password: ' + ', ' + password + ', ' + confirmPassword + '...');

    var hash = "{{ hash }}";
    console.log('hash: ' + hash);

    $.ajax({
      type: "POST",
      url: "{{ path('app_user_reset_password') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "hash": hash,
        "password": password,
        "confirm_password": confirmPassword,
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        console.log('resetting the password...');
      },
      success: function (data) {
        //console.log(data);
        console.log('password reset');
        console.log(data);
        if (data.valid) {
          MyNotify(data.message + ' You\'ll be redirected to dashboard in few seconds.', null, null, "success");
          //console.log("redirecting to {{ hostname }}{{ path('app_dashboard_page') }}?CsrfToken={{ csrf_token('authenticate') }}...");

          setTimeout(function () {
            //window.location.href = "{{ hostname }}{{ path('app_dashboard_page') }}?CsrfToken={{ csrf_token('authenticate') }}"
            window.location.href = data.redirect + "?CsrfToken={{ csrf_token('authenticate') }}"
          }, 3000);

        } else {
          console.log('error:' + data.message);
          MyNotify(data.message, null, null, "danger");
        }

      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }
</script>