<!-- begin review tree -->


<div class="tu-labels">
  <div class="container-fluid">
    {% if annotations is defined and annotations | length > 0 %}
      {% set annotatorNum = 0 %}
      {% for annotation in annotations %}



        {% if annotation.revuser == 0 %}

          {# this is the orginal annotation. For a TU this is executed before the review #}

          <div class="media">
            <div class="media-right">
              <span style="font-size:1.5em; padding: 2px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div class="media-body">
              <h3 class="media-heading">
                {# todo remove strike for anonymous#}
                {% if project.blindrev %}
                  {#<strike>{{ annotation.user.username }}</strike> - {{ annotation.user.id }} ({{ evaluators[annotation.user.id]["evaluator"].anonymous }})#}
                  {{ evaluators[annotation.user.id]["evaluator"].anonymous }}
                {% else %}
                  {#{{ annotation.user.username }} - {{ annotation.user.id }} ({{ evaluators[annotation.user.id]["evaluator"].anonymous }})#}
                  {{ evaluators[annotation.user.id]["evaluator"].anonymous }} ({{ annotation.user.username }})
                {% endif %}
                <small><i>Confirmed on {{ annotation.confirmed | date("Y-m-d h:i:s") }}</i></small>
              </h3>

              {# debug info #}
              {#<p>{{ annotation.user.id }} - {{ annotation.num }} - {{ id }} - {{ annotation.eval }}</p>#}
              <!-- begin reviewer evaluation -->

              <div id="review-{{ annotation.user.id }}" class="container" style="padding: 1em"
                   data-annotator-eval="{{ annotation.eval }}">

                <div class="container-fluid">
                  <p class="">Source sentence okay? <span id="annotator-{{ annotation.user.id }}-answer-0" class="text-primary"></span></p>
                  <div class="container-fluid labels">
                    <div id="review-{{ annotation.user.id }}-question-0" class="btn-group">
                      <button onclick="setReviewButtonsAndSaveReview('{{ annotation.user.id }}', 0, {{ annotation.user.id }},'yes');"
                              id="review-{{ annotation.user.id }}-question-0-yes" type="button"
                              class="btn btn-default btn-sm yes" value="1">Yes
                      </button>
                      <button onclick="setReviewButtonsAndSaveReview('{{ annotation.user.id }}', 0, {{ annotation.user.id }},'no');"
                              id="review-{{ annotation.user.id }}-question-0-no" type="button"
                              class="btn btn-default btn-sm no" value="0">No
                      </button>

                    </div>

                  </div>
                </div>

                <div class="container-fluid">
                  <p class="">All information present? <span id="annotator-{{ annotation.user.id }}-answer-1" class="text-primary"></span></p>
                  <div class="container-fluid labels">
                    <div id="review-{{ annotation.user.id }}-question-1" class="btn-group">
                      <button onclick="setReviewButtonsAndSaveReview('{{ annotation.user.id }}', 1, {{ annotation.user.id }},'yes');"
                              id="review-{{ annotation.user.id }}-question-1-yes" type="button"
                              class="btn btn-default btn-sm yes" value="1">Yes
                      </button>
                      <button onclick="setReviewButtonsAndSaveReview('{{ annotation.user.id }}', 1, {{ annotation.user.id }},'no');"
                              id="review-{{ annotation.user.id }}-question-1-no" type="button"
                              class="btn btn-default btn-sm no" value="0">No
                      </button>

                    </div>

                  </div>
                </div>

                <div class="container-fluid">
                  <p class="">Main noun (phrase) identifying item translated correctly? <span
                            id="annotator-{{ annotation.user.id }}-answer-2" class="text-primary"></span></p>
                  <div class="container-fluid labels">
                    <div id="review-{{ annotation.user.id }}-question-2" class="btn-group">
                      <button onclick="setReviewButtonsAndSaveReview('{{ annotation.user.id }}', 2, {{ annotation.user.id }},'yes');"
                              id="review-{{ annotation.user.id }}-question-2-yes" type="button"
                              class="btn btn-default btn-sm yes" value="1">Yes
                      </button>
                      <button id="review-{{ annotation.user.id }}-question-2-no" type="button"
                              onclick="setReviewButtonsAndSaveReview('{{ annotation.user.id }}', 2, {{ annotation.user.id }},'no');"
                              class="btn btn-default btn-sm no" value="0">No
                      </button>

                    </div>

                  </div>
                </div>

                <div class="container-fluid">
                  <p class="">Translation alone easy to read and understand? <span
                            id="annotator-{{ annotation.user.id }}-answer-3" class="text-primary"></span></p>
                  <div class="container-fluid labels">
                    <div id="review-{{ annotation.user.id }}-question-3" class="btn-group">
                      <button onclick="setReviewButtonsAndSaveReview('{{ annotation.user.id }}', 3, {{ annotation.user.id }},'yes');"
                              id="review-{{ annotation.user.id }}-question-3-yes" type="button"
                              class="btn btn-default btn-sm yes" value="1">Yes
                      </button>
                      <button onclick="setReviewButtonsAndSaveReview('{{ annotation.user.id }}', 3, {{ annotation.user.id }},'no');"
                              id="review-{{ annotation.user.id }}-question-3-no" type="button"
                              class="btn btn-default btn-sm no" value="0">No
                      </button>

                    </div>

                  </div>
                </div>

                <div class="container-fluid">
                  <p class="">Brand names translated correctly? <span id="annotator-{{ annotation.user.id }}-answer-4" class="text-primary"></span></p>
                  <div class="container-fluid labels">
                    <div id="review-{{ annotation.user.id }}-question-4" class="btn-group">
                      <button onclick="setReviewButtonsAndSaveReview('{{ annotation.user.id }}', 4, {{ annotation.user.id }},'yes');"
                              id="review-{{ annotation.user.id }}-question-4-yes" type="button"
                              class="btn btn-default btn-sm yes" value="1">Yes
                      </button>
                      <button onclick="setReviewButtonsAndSaveReview('{{ annotation.user.id }}', 4, {{ annotation.user.id }},'no');"
                              id="review-{{ annotation.user.id }}-question-4-no" type="button"
                              class="btn btn-default btn-sm no" value="0">No
                      </button>
                      {#<button onclick="setReviewButtonsAndSaveReview('{{ annotation.user.id }}', 4, {{ annotation.user.id }},'na');"#}
                      {#id="review-{{ annotation.user.id }}-question-4-na" type="button"#}
                      {#class="btn btn-default btn-sm na" value="3">N/A#}
                      {#</button>#}

                    </div>

                  </div>
                </div>
                <div id="review-validation-message-{{ annotation.user.id }}" class="small"></div>
              </div>

              <!-- end reviewer evaluation -->
            </div>
          </div>

          <script type="text/javascript">
            decodeEvaluator({{ annotation.user.id }}, "{{ annotation.eval }}");

            // tree
            // taken from evaluation.twig
            //the evaluation is saved only if the sequence of yes/no answers is admissible
            function isValidEvaluation(eval) {
              if (eval === "0") {
                return true;
              } else if (eval === "11111") {
                return true;
              } else if (eval === "11110") {
                return true;
              } else if (eval === "11113") {
                return true;
              } else if (eval === "11101") {
                return true;
              } else if (eval === "11100") {
                return true;
              } else if (eval === "11103") {
                return true;
              } else if (eval === "10111") {
                return true;
              } else if (eval === "10110") {
                return true;
              } else if (eval === "10113") {
                return true;
              } else if (eval === "10101") {
                return true;
              } else if (eval === "10100") {
                return true;
              } else if (eval === "10103") {
                return true;
              } else if (eval === "10011") {
                return true;
              } else if (eval === "10010") {
                return true;
              } else if (eval === "10013") {
                return true;
              } else if (eval === "10001") {
                return true;
              } else if (eval === "10000") {
                return true;
              } else if (eval === "10003") {
                return true;
              }

              return false;
            }

            // tree
            // applies the decision tree rules; they work only for the current output
            function treeRules(i, question) {
              console.log("tree rules " + i + " " + question);
              var select = $('#review-' + i + '-question-' + question + ' button.active');

              if (select != null) {
                var eval = $('#review-' + i + '-question-' + question + ' button.active').val();
                console.log('#review-' + i + '-question-' + question + ' button.active');
                console.log('question ' + question + ' eval ' + eval);
                if (question === 0) {

                  if (eval === "0") {
                    console.log("case 1.A: " + question + " " + eval);
                    for (var q = 1; q < 5; q++) {

                      // yes/no buttons
                      $('#review-' + i + '-question-' + q + ' button').attr("aria-pressed", false);
                      $('#review-' + i + '-question-' + q + ' button').removeClass("active");

                      $('#review-' + i + '-question-' + q + ' button').prop("disabled", true);
                      $('#review-' + i + '-question-' + q + ' button').attr("aria-disabled", true);

                    }
                  } else {
                    console.log("case 1.B: " + question + " " + eval);
                    for (var q = 1; q < 5; q++) {
                      // all buttons
                      console.log("case 1.B." + q + ": " + question + " " + eval);
                      $('#review-' + i + '-question-' + q + ' button').prop("disabled", false);
                      $('#review-' + i + '-question-' + q + ' button').attr("aria-disabled", false);

                    }

                  }
                }
                else if (question === 1) {

                  if (eval === "1") {
                    console.log("case 2.A: " + question + " " + eval);
                    // work on question 2
                    // yes/no buttons
                    $('#review-' + i + '-question-' + (question + 1) + ' button').attr("aria-pressed", false);
                    $('#review-' + i + '-question-' + (question + 1) + ' button').removeClass("active");

                    //active the yes button
                    $('#review-' + i + '-question-' + (question + 1) + ' button').eq(0).attr("aria-pressed", true);
                    $('#review-' + i + '-question-' + (question + 1) + ' button').eq(0).addClass("active");


                    //disable all buttons
                    console.log('#review-' + i + '-question-' + (question + 1) + ' button');
                    $('#review-' + i + '-question-' + (question + 1) + ' button').prop("disabled", true);
                    $('#review-' + i + '-question-' + (question + 1) + ' button').attr("aria-disabled", true);

                  } else {
                    console.log("case 2.B: " + question + " " + eval);
                    //active the yes button
                    $('#review-' + i + '-question-' + (question + 1) + ' button').prop("disabled", false);
                    $('#review-' + i + '-question-' + (question + 1) + ' button').attr("aria-disabled", false);

                    $('#review-' + i + '-question-' + (question + 1) + ' button').eq(0).attr("aria-pressed", false);
                    $('#review-' + i + '-question-' + (question + 1) + ' button').eq(0).removeClass("active");

                  }
                } else if (question === 2) {

                  if (eval === "1") {

                  }
                  else {
                    console.log("case 3.A: " + question + " " + eval);
                    // yes/no buttons
                    $('#review-' + i + '-question-' + (question - 1) + ' button').attr("aria-pressed", false);
                    $('#review-' + i + '-question-' + (question - 1) + ' button').removeClass("active");

                    // yes/no buttons
                    $('#review-' + i + '-question-' + (question - 1) + ' button').eq(1).attr("aria-pressed", true);
                    $('#review-' + i + '-question-' + (question - 1) + ' button').eq(1).addClass("active");

                  }
                }
              }
            }

            function setReviewButtonsAndSaveReview(i, question, evaluator, answer) {
              console.debug("click on " + '#review-' + i + '-question-' + question + '-' + answer);
              var buttonGroup = $('#review-' + i + '-question-' + question);
              var button = $('#review-' + i + '-question-' + question + '-' + answer);
              console.debug(button);
              if (button.hasClass("active")) {
                console.debug("is active and must be NOT active");
                button.attr("aria-pressed", false);
                button.removeClass("active");

              } else {
                console.debug("is NOT active and must be active");
                var children = buttonGroup.children();
                children.attr("aria-pressed", false);
                children.removeClass("active");
                button.attr("aria-pressed", true);
                button.addClass("active");
              }

              treeRules(i, question);

              var newReviewerEval = encodeUserReview(i);
              console.log("final review " + newReviewerEval);

              //before saving we need to validate the answers
              var output = $('#review-' + i);
              var annotatorEval = output.data("annotator-eval");
              var oldReviewerEval = output.data("reviewer-eval");
              console.debug(annotatorEval + " --> " + oldReviewerEval + " --> " + newReviewerEval);


              var reviewValidationMessage = $("#review-validation-message-" + i);
              if (isValidEvaluation(newReviewerEval)) {
                console.debug(newReviewerEval + ' is a valid evaluation');
                reviewValidationMessage.html('<span class="text-success">Valid review</span>');
                if (annotatorEval !== newReviewerEval && oldReviewerEval !== newReviewerEval) {
                  console.debug("saving review " + newReviewerEval);
                  saveUserReview({{ annotation.num }}, "{{ id }}", newReviewerEval, evaluator);

                } else {
                  console.debug('review (' + newReviewerEval + ') equals to original evaluation (' + annotatorEval + ') or previous review (' + oldReviewerEval + ')');

                }
              } else {
                console.debug(newReviewerEval + ' is not a valid evaluation');

                reviewValidationMessage.html('<span class="text-danger">Invalid review</span>');

              }


            }

            //decode and init buttons
            function decodeEvaluator(i, eval) {
              console.log("decoding evaluator " + i + " " + eval);

              $("#review-validation-message-" + i).html('<span class="text-info">Output not reviewed</span>');

              if (eval === "0") {

                var answer = $('#annotator-' + i + '-answer-0');
                answer.text("No");

                var no = $('#review-' + i + '-question-0 button.no');
                no.addClass('active');
                no.attr('aria-pressed', true);

                for (var q = 1; q <= 4; q++) {

                  var no = $('#review-' + i + '-question-' + q + ' button.no');
                  no.prop('disabled', true);
                  no.attr('aria-pressed', false);
                  no.attr('aria-disabled', true);

                  var yes = $('#review-' + i + '-question-' + q + ' button.yes');
                  yes.prop('disabled', true);
                  yes.attr('aria-pressed', false);
                  yes.attr('aria-disabled', true);

                  var answer = $('#annotator-' + i + '-answer-' + q);
                  answer.text("N/A");

                }
                return;
              }
              console.log(i + " eval " + eval);
              for (var q = 0; q <= 4; q++) {
                var val = eval.charAt(q);

                console.log(q + " eval " + val);

                var answer = $('#annotator-' + i + '-answer-' + q);


                if (val === "1") {
                  //$('#review-' + i + '-question-' + q + ' button.yes').addClass('active');
                  // var yes = $('#review-' + i + '-question-' + q + ' button.yes');
                  // yes.prop('disabled', true);
                  // yes.attr('aria-disabled', true);
                  // yes.attr('aria-pressed', true);

                  var yes = $('#review-' + i + '-question-' + q + ' button.yes');
                  yes.addClass('active');
                  yes.attr('aria-pressed', true);
                  answer.text("Yes");
                } else if (val === "0") {
                  //$('#review-' + i + '-question-' + q + ' button.no').addClass('active');
                  var no = $('#review-' + i + '-question-' + q + ' button.no');
                  no.addClass('active');
                  no.attr('aria-pressed', true);
                  answer.text("No");

                } else if (val === "3") {
                  answer.text("N/A");
                }

              }

            }
          </script>

          {% set annotatorNum =  annotatorNum + 1 %}
        {% else %}

          {# This is the review, if exists. For a TU this is executed after the annotation #}

          <script type="text/javascript">

            decodeReviewer({{ annotation.user.id }}, "{{ annotation.eval }}");

            function decodeReviewer(i, eval) {
              console.log("decoding reviewer " + i + " " + eval);

              $("#review-" + i).data("reviewer-eval", eval);
              $("#review-validation-message-" + i).html('<span class="text-info">Output reviewed</span>');

              //if (5 === 5) return;
              if (eval === "0") {

                var buttonGroup = $('#review-' + i + '-question-0');
                var children = buttonGroup.children();
                console.debug(children);
                children.attr("aria-pressed", false);
                children.removeClass("active");

                var no = $('#review-' + i + '-question-0 button.no');
                no.addClass('active');
                no.attr('aria-pressed', true);


                for (var q = 1; q <= 4; q++) {
                  var buttonGroup = $('#review-' + i + '-question-' + q);

                  var children = buttonGroup.children();
                  children.attr("aria-pressed", false);
                  children.removeClass("active");

                  var no = $('#review-' + i + '-question-' + q + ' button.no');
                  no.prop('disabled', false);
                  no.attr('aria-disabled', false);

                  var yes = $('#review-' + i + '-question-' + q + ' button.yes');
                  yes.prop('disabled', false);
                  yes.attr('aria-disabled', false);

                }
                return;
              }

              console.log(i + " eval " + eval);
              for (var q = 0; q <= 4; q++) {
                var val = eval.charAt(q);
                var buttonGroup = $('#review-' + i + '-question-' + q);

                var children = buttonGroup.children();
                console.debug(children);
                children.attr("aria-pressed", false);
                children.removeClass("active");

                console.log(q + " eval " + val);
                if (val === "1") {
                  var yes = $('#review-' + i + '-question-' + q + ' button.yes');
                  yes.addClass('active');
                  yes.attr('aria-pressed', true);

                  yes.prop('disabled', false);
                  yes.attr('aria-disabled', false);

                } else if (val === "0") {
                  var no = $('#review-' + i + '-question-' + q + ' button.no');
                  no.addClass('active');
                  no.attr('aria-pressed', true);

                  no.prop('disabled', false);
                  no.attr('aria-disabled', false);

                } else if (val === "3") {
                  no.prop('disabled', false);
                  no.attr('aria-disabled', false);

                }
              }
            }
          </script>
        {% endif %}


      {% endfor %}
    {% endif %}
  </div>


</div>


<script language="JavaScript">


  function encodeUserReview(i) {
    var eval = "";
    console.log("reviewer " + i);
    console.log("q review yes - no - na");
    for (var q = 0; q <= 4; q++) {
      var yes = $('#review-' + i + '-question-' + q + ' button.yes').hasClass('active');
      var no = $('#review-' + i + '-question-' + q + ' button.no').hasClass('active');
      //var na = $('#review-' + i + '-question-' + q + ' button.na').hasClass('active');
      console.log(q + " review " + yes + " - " + no + " - ...");
      if (yes) {
        eval += "1";
      } else if (no) {
        eval += "0";
        //} else if (na) {
        //  eval += "3";
      } else {
        //eval += $('#review-' + i + '-question-' + q + ' button:disabled').val();
        eval += "3";
      }

    }

    if (eval === "00000" || eval === "03333") {
      eval = "0";
    }
    console.log("encoded eval " + eval);
    return eval;
  }

  //not working
  function setReviewerEvaluationButtons(num, output_id, val, evaluator) {
    console.debug(num + '-' + output_id + '-' + val + '-' + evaluator);
    var button = '#reviewer-evaluation-' + evaluator + '-' + val;
    if ($(button).hasClass("active")) {
      $(button).attr("aria-pressed", false);
      $(button).removeClass("active");
      return;
    }

    $('#review-' + evaluator + ' button').attr("aria-pressed", false);
    $('#review-' + evaluator + ' button').removeClass("active");

    $(button).addClass("active");
    $(button).attr("aria-pressed", true);
  }

  function saveUserReview(num, output_id, val, evaluator) {
    //alert("n: " + num + ", o: " + output_id + ", v: " + val);
    console.log("saving review...");
    console.log("num: " + num + " id: " + output_id + " val: " + val + " evaluator: " + evaluator);
    //todo add CsrfToken
    $.ajax({
      url: "{{ path('app_project_save_review') }}",
      type: "POST",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "num": num,
        "id": output_id,
        "eval": val,
        "evaluator": evaluator,
        "pid": {{ pid }},
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        //$("#log").html("saving...");
        console.log("sending review...");

      },
      success: function (data) {
        console.log(data);
        console.log("tree review saved");
        if (data.valid) {
          //not working
          //setReviewerEvaluationButtons(num, output_id, val, evaluator);
        } else {
          console.log('error saving the review');
        }

      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

</script>