<!-- begin review ranking -->

{% set len = targets | length %}

<div class="tu-labels">
  <div class="container-fluid">


    {% if annotations is defined and annotations | length > 0 %}
      {% set annotatorNum = 0 %}
      {% for annotation in annotations %}

        {% if annotation.revuser == 0 %}

          <div class="media">
            <div class="media-right">
              <span style="font-size:1.5em; padding: 2px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div class="media-body">
              <h3 class="media-heading">
                <!-- todo remove user name if anonymous -->
                {% if project.blindrev %}
                  {# <strike>{{ annotation.user.username }}</strike> - {{ annotation.user.id }} ({{ evaluators[annotation.user.id]["evaluator"].anonymous }})#}
                  {{ evaluators[annotation.user.id]["evaluator"].anonymous }}
                {% else %}
                  {#{{ annotation.user.username }} - {{ annotation.user.id }} ({{ evaluators[annotation.user.id]["evaluator"].anonymous }})#}
                  {{ evaluators[annotation.user.id]["evaluator"].anonymous }} ({{ annotation.user.username }})
                {% endif %}
                <small><i>Confirmed on {{ annotation.confirmed | date("Y-m-d h:i:s") }}</i></small>
              </h3>


              <!-- begin reviewer evaluation -->
              <div class="container-fluid" style="padding: 1em">
                <div id="review-{{ annotation.user.id }}" class="btn-group tu-buttons">

                  <!-- don't know button -->
                  {% if annotation.eval == 0 %}
                    <button id="reviewer-evaluation-{{ annotation.user.id }}-0" type="button" class="btn btn-default disabled" aria-disabled="true" aria-pressed="true"
                            aria-label="Don't know"
                            value="0" onclick="saveReviewerEvaluation({{ annotation.num }}, '{{ id }}', '0', {{ annotation.user.id }})">Don't know
                    </button>
                  {% else %}
                    <button id="reviewer-evaluation-{{ annotation.user.id }}-0" type="button" class="btn btn-default" aria-pressed="false"
                            aria-label="Don't know"
                            value="0" onclick="saveReviewerEvaluation({{ annotation.num }}, '{{ id }}', '0', {{ annotation.user.id }})">Don't know
                    </button>
                  {% endif %}

                  {% for eval in 1..len %}

                    {% if eval == 1 or eval == 21 %}
                      {% set suffix= "st" %}
                    {% elseif eval == 2 or eval == 22 %}
                      {% set suffix= "nd" %}
                    {% elseif eval == 3  or eval == 23 %}
                      {% set suffix= "rd" %}
                    {% else %}
                      {% set suffix= "th" %}
                    {% endif %}

                    {% if annotation.eval == eval %}
                      <button id="reviewer-evaluation-{{ annotation.user.id }}-{{ eval }}" type="button" class="btn btn-default disabled" aria-disabled="true" aria-pressed="true"
                              aria-label="{{ eval }}{{ suffix }}"
                              value="{{ eval }}">{{ eval }}<sup>{{ suffix }}</sup></button>
                    {% else %}
                      <button id="reviewer-evaluation-{{ annotation.user.id }}-{{ eval }}" type="button" class="btn btn-default" aria-pressed="false"
                              aria-label="{{ eval }}{{ suffix }}"
                              value="{{ eval }}" onclick="saveReviewerEvaluation({{ annotation.num }}, '{{ id }}', {{ eval }}, {{ annotation.user.id }})">{{ eval }}<sup>{{ suffix }}</sup></button>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>

              <!-- end reviewer evaluation -->
            </div>
          </div>
          {% set annotatorNum =  annotatorNum + 1 %}
        {% endif %}


      {% endfor %}
    {% endif %}
  </div>


</div>


<script type="text/javascript">


  $(document).ready(function () {
    console.log("initializing reviewer panel...");
        // initialize the buttons for the reviewer
            {% if annotations is defined and annotations | length > 0 %}

            {% for annotation in annotations %}

            {% if annotation.revuser != 0 %}

        $('#reviewer-evaluation-{{ annotation.user.id }}-{{ annotation.eval }}').addClass("active");
        $('#reviewer-evaluation-{{ annotation.user.id }}-{{ annotation.eval }}').attr("aria-pressed", true);

            {% endif %}

            {% endfor %}
            {% endif %}
      }
  );

  function setReviewerEvaluationButtons(num, output_id, val, evaluator) {
    console.log("setting reviewer panel " + num + ", " + output_id + ", " + val + ", " + evaluator + "...");

    var button = '#reviewer-evaluation-' + evaluator + '-' + val;
    if ($(button).hasClass("active")) {
      $(button).attr("aria-pressed", false);
      $(button).removeClass("active");
      return;
    }

    $('#review-' + evaluator + ' button').attr("aria-pressed", false);
    $('#review-' + evaluator + ' button').removeClass("active");

    $(button).addClass("active");
    $(button).attr("aria-pressed", "true");
  }

  function saveReviewerEvaluation(num, output_id, val, evaluator) {
    console.log("saving n: " + num + ", o: " + output_id + ", v: " + val + ", e: " + evaluator);
    $.ajax({
      type: "POST",
      url: "{{ path('app_project_save_review') }}",
      data: {
        "num": num,
        "id": output_id,
        "eval": val,
        "evaluator": evaluator,
        "pid": {{ pid }},
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        //$("#log").html("saving...");
        console.log('saving review...');
      },
      success: function (data) {
        console.log(data);
        console.log("ranking review saved");
        if (data.valid) {
          setReviewerEvaluationButtons(num, output_id, val, evaluator);
        } else {
          console.log('error saving the review');
        }

      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

</script>


<!-- end review ranking -->