<!-- begin review scale -->


<div class="tu-labels">
  <div class="container-fluid">
    {% if annotations is defined and annotations | length > 0 %}
      {% set annotatorNum = 0 %}
      {% for annotation in annotations %}

        {% if annotation.revuser == 0 %}

          <div class="media">
            <div class="media-right">
              <span style="font-size:1.5em; padding: 2px;" class="glyphicon glyphicon-user"></span>
            </div>
            <div class="media-body">
              <h3 class="media-heading">
                {# todo remove strike for anonymous#}
                {% if project.blindrev %}

                  {#{{ evaluators[annotation.user.id]["evaluator"].anonymous }} (<strike>{{ annotation.user.username }} - {{ annotation.user.id }}</strike>)#}
                  {{ evaluators[annotation.user.id]["evaluator"].anonymous }}
                {% else %}
                  {#{{ evaluators[annotation.user.id]["evaluator"].anonymous }} ({{ annotation.user.username }} - <strike>{{ annotation.user.id }}</strike>)#}
                  {{ evaluators[annotation.user.id]["evaluator"].anonymous }} ({{ annotation.user.username }})
                {% endif %}
                <small><i>Confirmed on {{ annotation.confirmed | date("Y-m-d h:i:s") }}</i></small>
              </h3>

              <!-- begin user evaluation -->
              {#
              {% if annotation.eval == 0 %}
                <div><span class="label label-default">Don't know</span></div>
              {% else %}
                {% for eval in ranges %}
                  {% if annotation.eval == eval.val %}
                    <div><span class="label label-default">{{ eval.label }}</span></div>
                  {% endif %}
                {% endfor %}
              {% endif %}
              #}
              <!-- end user evaluation -->

              <!-- begin reviewer evaluation -->
              <div class="container-fluid" style="padding: 1em">
                <div id="review-{{ annotation.user.id }}" class="btn-group tu-buttons">

                  <!-- don't know button -->
                  {% if annotation.eval == 0 %}
                    <button id="reviewer-evaluation-{{ annotation.user.id }}-0" type="button"
                            class="btn btn-default disabled" aria-disabled="true" aria-pressed="true"
                            aria-label="Don't know"
                            value="0"
                            onclick="saveReviewerEvaluation({{ annotation.num }}, '{{ id }}', '0', {{ annotation.user.id }})">
                      Don't know
                    </button>
                  {% else %}
                    <button id="reviewer-evaluation-{{ annotation.user.id }}-0" type="button" class="btn btn-default"
                            aria-pressed="false"
                            aria-label="Don't know"
                            value="0"
                            onclick="saveReviewerEvaluation({{ annotation.num }}, '{{ id }}', '0', {{ annotation.user.id }})">
                      Don't know
                    </button>
                  {% endif %}

                  {% for eval in ranges %}

                    {% if annotation.eval == eval.val %}
                      <button id="reviewer-evaluation-{{ annotation.user.id }}-{{ eval.val }}" type="button"
                              class="btn btn-default disabled" aria-disabled="true" aria-pressed="true"
                              aria-label="{{ eval.label }}"
                              value="{{ eval.val }}">{{ eval.label }}</button>
                    {% else %}
                      <button id="reviewer-evaluation-{{ annotation.user.id }}-{{ eval.val }}" type="button"
                              class="btn btn-default" aria-pressed="false"
                              aria-label="{{ eval.label }}"
                              value="{{ eval.val }}"
                              onclick="saveReviewerEvaluation({{ annotation.num }}, '{{ id }}', {{ eval.val }}, {{ annotation.user.id }})">{{ eval.label }}</button>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>

              <!-- end reviewer evaluation -->
            </div>
          </div>
          {% set annotatorNum =  annotatorNum + 1 %}
        {% endif %}


      {% endfor %}
    {% endif %}
  </div>


</div>


<script type="text/javascript">


  $(document).ready(function () {
        // initialize the buttons for the reviewer
            {% if annotations is defined and annotations | length > 0 %}

            {% for annotation in annotations %}

            {% if annotation.revuser != 0 %}

        $('#reviewer-evaluation-{{ annotation.user.id }}-{{ annotation.eval }}').addClass("active");
        $('#reviewer-evaluation-{{ annotation.user.id }}-{{ annotation.eval }}').attr("aria-pressed", true);

            {% endif %}

            {% endfor %}
            {% endif %}
      }
  );

  function setReviewerEvaluationButtons(num, output_id, val, evaluator) {

    var button = '#reviewer-evaluation-' + evaluator + '-' + val;
    if ($(button).hasClass("active")) {
      $(button).attr("aria-pressed", false);
      $(button).removeClass("active");
      return;
    }

    $('#review-' + evaluator + ' button').attr("aria-pressed", false);
    $('#review-' + evaluator + ' button').removeClass("active");

    $(button).addClass("active");
    $(button).attr("aria-pressed", true);
  }

  function saveReviewerEvaluation(num, output_id, val, evaluator) {
    //alert("n: " + num + ", o: " + output_id + ", v: " + val + ", e: " + evaluator);
    $.ajax({
      type: "POST",
      url: "{{ path('app_project_save_review') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "num": num,
        "id": output_id,
        "eval": val,
        "evaluator": evaluator,
        "pid": {{ pid }},
        "CsrfToken": "{{ csrf_token('authenticate') }}"

      },
      cache: false,
      beforeSend: function () {
        //$("#log").html("saving...");
      },
      success: function (data) {
        console.log(data);
        console.log("binary/scale review saved");
        if (data.valid) {
          setReviewerEvaluationButtons(num, output_id, val, evaluator);
        } else {
          console.log('error saving the review');
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);

      }
    });
  }

</script>


<!-- end review scale -->