<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{ title }}
    </h3>
  </div>
  <div class="panel-body">
    <div>
      {% if role == "admin" %}
        <h4>Invite an admin</h4>
      {% elseif role == "vendor" %}
        <h4>Invite a vendor</h4>
      {% elseif role == "evaluator" %}
        <h4>Invite an evaluator</h4>
      {% elseif role == "reviewer" %}
        <h4>Invite a reviewer</h4>
      {% endif %}
      <form>


        <div class="form-inline" aria-controls="access-table-{{ role }}">


          <input aria-label="User email" size="50" type="text" class="form-control"
                 id="access-username-{{ role }}"
                 placeholder="Enter the user's email address">

          <button id="access-invite-{{ role }}" type="button" class="btn btn-default">Invite</button>

          {#<button id="access-revoke-{{ role }}" type="button" class="btn btn-default">Revoke</button>#}
        </div>

      </form>


      <div style="padding-top: 15px;" class="container-fluid">

        <a data-toggle="collapse" href="#collapse1-{{ role }}"><i class="fa fa-users" aria-hidden="true"></i>
          Favorite {{ role }}s</a>

        <div id="collapse1-{{ role }}" class="panel-collapse collapse">
          {#<small>Click on the contacts to invite them.</small>
          <ul class="list-group" id="access-username-list-{{ role }}">

          </ul>#}

          <table class="table table-striped table-hover table-condensed">

            {#<caption id="favourites-table-caption-{{ role }}">Click on the users to invite them.</caption>#}
            <caption id="favourites-table-caption-{{ role }}"></caption>
            <thead id="favourites-table-head-{{ role }}">
            <tr>
              <th id="favourites-username-{{ role }}-column" scope="col">Username</th>
              <th id="favourites-first-{{ role }}-column" scope="col">First name</th>
              <th id="favourites-last-{{ role }}-column" scope="col">Last name</th>
              <th id="favourites-email-{{ role }}-column" scope="col">Email</th>
              {# <th id="favourites-role-{{ role }}-column">Previous roles</th>#}
            </tr>
            </thead>
            <tbody id="favourites-table-body-{{ role }}" style="cursor: pointer;"></tbody>
          </table>

        </div>

      </div>
      <div id="invitation-table-{{ role }}" style="display: none">

        <hr>

        <h4 id="invited-{{ role }}s-description">Invited {{ role }}s</h4>
        <form>

          <table class="table table-striped" id="access-table-{{ role }}" aria-describedby="invited-{{ role }}s-description">
            <thead>
            <tr>
              {#<th id="access-select-{{ role }}-column" aria-label="select">
                <input aria-label="select all users" id="access-select-all" type="checkbox">
              </th>#}
              {#<th id="access-select-{{ role }}-column">Select</th>#}
              <th id="access-select-{{ role }}-column" scope="col">
                <button id="access-revoke-{{ role }}" type="button" class="btn btn-default btn-xs" aria-label="Revoke the selected users">Revoke</button>
              </th>
              <th id="access-user-{{ role }}-column" scope="col">Username</th>
              <th id="access-first-{{ role }}-column" scope="col">First name</th>
              <th id="access-last-{{ role }}-column" scope="col">Last name</th>
              <th id="access-email-{{ role }}-column" scope="col">Email</th>
              <th id="access-status-{{ role }}-column" scope="col">Status</th>
              <th id="access-inviter-{{ role }}-column" scope="col">Inviter</th>
            </tr>
            </thead>
            <tbody id="access-table-{{ role }}-body">

            </tbody>
          </table>
        </form>
      </div>
      {#<div id="invitation-alert-{{ role }}" class="alert alert-warning" >
        <p><strong>Warning!</strong> There are no users.

        </p>
      </div>#}
    </div>
  </div>
</div>

