{% include 'util/debug.twig' with {'parent': 'util/settings.navigation-bar.twig'} %}

{% if "admin" in userRoles
  or "owner" in userRoles %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">

        <nav role="navigation">
          <ul class="nav nav-pills nav-stacked" style="margin-top: 20px;">


            <li class="dropdown-header">GENERAL</li>
            <li {% if view ends with 'details' %} class="active"{% endif %}>
              <a id="project-details-item" href="{{ path('admin') }}?pid={{ pid }}&view=settings.details">
                <i class="fa fa-gear fa-fw" aria-hidden="true"></i> Project details</a>
            </li>

            <li {% if view ends with 'delete' %} class="active"{% endif %}>
              <a id="delete-item" href="{{ path('admin') }}?pid={{ pid }}&view=settings.delete">
                <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> Delete
              </a>
            </li>

            <li {% if view ends with 'clone' %} class="active"{% endif %}>
              <a id="clone-project-item" href="{{ path('admin') }}?pid={{ pid }}&view=settings.clone">
                <i class="fa fa-clone" aria-hidden="true"></i> Clone project
              </a>
            </li>


            <li class="divider"></li>
            <li class="dropdown-header">EVALUATION</li>


            <li {% if view ends with 'evalformat' %} class="active"{% endif %}>
              <a id="format-item" href="{{ path('admin') }}?pid={{ pid }}&view=settings.evalformat">
                <i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i> Format
              </a>
            </li>

            <li class="divider"></li>
            <li class="dropdown-header">GUIDELINES</li>

            <li {% if view ends with 'guidelines' %} class="active"{% endif %}>
              <a id="specifications-item" href="{{ path('admin') }}?pid={{ pid }}&view=settings.guidelines">
                <i class="fa fa-check-square-o" aria-hidden="true"></i> Specifications
              </a>
            </li>

            <li {% if view ends with 'instructions' %} class="active"{% endif %}>
              <a id="instructions-item" href="{{ path('admin') }}?pid={{ pid }}&view=settings.instructions">
                <i class="fa fa-book fa-fw" aria-hidden="true"></i> Instructions
              </a>
            </li>


            <li class="divider"></li>
            <li class="dropdown-header">DATA</li>

            <li {% if view ends with 'import' %} class="active"{% endif %}>
              <a id="import-item" href="{{ path('admin') }}?pid={{ pid }}&view=settings.import">
                <i class="fa fa-upload" aria-hidden="true"></i> Import
              </a>
            </li>


            <li {% if view ends with 'export' %} class="active"{% endif %}>
              <a id="export-item" href="{{ path('admin') }}?pid={{ pid }}&view=settings.export">
                <i class="fa fa-download" aria-hidden="true"></i> Export
              </a></li>


            <li class="divider"></li>
            <li class="dropdown-header">MANAGEMENT</li>


            <li {% if view ends with 'access' %} class="active"{% endif %}>
              <a id="user-invitation-item" href="{{ path('admin') }}?pid={{ pid }}&view=settings.access">
                <i class="fa fa-users fa-fw"></i> User invitation
              </a>
            </li>


            <li {% if view ends with 'deadlines' %} class="active"{% endif %}>
              <a id="project-deadlines-item" href="{{ path('admin') }}?pid={{ pid }}&view=settings.deadlines">
                <i class="fa fa-calendar fa-fw" aria-hidden="true"></i> Project deadlines
              </a>
            </li>


          </ul>
        </nav>
      </div>


      <div class="col-md-10">

        {# dispaly a setting panel #}
        {% include 'setting/'~view~'.twig' %}


      </div>
    </div>
  </div>

{% elseif "vendor" in userRoles %}
  <div class="container-fluid">
    {% include 'setting/settings.access.twig' %}
  </div>

{% else %}
  {% include 'exception/invalid.twig' %}
{% endif %}