<div class="tu-source">

  {% if task == "evaluation" %}
    <!-- begin 3-column source -->
    <div class="row">

      <div class="col-xs-1 col-sm-1 col-md-1">
        <h4 id="source">Source</h4>
      </div>

      <!-- begin source text -->
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">


        <p style="font-size: 130%" aria-labelledby="source">{{ sentence.text }}</p>


      </div>
      <!-- end source text -->


      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        {% include 'util/comments.twig' %}

      </div>


    </div>

    <!-- end 3-column source -->
  {% else %}
    <!-- review -->
    <!-- begin 1-column source -->
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">


        <h4 id="source">Source</h4>
        <p style="font-size: 130%" aria-labelledby="source">{{ sentence.text }}</p>


      </div>

      <!-- end source text -->
    </div>

    <div class="row">
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
        {% include 'util/comments.twig' %}
      </div>
    </div>

    <!-- end 1-column source -->
  {% endif %}

</div>
<!-- end source  -->
