{% extends 'base.twig' %}


{% block content %}

  <h1>Twig</h1>
  {#<h2>Roles</h2>#}
  {#<p>isAdmin {{ roles | isAdmin }}</p>#}
  {#<p>isOwner {{ roles is owner }}</p>#}

  {#<p>isVendor {{ roles is vendor }}</p>#}
  <h2>JSON</h2>

  <p>ranges: {{ ranges }}</p>
  {% for eval in ranges | json_decode %}
    <p>{{ eval.val }} - {{ eval.label }} - {{ eval.label }}</p>
  {% endfor %}

  <h1>Test</h1>
  <h2>GET</h2>
  <pre id="get-result"></pre>
  <hr>
  <h2>POST</h2>
  <pre id="post-result"></pre>


{% endblock content %}

{% block script %}

  {{ parent() }}

  <script>

    function testGET() {
      console.log('testing get...');
      $.ajax({
        type: "GET",
        url: "{{ path('test_get') }}?p1=&v1",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "p2": "v2",
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        cache: false,
        beforeSend: function () {
          console.log('testing get...');
        },
        success: function (data) {

          console.log(data);
          if (data.valid) {
            console.log('get: ' + JSON.stringify(data, null, 2));
            $("#get-result").text(JSON.stringify(data, null, 2));
          } else {
            $("#get-result").text('not valid');
          }
        },
        error: function (xhr, status, error) {
          errorHandler(xhr);

        }
      });
    }

    function testPOST() {
      console.log('testing post...');
      $.ajax({
        type: "POST",
        url: "{{ path('test_post') }}?p1=&v1",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "p2": "v2",
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        cache: false,
        beforeSend: function () {
          console.log('testing post...');
        },
        success: function (data) {

          console.log(data);
          if (data.valid) {
            console.log('post: ' + JSON.stringify(data, null, 2));
            $("#post-result").text(JSON.stringify(data, null, 2));
          } else {
            $("#post-result").text('not valid');
          }
        },
        error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    $(document).ready(function () {
      testGET();
      testPOST();
    });

  </script>

{% endblock script %}