{% include 'util/debug.twig' with {'parent': 'util/user-profile-personal-data.twig'} %}

<h2 id="page-subtitle-personal-data">Personal data</h2>

<div class="alert alert-info" id="personal-data-info">
  <strong>Info!</strong>
  Use this page to update your personal data.
</div>

{#app_user_refresh_api_key#}
<div class="panel panel-default">
  <div class="panel-body">


    <form class="form-horizontal">
      <input type=hidden name="CsrfToken" value="{{ csrf_token('authenticate') }}">


      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group">
            <label class="control-label" for="username">Username</label>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa-lg" aria-hidden="true"></i></span>
              <input type="text" class="form-control" id="username" name="username"
                     placeholder="Enter your username"
                     readonly aria-readonly="true">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group">
            <label class="control-label" for="first_name">First name</label>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa-lg" aria-hidden="true"></i></span>
              <input type="text" class="form-control" id="first_name" name="first_name"
                     placeholder="Enter your first name">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group">
            <label class="control-label" for="last_name">Last name</label>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa-lg" aria-hidden="true"></i></span>
              <input type="text" class="form-control" id="last_name" name="last_name"
                     placeholder="Enter your last name">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group">
            <label class="control-label" for="email">Email</label>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></span>
              <input readonly aria-readonly="true" type="email" class="form-control" id="email" name="email"
                     placeholder="Enter your email">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group">
            <label class="control-label" for="affiliation">Affiliation</label>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-institution fa-lg" aria-hidden="true"></i></span>
              {#<textarea rows="1" class="form-control" id="affiliation" name="affiliation"#}
              {#placeholder="Enter your company or organization name"></textarea>#}
              <input type="text" class="form-control" id="affiliation" name="affiliation"
                     placeholder="Enter your company or organization name">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group">
            <label class="control-label" for="token">Access token</label>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
              <input title="access token" type="text" class="form-control" id="access-token" name="access-token" readonly>
              <span class="input-group-btn">
                <input id="refresh-token-btn" type="button" class="btn btn-primary" value="Refresh" onclick="refreshAccessToken()">
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script language="JavaScript">

  function configureAutoSaveUserProfile() {
    $('#username').change(function () {
      console.log("saving username...");
      saveUserProfile();
    });

    $('#first_name').change(function () {
      console.log("saving first name...");
      saveUserProfile();
    });

    $('#last_name').change(function () {
      console.log("saving last name...");
      saveUserProfile();
    });

    $('#email').change(function () {
      console.log("saving email...");
      saveUserProfile();
    });

    $('#affiliation').change(function () {
      console.log("saving affiliation...");
      saveUserProfile();
    });
  }

  $(document).ready(function () {
    loadUserProfile();
    configureAutoSaveUserProfile();
  });

  function loadUserProfile() {
    //set username, ...
    console.log("loading user profile...");
    $.ajax({
      type: "GET",
      url: "{{ path('app_user_get_profile') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "hash": "{{ app.session.get('user').hash }}",
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        console.log("loading...");
      },
      success: function (data) {
        console.log(data);
        console.log('profile found');
        if (data.valid) {
          $('#username').prop('value', data.username);
          $('#first_name').prop('value', data.firstName);
          $('#last_name').prop('value', data.lastName);
          $('#email').prop('value', data.email);
          $('#affiliation').prop('value', data.affiliation);
          $('#access-token').prop('value', data.accessToken);
        } else {
          console.log('error:' + data.message);
          MyNotify('Cannot load the user profile.', null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  function saveUserProfile() {
    var username = $('#username').val();
    var firstName = $('#first_name').val();
    var lastName = $('#last_name').val();
    var affiliation = $('#affiliation').val();
    var email = $('#email').val();
    console.log("saving " + username + ", " + firstName + ", " + lastName + ", " + email + ", " + affiliation + "...");

    $.ajax({
      type: "POST",
      url: "{{ path('app_user_profile_update') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "hash": "{{ app.session.get('user').hash }}",
        "username": username,
        "firstName": firstName,
        "lastName": lastName,
        "affiliation": affiliation,
        "email": email,
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        console.log("saving...");
      },
      success: function (data) {
        console.log(data);
        console.log('profile updated');
        if (data.valid) {
          MyNotify(data.message, null, null, "success");
          //todo user v or x on the input?
          //updates the fields
          $('#username').prop('value', data.username);
          $('#first_name').prop('value', data.firstName);
          $('#last_name').prop('value', data.lastName);
          $('#affiliation').prop('value', data.affiliation);
          $('#email').prop('value', data.email);
        } else {
          console.log('error:' + data.message);
          MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  function refreshAccessToken() {

    console.log('refreshing access token...');

    $.ajax({
      type: "GET",
      url: "{{ path('app_user_refresh_api_key') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "hash": "{{ app.session.get('user').hash }}",
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        console.log('refreshing access token...');
      },
      success: function (data) {
        //console.log(data);
        console.log('refreshed changed');
        console.log(data);
        if (data.valid) {
          MyNotify(data.message, null, null, "success");
          $('#access-token').prop('value', data.apiKey);

        } else {
          console.log('error:' + data.message);
          MyNotify('Cannot refresh the access token.', null, null, "danger");
        }
      }
      ,
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }
</script>
