{% include 'util/debug.twig' with {'parent': 'util/user-profile-change-password.twig'} %}

<h2 id="page-subtitle-change-password">Change password</h2>

<div class="alert alert-info" id="change-password-info">
  <strong>Info!</strong>
  Use this page to change your password.
</div>

<div class="panel panel-default">
  <div class="panel-body">
    {% include 'util/change-password-form.twig' %}
  </div>
</div>