{# deprecated #}
<div class="container-fluid">
  <header role="banner">
    <h1 id="page-title">User profile</h1>


    <nav>
      <ul class="nav nav-tabs">
        <li {% if view ends with 'details' %} class="active"{% endif %}>
          <a id="personal-data-item" href="{{ path('admin') }}?view=account.details">


            <i class="fa fa-user" aria-hidden="true"></i>
            Personal data
          </a>
        </li>
        <li {% if view ends with 'change-password' %} class="active"{% endif %}>
          <a id="change-password-item" href="{{ path('admin') }}?view=account.change-password">
            <i class="fa fa-lock" aria-hidden="true"></i>
            Change password
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main id="mainContent" role="main" tabindex="-1">
    {% include 'default/'~view~'.twig' %}
  </main>

</div>