<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="skipto-item" class="sr-only" href="#mainContent">Skip to main content</a>
      <a id="mt-equal-item" class="navbar-brand" href="{{ path('homepage') }}">MT-equal</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a id="sign-up-item" href="{{ path('app_user_sign_up') }}"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign
          up</a>
      </li>
      <li><a id="loginButton" href="{{ path('app_user_sign_in') }}"><i class="fa fa-sign-in"
                                                                       aria-hidden="true"></i> Sign in</a></li>
    </ul>
  </div>
</nav>