<!-- included in panel/review.twig -->
{% include 'util/debug.twig' with {'parent': 'listing/agreement.twig'} %}

<style>
  .open-evaluation-list {
    cursor: pointer;
  }
</style>

{% if data is defined and data | length > 0 %}
  {% set rowNumber = 1 %}

  <div class="row">

    <div class="col-md-4">

      <table class="table">
        <tbody>
        <tr>
          <th id="eval-format" scope="row">Evaluation format</th>
          <td><span class="label label-primary">{{ project.type }}</span></td>
        </tr>

        <tr>
          <th id="target-per-tu" scope="row">Targets per translation unit</th>
          <td>{{ targets | length }}</td>
        </tr>

        <tr>
          <th id="evaluators" scope="row">Evaluators</th>
          <td>{{ evaluators }}</td>
        </tr>

        </tbody>
      </table>

    </div>

    <div class="col-md-4">

      <table class="table">
        <tbody>
        <tr>
          <th id="output-size-label" scope="row"></th>
          <td id="output-size-value"></td>
        </tr>

        <tr>
          <th id="reviewed-count-label" scope="row"></th>
          <td id="reviewed-count-value"></td>
        </tr>

        <tr>
          <th id="viewed-count-label" scope="row"></th>
          <td id="viewed-count-value"></td>
        </tr>

        </tbody>
      </table>

    </div>


    <div class="col-md-4">

      <table class="table">
        <tbody>


        <tr id="output-size">
          {#{% for item in evalcounter %}#}
          {#{% if item.eval ==0 %}#}

          {#{{ item.cnt }} <span class="label label-info">don't know</span>#}
          {#{% endif %}#}

          {#{% for eval in ranges %}#}
          {#{% if eval.val == item.eval %}#}
          {#{{ item.cnt }} <span class="label label-info">{{ eval.label }}</span>#}


          {#{% set evalCount = evalCount + 1 %}#}
          {#{% endif %}#}
          {#{% endfor %}#}
          {#{% endfor %}#}
        </tr>

        <tr>
          <th id="fleiss-kappa" scope="row"><a href="https://en.wikipedia.org/wiki/Fleiss%27_kappa" target="_blank">Fleiss'
              kappa <span aria-label="- opens in new window or tab"><i class="fa fa-external-link"
                                                                       aria-hidden="true"></i></span></a></th>
          <td id="kappa-value"></td>

        </tr>

        <tr>
          <th id="inter-annotator-agreement" scope="row">Inter-annotator agreement</th>
          <td id="inter-annotator"></td>

        </tr>

        </tbody>
      </table>

    </div>
  </div>


  {% if project.type == "scale" %}

    {% include 'listing/agreement-scale.twig' %}

  {% elseif project.type == "binary" %}

    {% include 'listing/agreement-scale.twig' %}

  {% elseif project.type == "ranking" %}

    {% include 'listing/agreement-ranking.twig' %}

  {% elseif project.type == "tree" %}

    {% include 'listing/agreement-tree.twig' %}

  {% else %}

    <p>error</p>

  {% endif %}


  <script>

    $(document).ready(function () {

      $('#review-modal').on('hidden.bs.modal', function () {
        //getAgreement();
        var reviewModal = $("#review-modal");
        var id = reviewModal.data("id");
        var target = reviewModal.data("target");
        var source = reviewModal.data("source");
        var num = reviewModal.data("num");

        getReviewedPair(id, source, target, num);
        //todo update the current row only
        updateKappa();
        console.debug("closing modal...");
      });

      updateKappa();
    });

    {#$(document).on("click", ".open-evaluation-list", function () {#}
    {#  //todo check if it can be skipped is isTaskConfirmed is true#}
    {#  var id = $(this).data('id');#}
    {#  var num = $(this).data('num');#}
    {#  var target = $(this).data('target');#}
    {#  var source = $(this).data('source');#}
    {#  var reviewModal = $("#review-modal");#}
    {#  reviewModal.data("target", target);#}
    {#  reviewModal.data("source", source);#}
    {#  reviewModal.data("nun", num);#}
    {#  reviewModal.data("id", id);#}

    {#  $('#review-modal-title').text("Review translation unit " + id);#}
    {#  reviewModal.modal('show');#}

    {#  $.ajax({#}
    {#    type: "GET",#}
    {#    url: "{{ path('app_project_get_pair') }}",#}
    {#    headers: {#}
    {#      "CsrfToken": "{{ csrf_token('authenticate') }}"#}
    {#    },#}
    {#    data: {#}
    {#      "num": num,#}
    {#      "id": id,#}
    {#      "pid": {{ pid }}#}
    {#    },#}
    {#    cache: false,#}
    {#    beforeSend: function () {#}
    {#      console.log('opening review panel...')#}
    {#    },#}
    {#    success: function (response) {#}
    {#      $("#review-modal-body").html(response);#}
    {#    },#}
    {#    error: function (xhr, status, error) {#}
    {#      errorHandler(xhr);#}
    {#    }#}
    {#  });#}
    {#});#}

    function getReviewedPair(id, source, target, num) {
      console.debug("getting line...", id, source, target, num);
      $.ajax({
        type: "GET",
        url: "{{ path('app_project_review_line') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "pid": {{ pid }},
          "id": id,
          "source": source,
          "target": target
        },
        cache: false,
        success: function (data) {
          console.debug("updated line", data);
          if (data.valid) {
            updateTableRow(data);
          } else {
            console.debug("cannot update the line");
          }
        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    function updateTableRow(data) {
      console.debug("updating row...", data);
      if (data.hasOwnProperty('id') && data.hasOwnProperty('num')) {


        if (data.hasOwnProperty('agreement')) {
          $("#evaluation-list-observed-agreement-" + data.id + "-" + data.num).text(data.agreement);
          var observedAgreementString = $("#evaluation-list-observed-agreement-string-" + data.id + "-" + data.num);
          if (data.agreement <= 0)
            observedAgreementString.html('<span class="label label-danger">Poor</span>');
          else if (data.agreement > 0 && data.agreement <= 0.20)
            observedAgreementString.html('<span class="label label-danger">Slight</span>');
          else if (data.agreement > 0.20 && data.agreement <= 0.40)
            observedAgreementString.html('<span class="label label-default">Fair</span>');
          else if (data.agreement > 0.40 && data.agreement <= 0.60)
            observedAgreementString.html('<span class="label label-warning">Moderate</span>');
          else if (data.agreement > 0.60 && data.agreement <= 0.80)
            observedAgreementString.html('<span class="label label-success">Substantial</span>');
          else if (data.agreement > 0.80 && data.agreement < 1)
            observedAgreementString.html('<span class="label label-success">Almost perfect</span>}');
          else {

            if ($.cookie('review_disagreement')) {
              console.debug("perfect agreement and show just disagreement, the row is removed", data.id, data.num);
              $("#evaluation-list-content-row-" + data.id + "-" + data.num).remove();
              return;
            }
            observedAgreementString.html('<span class="label label-success">Perfect</span>');
          }

        }

        if (data.hasOwnProperty('comments')) {
          $("#evaluation-list-comments-" + data.id + "-" + data.num).text(data.comments);
        }

        if (data.hasOwnProperty('n')) {
          $("#evaluation-list-count-" + data.id + "-" + data.num).text(data.n);
        }

        if (data.hasOwnProperty('values')) {
          console.debug("values", data.values);
          var reviewed = false;

          //reset the evaluation counts
          $(".evaluation-list-all-" + data.id + "-" + data.num).text('0');

          for (var i = 0; i < data.values.length; i++) {
            //console.debug(i, data.values[i]);
            if (data.values[i].hasOwnProperty('revuser') && data.values[i].revuser > 0) {
              //console.debug("got ther reviewed", data.values[i].revuser);
              reviewed = true;
            }

            //if tree skip
            if (data.values[i].hasOwnProperty('type') && data.values[i].hasOwnProperty('eval') && data.values[i].hasOwnProperty('cnt') && data.values[i].type !== "tree") {

              if (data.values[i].eval === "0") {
                console.debug("don't know", data.id, data.num, data.values[i].eval, data.values[i].cnt);
                $("#evaluation-list-do-not-know-" + data.id + "-" + data.num).text(data.values[i].cnt);
              } else {
                //binary and scale
                console.debug("other", data.id, data.num, data.values[i].eval, data.values[i].cnt);
                $("#evaluation-list-evaluation-" + data.id + "-" + data.num + "-" + data.values[i].eval).text(data.values[i].cnt);
              }
            }
          }

          if (reviewed === false) {
            if (data.hasOwnProperty('viewed') && data.viewed) {
              $("#evaluation-list-status-" + data.id + "-" + data.num).html('<span class="label label-primary">Seen</span>');
            } else {
              $("#evaluation-list-status-" + data.id + "-" + data.num).html('<span class="label label-default">Unseen</span>');
            }
          } else {
            $("#evaluation-list-status-" + data.id + "-" + data.num).html('<span class="label label-success">Reviewed</span>');
          }
        }
      }
    }

    function updateKappa() {
      $.ajax({
        type: "GET",
        url: "{{ path('app_project_get_kappa') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "pid": {{ pid }}
        },
        cache: false,
        success: function (data) {
          console.log("updated kappa", data);
          if (data.valid) {
            $('#kappa-value').text(data.kappa);
            $('#inter-annotator').html(getKappaLabel(data.kappa));
          } else {
            $('#kappa-value').html('<span class="label label-danger">Not available</span>');
            $('#inter-annotator').html('<span class="label label-danger">Not available</span>');
          }
        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    function getKappaLabel(k) {
      if (k <= 0)
        return '<span class="label label-danger">Poor agreement</span>';
      else if (k > 0 && k <= 0.20)
        return '<span class="label label-danger">Slight agreement</span>';
      else if (k > 0.20 && k <= 0.40)
        return '<span class="label label-default">Fair agreement</span>';
      else if (k > 0.40 && k <= 0.60)
        return '<span class="label label-default">Moderate agreement</span>';
      else if (k > 0.60 && k <= 0.80)
        return '<span class="label label-success">Substantial agreement</span>';
      else if (k > 0.8 && k < 1)
        return '<span class="label label-success">Almost perfect agreement</span>';

      return '<span class="label label-success">Perfect agreement</span>';

    }

  </script>

{% else %}

  <section role="region">
    <!-- todo replace with a JS that writes outside the evaluations panel -->
    <div class="alert alert-warning">
      <strong>Warning!</strong> There are no evaluations to review yet.
    </div>

  </section>
{% endif %}
