<table class="table table-hover table-responsive">
  <caption>Click on a row to review the corresponding source/target pair</caption>
  <thead>
  <tr>
    {#    <th id="evaluation-number-label" aria-label="Row number" scope="col">N.</th>#}
    <th id="translation-unit-label" aria-label="Translation unit id" scope="col">TU</th>
    <th id="source-label" aria-label="Source segment" scope="col">Source</th>

    <th id="target-label" aria-label="Target segment" scope="col">Target</th>

    <th id="number-of-comments-label" scope="col">Comments</th>


    <th id="review-status-label" scope="col">Status</th>

    <th id="number-of-evaluations-label" aria-label="Number of evaluations" scope="col">Count
    </th>
    <th id="do-not-know-label" aria-label="Number of don't know" scope="col">Don't
      know
    </th>
    {% for eval in ranges %}
      <th id="evaluation-{{ eval.val }}-label" aria-label="Number of {{ eval.label }}" scope="col">{{ eval.label }}</th>
    {% endfor %}

    <th id="observed-agreement-label" aria-label="Numeric observed agreement" scope="col">P<sub>i</sub>

    </th>
    <th id="observed-agreement-textual-label" aria-label="Textual observed agreement" scope="col">Observed agreement</th>

  </tr>
  </thead>
  <tbody style="cursor: pointer;">

  {% set currentSource = "" %}
  {% set currentSourceNum = "" %}
  {% set commentsCount = 0 %}
  {% set sourceCommentsCount = 0 %}
  {% set reviewedCount = 0 %}
  {% set viewedCount = 0 %}
  {% set oldId = 0 %}
  {% set id = 0 %}

  {% for output in data %}


    {% if output.type == "source" %}
      {% set currentSource =  output.text %}
      {% set currentSourceNum =  output.num %}

      {% if output.num in comments|keys %}
        {% set sourceCommentsCount = comments[output.num] %}
      {% else %}
        {% set sourceCommentsCount = 0 %}
      {% endif %}

    {% else %}
      {% set vals = output.vals | json_decode %}

      <!-- todo change as in agreement-ranking.twig -->
      {% if output.num in comments|keys %}
        {% set commentsCount = comments[output.num] %}
      {% else %}
        {% set commentsCount = 0 %}
      {% endif %}

      {% set commentsCount = sourceCommentsCount + commentsCount %}

      {% set columns = 9 + (ranges | length) %}

      <tr id="evaluation-list-content-row-{{ output.id }}-{{ output.num }}" class="open-evaluation-list"
          data-id="{{ output.id }}" data-num="{{ output.num }}" data-target="{{ output.num }}" data-source="{{ currentSourceNum }}"
          aria-label="Click to review">
        {#        <td>{{ rowNumber }}</td>#}

        {% if oldId != output.id %}
          {% set id=1 %}
        {% else %}
          {% set id = id + 1 %}
        {% endif %}
        {% set oldId= output.id %}

        <td>{{ output.id }}.{{ id }}</td>
        {#        <td>{{ output.id }}/{{ currentSourceNum }}/{{ output.num }}</td>#}

        <td>{{ currentSource }}</td>

        <td>{{ output.text }}</td>


        <td id="evaluation-list-comments-{{ output.id }}-{{ output.num }}">{{ commentsCount }}</td>


        <td id="evaluation-list-status-{{ output.id }}-{{ output.num }}">
          {% set isReviewed = false %}
          {% for  item in vals %}

            {% if item.revuser > 0 and isReviewed == false %}
              {% if  viewedrev[output.num] is defined %}
                {# review date is actually the view date #}
                <span class="label label-success"
                      title="Reviewed on {{ viewedrev[output.num] | date('Y-m-d H:i:s') }} ">Reviewed</span>
              {% else %}
                <span class="label label-success">Reviewed</span>
              {% endif %}

              {% set isReviewed = true %}

              {% set reviewedCount = reviewedCount + 1 %}
            {% endif %}
          {% endfor %}

          {% if isReviewed == false %}
            {% if  viewedrev[output.num] %}
              <span class="label label-primary"
                    title="Viewed on {{ viewedrev[output.num] | date('Y-m-d H:i:s') }}">Seen</span>
              {% set viewedCount = viewedCount + 1 %}

            {% else %}
              <span class="label label-default">Unseen</span>
            {% endif %}
          {% endif %}


        </td>

        <td id="evaluation-list-count-{{ output.id }}-{{ output.num }}">{{ output.n }}</td>


        <!-- don't know -->
        {% set num = 0 %}
        {% for item in vals %}
          {% if item.eval == 0 %}
            {% set num = item.cnt %}
            {% set break = true %}
          {% endif %}
        {% endfor %}
        <td class="evaluation-list-all-{{ output.id }}-{{ output.num }}" id="evaluation-list-do-not-know-{{ output.id }}-{{ output.num }}">{{ num }}</td>

        <!-- labels -->

        {% for eval in ranges %}
          {% set num = 0 %}
          {% for item in vals %}
            {% if eval.val == item.eval %}
              {% set num = item.cnt %}
              {% set break = true %}
            {% endif %}
          {% endfor %}

          <td class="evaluation-list-all-{{ output.id }}-{{ output.num }}" id="evaluation-list-evaluation-{{ output.id }}-{{ output.num }}-{{ eval.val }}">{{ num }}</td>
        {% endfor %}

        <td id="evaluation-list-observed-agreement-{{ output.id }}-{{ output.num }}">{{ output.agreement | round(3, 'floor') | number_format(3, ".") }}</td>

        <td id="evaluation-list-observed-agreement-string-{{ output.id }}-{{ output.num }}">
          {% if output.agreement <= 0 %}
            <span class="label label-danger">Poor</span>
          {% elseif output.agreement > 0 and output.agreement <= 0.20 %}
            <span class="label label-danger">Slight</span>
          {% elseif output.agreement > 0.20 and output.agreement <= 0.40 %}
            <span class="label label-default">Fair</span>
          {% elseif output.agreement > 0.40 and output.agreement <= 0.60 %}
            <span class="label label-warning">Moderate</span>
          {% elseif output.agreement > 0.60 and output.agreement <= 0.80 %}
            <span class="label label-success">Substantial</span>
          {% elseif output.agreement > 0.80 and output.agreement < 1 %}
            <span class="label label-success">Almost perfect</span>
          {% else %}
            <span class="label label-success">Perfect</span>
          {% endif %}
        </td>

      </tr>


      {% set rowNumber = rowNumber + 1 %}
    {% endif %}

  {% endfor %}
  </tbody>
</table>

<script language="JavaScript">
  function getMessage(message, val) {
    if (val !== 1) {
      return message + "s";
    }
    return message;
  }

  function writeInfo(id, val, message) {
    $("#" + id + "-value").text(val);
    $("#" + id + "-label").text(getMessage(message, val));
  }


  //todo write a check if these variables exist

  writeInfo("output-size", ({{ rowNumber }} -1), "Target");
  writeInfo("reviewed-count", {{ reviewedCount }}, "Reviewed target");
  writeInfo("viewed-count", {{ viewedCount }}, "Viewed target");


</script>