{# deprecated by import-corpus#}
{#{% block body %}
  {% set countTUs = 0 %}
  {% set countUploadedFiles = 0 %}
  {% set file_num = 0 %}
  {% if files | length > 0 %}
    <div class="content-wrapper" style="min-height: 567px;">



              {% for file in files %}
                <p>{{ countUploadedFiles }} - {{ file.id }} - {{ file.filename }}</p>
                {% set countUploadedFiles = countUploadedFiles + 1 %}
              {% endfor %}

    <script>
      $("#topCounter").html("{{ countUploadedFiles }}/{{ files | length }} uploaded files, {{ countTUs }} TUs");

      $(document).ready(function () {
        $('#sendbutton').each(function (i) {
          var sendModal = $(this).parent().find('.sendModal');
          $(this).click(function () {
            if ($("#sendpanel").is(":visible")) {
              sendModal.fadeOut('slow');
            } else {
              sendModal.fadeIn('slow');
            }
          });
          $(this).parent().find('.modalDelete').click(function (e) {
            sendModal.fadeOut('slow');
          });
          $(this).parent().find('.modalCancel').click(function (e) {
            sendModal.fadeOut('slow');
          });
        });
      });

      //highlight trash button if at least a checkbox was checked
      $("input[type=checkbox]").click(function(){
        var countChecked = 0;
        $('input[type=checkbox]').each(function () {
          if (this.checked) {
            countChecked++;
            $("#deleteButton").addClass("btn-success").attr("disabled", false);
          }
        });
        if (countChecked == 0) {
          $("#deleteButton").removeClass("btn-success").attr("disabled", false);
        }
      });

      function sendReport () {
        var email = $('#sendReportEmail').val();
        if (email.length > 0) {
          $.ajax({
            type: "GET",
            url: "{{ path('send_report') }}",
            data: {"mailto": email, "view": "corpus_report"},
            cache: false,
            beforeSend: function () {
              $("#log").html("...sending");
              setTimeout('$("#log").html("")',3000);
            },
            success: function (json) {
              data = jQuery.parseJSON(json);
              if (data.success == true) {
                notify("The email has been just sent!", "success");
                $('#sendpanel').hide();
              } else {
                notify("Sorry! An error occurred sending the report.", "danger");
              }
              //$("#log").html(json + " DONE!");
            },
            error: function (response, xhr, err) {
              //alert(err+"\nreadyState: "+xhr.readyState+"\nstatus: "+xhr.status+"\nresponseText: "+xhr.responseText);
              notify("ERROR! Sending data failed!", "danger");
            }
          });
        }
      }

      $("#selectAll").change(function () {
        if (!$(this).prop("checked")) {
          $("#deleteButton").removeClass("btn-success").attr("disabled", true);
        }
        $("input:checkbox").prop('checked', $(this).prop("checked"));
      });

    </script>
  {% else %}
    <br>
    <div class="badge alert-warning">
      <i class="fa fa-info-circle"></i> <span style="color: #000">No file has been uploaded yet!</span>
    </div>

  {% endif %}
{% endblock %}
#}