{% include 'util/debug.twig' with {'parent': 'listing/evalreport.before.twig'} %}


<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">
      Evaluation results
    </h3>
  </div>


  <div class="panel-body">


    <h4 id="answers-before-info">Answers</h4>


    {% set targetsCount = targetLabels | length %}

    {% if evaluationFormat == "scale" %}
      {% include 'listing/evalreport.results.scale.twig' with {"after": "false"} %}
    {% elseif evaluationFormat == "binary" %}
      {% include 'listing/evalreport.results.scale.twig' with {"after": "false"} %}
    {% elseif evaluationFormat == "ranking" %}
      {% include 'listing/evalreport.results.ranking.twig' with {"after": "false"} %}
    {% elseif evaluationFormat == "tree" %}
      {% include 'listing/evalreport.results.tree.twig' with {"after": "false"} %}
    {% endif %}


    <h4 id="evaluation-quality-before-info">Evaluation quality</h4>

    <table class="table table-responsive" aria-describedby="evaluation-quality-before-info">
      <thead>
      <tr>
        <th id="inter-before-kappa" scope="col"><a href="https://en.wikipedia.org/wiki/Fleiss%27_kappa?id=1"
                                                   target="_blank">Fleiss' kappa <span
                    aria-label="- opens in new window or tab"><i class="fa fa-external-link"
                                                                 aria-hidden="true"></i></span></a></th>
        <th id="inter-before-agreement" scope="col">Inter-annotator agreement</th>
      </tr>
      </thead>
      <tbody>

      {% if kQuality is defined and kQuality matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
        <tr>
          <td>{{ kQuality }}</td>
          <td>
            {% if kQuality <= 0 %}
              <span class="label label-danger">Poor agreement</span>
            {% elseif kQuality > 0 and kQuality <= 0.20 %}
              <span class="label label-danger">Slight agreement</span>
            {% elseif kQuality > 0.20 and kQuality <= 0.40 %}
              <span class="label label-default">Fair agreement</span>
            {% elseif kQuality > 0.40 and kQuality <= 0.60 %}
              <span class="label label-default">Moderate agreement</span>
            {% elseif kQuality > 0.60 and kQuality <= 0.80 %}
              <span class="label label-success">Substantial agreement</span>
            {% elseif kQuality > 0.80 and kQuality < 1 %}
              <span class="label label-success">Almost perfect agreement</span>
            {% else %}
              <span class="label label-success">Perfect agreement</span>
            {% endif %}
          </td>
        </tr>
      {% else %}
        <tr>
          <td><span class="label label-info">Not available</span></td>
          <td><span class="label label-info">Not available</span></td>
        </tr>
      {% endif %}
      </tbody>
    </table>

    <hr>

    <h4 id="evaluator-trustability-before-info">Evaluator trustability</h4>

    {% if intratus > 0 and kIntraEvaluators is defined and kIntraEvaluators | length > 0 %}

      <table class="table" aria-describedby="evaluator-trustability-before-info">

        <thead>

        <tr>
          <th id="before_evaluator" scope="col">Evaluator</th>
          <th id="before_fleiss_kappa" scope="col"><a href="https://en.wikipedia.org/wiki/Fleiss%27_kappa?id=2"
                                                      target="_blank">Fleiss' kappa <span
                      aria-label="- opens in new window or tab"><i class="fa fa-external-link"
                                                                   aria-hidden="true"></i></span></a>
          </th>
          <th id="intra_annotator_agreement" scope="col">Intra-annotator agreement</th>
        </tr>

        </thead>


        <tbody>

        {% for userid, kappa in kIntraEvaluators %}

          <tr>

            <td headers="before_evaluator">
                          <span>

                              {% if blindReview %}
                                {{ evaluators[userid]["evaluator"].anonymous }}
                              {% else %}
                                {{ evaluators[userid]["evaluator"].anonymous }} ({{ evaluators[userid]["evaluator"].username }})
                              {% endif %}

                          </span>
            </td>

            {% if kappa is defined and kappa matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
              <td headers="before_fleiss_kappa">
                &nbsp;{{ kappa }}
              </td>
              <td headers="intra_annotator_agreement">

                {% if kappa <= 0 %}
                  <span class="label label-danger">Poor agreement</span>
                {% elseif kappa > 0 and kappa <= 0.20 %}
                  <span class="label label-danger">Slight agreement</span>
                {% elseif kappa > 0.20 and kappa <= 0.40 %}
                  <span class="label label-default">Fair agreement</span>
                {% elseif kappa > 0.40 and kappa <= 0.60 %}
                  <span class="label label-default">Moderate agreement</span>
                {% elseif kappa > 0.60 and kappa <= 0.80 %}
                  <span class="label label-success">Substantial agreement</span>
                {% elseif kappa > 0.80 and kappa < 1 %}
                  <span class="label label-success">Almost perfect agreement</span>
                {% else %}
                  <span class="label label-success">Perfect agreement</span>
                {% endif %}

              </td>
            {% else %}
              <td headers="before_fleiss_kappa">
                <span class="label label-info">Not available</span>
              </td>
              <td>
                <span class="label label-info">Not available</span>
              </td>
            {% endif %}

          </tr>

        {% endfor %}

        <tbody>

      </table>

    {% else %}
      <span class="label label-info">Not available</span>
    {% endif %}

  </div>

</div>
