<!-- Modal -->
{% include 'util/debug.twig' with {'parent': 'listing/evalreport.twig'} %}


<div id="report-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="modal-share-close-header" aria-label="close" type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h3 class="modal-title">Share with others</h3>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="share-public-link">Link to share</label>
          <input id="share-public-link" type="text" class="form-control"
                 value="{{ url('app_render_project_report', {'token': token}) }}" readonly>
        </div>
        <hr>

        <div class="form-group">

          <label for="email-report-to">People</label>
          <input type="email" class="form-control" id="email-report-to"
                 placeholder="Enter email addresses separated by commas...">


        </div>
        <button id="modal-send-btn" type="button" class="btn btn-primary" data-dismiss="modal" onclick="sendReport();"
                aria-label="Share the link by email">Send
        </button>
      </div>
      <div class="modal-footer">

        <button id="modal-send-done-btn" type="button" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
    </div>

  </div>
</div>

{% if evaluators | length > 0 %}

  {% if sharable == true %}
    <section role="region">

      <div class="text-right">
        <button id="share-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#report-modal"
                aria-label="Share the evaluation report"><i
                  class="fa fa-share-alt" aria-hidden="true"></i> Share
        </button>
      </div>
    </section>

    <hr>

  {% endif %}


  {# Bootstrap Collapse Panels #}

  {# PANEL 1 #}
  <section role="region">
    {% include 'listing/evalreport.summary.twig' %}
  </section>
  {# PANEL 2 #}
  <section role="region">
    {% include 'listing/evalreport.before.twig' %}
  </section>
  {# PANEL 3 #}
  <section role="region">
    {% include 'listing/evalreport.after.twig' %}
  </section>

  <script language="JavaScript">
    function sendReport() {
      var emails = $('#email-report-to').val();
      if (emails.length > 0) {
        console.debug("emails " + emails);

        $.ajax({
          type: "POST",
          url: "{{ path('share_report_by_email') }}",
          headers: {
            "CsrfToken": "{{ csrf_token('authenticate') }}"
          },
          data: {
            "mailto": emails,
            "token": "{{ token }}"
          },
          cache: false,
          beforeSend: function () {
            console.debug("sending...");
          },
          success: function (data) {

            console.debug(data);

            if (data.valid) {
              MyNotify("The report has been shared.", null, null, "success");
            } else {
              MyNotify("The report cannot be shared.", null, null, "danger");
            }
          },
          error: function (xhr, status, error) {
            errorHandler(xhr);
          }
        });
      }
    }
  </script>


{% else %}

  <div class="alert alert-warning">
    <strong>Warning!</strong> The report is not available as there are no evaluations.
  </div>

{% endif %}