{% include 'util/debug.twig' with {'parent': 'listing/evalreport.summary.twig'} %}


<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title" id="summary-info">
      Evaluation summary
    </h3>
  </div>


  <div class="panel-body">

    {# description list: the card-description style is defined above #}
    <table class="table" aria-describedby="summary-info">
      <tbody>
      <tr>
        <th scope="row">Project name</th>
        <td>
          {% if projectName == "" %}
            <span class="label label-danger">Not specified</span>
          {% else %}
            {{ projectName }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">Project description</th>
        <td>
          {% if projectDescription == "" %}
            <span class="label label-primary">Not specified</span>
          {% else %}
            {{ projectDescription }}
          {% endif %}
        </td>
      </tr>
      {# Evaluation #}
      <tr>
        <th scope="row">Evaluation format</th>
        <td>
          {% if evaluationFormat == "" %}
            <span class="label label-danger">Not specified</span>
          {% else %}
            <span class="label label-primary">{{ evaluationFormat }}</span>
          {% endif %}
        </td>
      </tr>
      <tr>
        {# Number of targets #}
        <th scope="row">Number of targets</th>
        <td>
          {% if targetLabels %}
            {{ targetLabels | length }}
          {% else %}
            0
          {% endif %}
        </td>
      </tr>
      <tr>
        {# Number of evaluators #}
        <th scope="row">Number of active evaluators</th>
        <td>
          {% if evaluators is defined %}
            {{ evaluators | length }}
          {% else %}
            0
          {% endif %}
        </td>
      </tr>
      <tr>
        {# Number of TUs #}
        <th scope="row">Number of translation units</th>
        <td>
          {% if numtus is defined and numtus > 0 %}
            {{ numtus }}
          {% else %}
            0
          {% endif %}
        </td>
      </tr>
      <tr>
        {# Number of redundant TUs #}
        <th scope="row">Number of redundant translation units for intra-annotator agreement</th>
        <td>
          {% if intratus is defined and intratus > 0 %}
            {{ intratus }}
          {% else %}
            <span class="label label-primary">Not specified</span>
          {% endif %}
        </td>
      <tr>
      </tbody>
    </table>

    {% if "tree" == evaluationFormat %}
      <h4>Questions</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <h4>Q1: Source sentence okay?</h4>
          <p>If NO, Q2, Q3, Q4, Q5 do not need to be answered, and are considered N/A (we can’t get any useful information from sentences which were wrong to start with.)</p></li>
        <li class="list-group-item">
          <h4>Q2: All information present?</h4>
          <p>If YES, Q3 does not need to be answered (because the answer would be YES anyways.)</p></li>
        <li class="list-group-item"><h4>Q3: Main noun (phrase) identifying item translated correctly?</h4>
          <p>Either YES or NO.</p>
        </li>
        <li class="list-group-item">
          <h4>Q4: Translation alone easy to read and understand?</h4>
          <p>Either YES or NO. Basically asking for fluency instead of adequacy.</p>
        </li>
        <li class="list-group-item">
          <h4>Q5: Brand names translated correctly?</h4>
          <p>Three answers: YES (present and correct), NO (present and incorrect), N/A (not present)</p>
        </li>
      </ul>

    {% endif %}

  </div>
</div>

