<!-- author: Claudio Giuliano -->

<!-- rendered by app_evaluation_next -->

{% include 'util/debug.twig' with {'parent': 'listing/evaluation.twig'} %}

<style>
  .tu-panel {
    margin-bottom: 0.5em;
  }

  .tu-source {
    /*background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;*/
  }

  .tu-reference {
    /*background-color: #DBFFDF;
    border-left: 6px solid #9FDEA3;*/
  }

  .tu-output {
    /*background-color: #FFF3F0;
    border-left: 6px solid #F2B7B4;*/
  }

  .tu-labels {
    /*background-color: #FFF3F0;
    border-left: 6px solid #F2B7B4;*/
  }

  .tu-buttons {
    margin-bottom: 2px;
  }

  .margin-bottom-05 {
    margin-bottom: 0.5em;
  }

  .margin-bottom-10 {
    margin-bottom: 1.0em;
  }

  .margin-bottom-15 {
    margin-bottom: 1.5em;
  }

  .margin-bottom-20 {
    margin-bottom: 2.0em;
  }

  .margin-bottom-25 {
    margin-bottom: 2.5em;
  }

  .margin-bottom-30 {
    margin-bottom: 3.0em;
  }

  .labels {
    margin-bottom: 1em;
  }

  h2 {
    font-size: 140%;
  }

  h3 {
    font-size: 120%;
  }

  /*div{
    border-style: solid;
    border-width: 1px;
    border-color: red;
  }*/
</style>

{% if id is not defined %}
  {% set id = "" %}
{% endif %}

{% if sentences is defined and sentences | length > 0 %}

  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">Translation unit
        {{ countDone + 1 }}/{{ countTUs }}</h3></div>
    <div class="panel-body">


      {% set ranges = project.ranges | json_decode %}
      {% set targetNum = 1 %}


      <!-- iterates on the sentences (source, reference, targets/output...) -->
      {% for sentence in sentences %}

        {% if sentence.type == "source" %}

          <div class="tu-panel">
            {% include "util/source.twig" with {'task': 'evaluation'} %}
          </div>
          <hr>

        {% elseif sentence.type == "reference" %}

          {% if sentence.isurl is not empty %}
            {% set referenceImage =  sentence.text | trim %}
          {% else %}
            {% set referenceText = sentence.text | trim %}
          {% endif %}

        {% else %}
          <!-- outputs -->

          <!-- displays the references if present -->

          {% if referenceImage != "" or referenceText != "" %}
            <div class="tu-panel">
              {% include "util/reference.twig" with {'task': 'evaluation'} %}
            </div>
            <hr>
          {% endif %}

          {% set referenceImage = "" %}
          {% set referenceText = "" %}


          <!-- start outputs/targets -->
          <div class="tu-panel">

            {% include "util/output.twig" with {'task': 'evaluation'} %}

          </div>
          <!-- end outputs/targets -->
          <hr>


          {% set targetNum = targetNum + 1 %}
        {% endif %}


      {% endfor %}


      <!-- start confirm/don't know button group -->

      <div class="container-fluid">

        <button onClick="confirmEvaluation(false)" id="confirmButton" type="button" class="btn btn-success btn-md">
          Confirm
        </button>

        <button id="don-t-know-btn" type="button" class="btn btn-default btn-md" data-toggle="modal"
                data-target="#doNotKnowModal">Don't
          know
        </button>

      </div>
      <!-- end button group -->

    </div>
  </div>

  <!-- start I don't know modal -->
  <div id="doNotKnowModal" class="modal fade" role="alertdialog" aria-labelledby="doNotKnowDialogTitle"
       aria-describedby="doNotKnowDialogDesc">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button id="modal-confirm-don-t-know-close-header" type="button" class="close" data-dismiss="modal">&times;
          </button>
          <h4 id="doNotKnowDialogTitle" class="modal-title">Confirm evaluation</h4>
        </div>
        <div class="modal-body">
          <h5 id="doNotKnowDialogDesc">Are you sure you cannot evaluate this translation unit?</h5>
          <p>Notice that the "Don't know" answer is used to indicate that the source is not okay.</p>
        </div>
        <div class="modal-footer">
          <button id="modal-confirm-don-t-know-yes" onclick="confirmEvaluation(true)" type="button"
                  class="btn btn-default"
                  data-dismiss="modal">Yes
          </button>
          <button id="modal-confirm-don-t-know-no" type="button" class="btn btn-default" data-dismiss="modal">No
          </button>
        </div>
      </div>

    </div>
  </div>

  <!-- end I don't know modal -->

  <!-- start confirm modal -->
  <div id="evaluationNotCompleteModal" class="modal fade" aria-labelledby="evaluationNotCompleteDialogTitle"
       aria-describedby="evaluationNotCompleteDialogDesc">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button id="modal-incomplete-close-header" type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 id="evaluationNotCompleteDialogTitle" class="modal-title">Cannot confirm the evaluation</h4>
        </div>
        <div class="modal-body">
          <!-- default message -->
          <p id="evaluationNotCompleteDialogDesc">The evaluation is not complete, you need to evaluate all outputs
            before confirming.</p>
          <!-- todo suggest based on the evaluation format -->
        </div>
        <div class="modal-footer">
          <button id="modal-incomplete-close-btn" type="button" class="btn btn-default" data-dismiss="modal">Close
          </button>
        </div>
      </div>

    </div>
  </div>

  <!-- end confirm modal -->


  <script language="javascript">


    // share among tree and other evaluation formats
    function confirmEvaluation(donTKnow) {
      console.log("confirming evaluation  (" + donTKnow + ")...");

      //donTKnow = true allows to skip the overall consistency checks...
      // if (!donTKnow && !isEvaluationDone()) {
      //   $('#evaluationNotCompleteModal').modal('show');
      //   console.log("cannot confirm");
      //   return;
      // }
      //isEvaluationConsistent

      try {
        if (!donTKnow) {
          isEvaluationConsistent();
        }
      } catch (e) {
        console.log("cannot confirm " + e);

        $("#evaluationNotCompleteDialogDesc").html(e);
        $('#evaluationNotCompleteModal').modal('show');

        return;
      }


      $.ajax({
        type: "POST",
        url: "{{ path('app_confirm_evaluation') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "reset": donTKnow,
          "id": "{{ id }}",
          "pid": {{ pid }}
        },
        cache: false,
        beforeSend: function () {

          console.log("requiring confirm evaluation...");
        },
        success: function (data) {
          console.log(data);
          if (data.valid) {
            showEvaluationForm(data.last);
          } else {
            MyNotify(data.message, null, null, 'danger');
          }
        },
        error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }
  </script>


  {% if project.type == "tree" %}
    <!-- begin script for tree -->

    <script type="text/javascript">

      // tree

      function isEvaluationConsistent() {
        console.log('checking tree evaluation consistency...');

        var tuOutput = $('.tu-output');
        var b = true;
        //case 1: all source not okay
        console.debug('case #1');
        var questionsCount = 0, activeYesButtonsCount = 0;
        tuOutput.each(function () {
          var num = $(this).data('num');

          var yesButton = $('#evaluation-' + num + '-question-0 button').eq(0);
          console.debug('#evaluation-' + num + '-question-0 button');
          console.debug(yesButton);
          if (yesButton.hasClass('active')) {
            console.debug('false: #evaluation-' + num + '-question-0' + ' button');
            b = false;
            activeYesButtonsCount++;
          }
          questionsCount++;
        });
        console.debug('first question: ' + activeYesButtonsCount + "/" + questionsCount);

        if (activeYesButtonsCount !== 0 && activeYesButtonsCount !== questionsCount) {
          throw 'Found an inconsistency in the evaluation: the answers to the question <em>Source sentence okay?</em> must be equal for all outputs, both <em>Yes</em> and <em>No</em> answers are not admitted.';
        }

        if (activeYesButtonsCount === 0) {
          console.debug('first question is no');
          return true;
        }


        //case 2: other
        console.debug('case #2');
        var output = 1;
        tuOutput.each(function () {
          var num = $(this).data('num');
          // source not okay, re-evaluate all questions but the last one
          // the last question does't need to be active (optional)
          for (var q = 0; q < 4; q++) {

            var el = $('#evaluation-' + num + '-question-' + q + ' button');
            console.debug('#evaluation-' + num + '-question-' + q + ' button');
            console.debug(el);
            if (!el.hasClass('active')) {
              console.debug('false: #evaluation-' + num + '-question-' + q + ' button');
              throw 'The evaluation is incomplete: <em>Question ' + (q + 1) + '</em> of <em>Output ' + output + '</em> has not been answered.';
            }
          }
          output++;
        });

        console.log("eval done " + b);
        return true;
      }

      // tree
      $(document).ready(function () {

        // set all buttons for all outputs
        $('.tu-output').each(function () {
          var num = $(this).data('num');
          //var text = $(this).data('text');
          var id = $(this).data('id');
          for (var q = 0; q < 5; q++) {
            initEvaluationButtons(num, id, q);
          }
        });

        // init all buttons for all questions
        function initEvaluationButtons(i, id, question) {
          console.log("init " + i + " " + question);
          $('#evaluation-' + i + '-question-' + question + ' button').click(function () {
            console.log('click on #evaluation-' + i + '-question-' + question + ' button');

            var active = $(this).hasClass("active");
            var value = $(this).val();
            if (active) {
              $(this).attr("aria-pressed", false);
              $(this).removeClass("active");

            } else {
              var buttonGroup = $('#evaluation-' + i + '-question-' + question + ' button');
              buttonGroup.attr("aria-pressed", false);
              buttonGroup.removeClass("active");

              $(this).attr("aria-pressed", true);
              $(this).addClass("active");
            }
            console.log("value " + value);
            //applies the tree rules
            treeRules(i, question);
            //build eval
            var eval = encodeUserEvaluation(i);

            //todo if eval is 0 the all outputs must be 0

            //console.log("final eval " + eval);
            var b = isValidEvaluation(eval);
            console.log("final eval " + eval + " " + b);
            //todo save iff eval is one of the 19 possible values
            if (b) {
              console.log("saving " + i + ", " + id + ", " + eval);
              saveUserEvaluation(i, id, eval);
              saveEqualEvaluations(i, eval);
            } else {
              //todo copy the current evaluation in the equal outputs otherwise there is an inconsistency
            }
          });
        }

        disableEqualOutputs();

      });

      // tree
      function saveEqualEvaluations(currentNum, eval) {
        console.log("saveEqualEvaluations " + currentNum);
        var s = [];
        var n = [];
        var t = [];
        $('.tu-output').each(function () {
          var num = $(this).data('num');
          var text = $(this).data('text');
          var id = $(this).data('id');
          var target = $(this).data('target');

          var i = s.indexOf(text);
          console.log(num + ": " + text + ", " + id + ", " + i + " (" + currentNum + ")");
          if (i >= 0 && n[i] === currentNum) {
            console.log(num + " is repeated " + i);

            if (eval === "0") {
              $('#evaluation-' + num + '-question-0 button').removeClass('active');
              $('#evaluation-' + num + '-question-0 button.no').addClass('active');
              for (var q = 1; q < 5; q++) {
                console.log('#evaluation-' + num + '-question-' + q + ' button');
                var buttonGroup = $('#evaluation-' + num + '-question-' + q + ' button');
                buttonGroup.removeClass('active');
                buttonGroup.eq(0).prop('disabled', true);
                buttonGroup.eq(0).attr('aria-disabled', true);

                buttonGroup.eq(1).prop('disabled', true);
                buttonGroup.eq(1).attr('aria-disabled', true);

              }

            } else {
              for (var q = 0; q < 5; q++) {
                var val = eval.charAt(q);

                console.log(q + " new eval " + val);
                $('#evaluation-' + num + '-question-' + q + ' button').removeClass('active');
                if (val === "1") {
                  $('#evaluation-' + num + '-question-' + q + ' button.yes').addClass('active');
                } else if (val === "0") {
                  $('#evaluation-' + num + '-question-' + q + ' button.no').addClass('active');
                } else if (val === "3") {
                  //do nothing
                }

                if (q === 1 && val === "1") {
                  var nextButtonGroup = $('#evaluation-' + num + '-question-' + (q + 1) + ' button');
                  nextButtonGroup.prop('disabled', true);
                  nextButtonGroup.prop('aria-disabled', true);
                }
              }
            }

            console.log("calling save " + num + " " + id + " " + eval + " (" + n[i] + " = " + currentNum + "?)");
            saveUserEvaluation(num, id, eval);

          }
          s.push(text);
          n.push(num);
          t.push(target);

        });
      }

      // tree
      function disableEqualOutputs() {
        var s = [];
        var n = [];
        var t = [];
        $('.tu-output').each(function () {
          var num = $(this).data('num');
          var text = $(this).data('text');
          var id = $(this).data('id');
          var target = $(this).data('target');

          var i = s.indexOf(text);
          console.log(num + ": " + text + ", " + id + ", " + i);
          if (i >= 0) {
            console.log(num + " is repeated " + i);
            for (var q = 0; q < 5; q++) {
              var buttonGroup=$('#evaluation-' + num + '-question-' + q + ' button');
              buttonGroup.prop('disabled', true);
              buttonGroup.attr('aria-disabled', true);

            }
            var v = $('#evaluation-' + n[i] + ' button.active').val();
            var outputAlert= $('#output-alert-' + num);

            outputAlert.html('<div class="alert alert-info"><strong>Info!</strong> This output doesn\'t need evaluation, it is equal to Output ' + (i + 1) + '</div>');
            outputAlert.show();
          }
          s.push(text);
          t.push(target);
          n.push(num);
        });
      }

      // tree
      function encodeUserEvaluation(i) {
        var eval = "";

        for (var q = 0; q < 5; q++) {
          var yes = $('#evaluation-' + i + '-question-' + q + ' button.yes').hasClass('active');
          var no = $('#evaluation-' + i + '-question-' + q + ' button.no').hasClass('active');
          //var na = $('#evaluation-' + i + '-question-' + q + ' button.na').hasClass('active');
          console.log(q + " eval " + yes + " - " + no);
          if (yes) {
            eval += "1";
          } else if (no) {
            eval += "0";
          } else {
            eval += "3";
          }
        }

        if (eval === "03333") {
          return "0";
        }

        return eval;
      }

      // tree
      //the evaluation is saved only if the sequence of yes/no answers is admissible
      function isValidEvaluation(eval) {
        if (eval === "0") {
          return true;
        } else if (eval === "11111") {
          return true;
        } else if (eval === "11110") {
          return true;
        } else if (eval === "11113") {
          return true;
        } else if (eval === "11101") {
          return true;
        } else if (eval === "11100") {
          return true;
        } else if (eval === "11103") {
          return true;
        } else if (eval === "10111") {
          return true;
        } else if (eval === "10110") {
          return true;
        } else if (eval === "10113") {
          return true;
        } else if (eval === "10101") {
          return true;
        } else if (eval === "10100") {
          return true;
        } else if (eval === "10103") {
          return true;
        } else if (eval === "10011") {
          return true;
        } else if (eval === "10010") {
          return true;
        } else if (eval === "10013") {
          return true;
        } else if (eval === "10001") {
          return true;
        } else if (eval === "10000") {
          return true;
        } else if (eval === "10003") {
          return true;
        }

        return false;
      }

      // tree
      //data: {"num": num, "id": output_id, "eval": val, "CsrfToken": "{{ csrf_token('authenticate') }}"},
      function saveUserEvaluation(num, output_id, val) {
        console.log("n: " + num + ", o: " + output_id + ", v: " + val);

        $.ajax({
          url: "{{ path('app_save_evaluation') }}",
          headers: {
            "CsrfToken": "{{ csrf_token('authenticate') }}"
          },
          type: "POST",
          data: {
            "num": num,
            "id": output_id,
            "eval": val,
            "pid": {{ pid }},
            "CsrfToken": "{{ csrf_token('authenticate') }}"
          },
          cache: false,
          beforeSend: function () {
            console.log("saving...");
          },
          success: function (data) {
            console.log(data);
            console.log("tree evaluation saved");
            if (data.valid) {
              console.log("Evaluation saved!");
            } else {
              console.log('error saving the evaluation');
              resetEvaluationButtons(num);

              var target = $('#output-title-' + num).text();
              MyNotify("An error occurred while saving the evaluation for \"" + target + "\". Please wait some seconds and evaluate again the output. If the problem persists, contact the project admin.", null, null, "danger");

            }
          },
          error: function (xhr, status, error) {
            console.debug('error saving the evaluation');
            resetEvaluationButtons(num);
            errorHandler(xhr);
          }
        });
      }

      function resetEvaluationButtons(i) {
        for (var q = 0; q < 5; q++) {
          console.log("resetting #evaluation-" + i + "-question-" + q + " button");

          var buttonGroup = $("#evaluation-" + i + "-question-" + q + " button");

          buttonGroup.removeClass("active");
          buttonGroup.prop("disabled", false);
          buttonGroup.attr("aria-disabled", false);
        }

        disableEqualOutputs();
      }

      // tree
      //todo must also save the evaluations
      function setButtonsIfFirstAnswerIsNo() {
        // set all buttons for all outputs
        $('.tu-output').each(function () {
          var num = $(this).data('num');

          var id = $(this).data('id');
          //$('#evaluation-' + num + '-question-0 button').removeClass('active');
          //$('#evaluation-' + num + '-question-0 button.no').addClass('active');

          for (var q = 1; q < 5; q++) {

            // yes/no buttons
            var buttonGroup = $('#evaluation-' + num + '-question-' + q + ' button');
            buttonGroup.attr("aria-pressed", false);
            buttonGroup.removeClass("active");

            buttonGroup.prop("disabled", true);
            buttonGroup.attr("aria-disabled", true);

          }
        });
      }

      // tree
      //todo must also save the evaluations
      function setButtonsIfFirstAnswerIsYes() {
        // set all buttons for all outputs
        $('.tu-output').each(function () {
          var num = $(this).data('num');

          var id = $(this).data('id');
          $('#evaluation-' + num + '-question-0 button').removeClass('active');
          $('#evaluation-' + num + '-question-0 button.no').addClass('active');

          for (var q = 1; q < 5; q++) {

            // yes/no buttons
            var buttonGroup = $('#evaluation-' + num + '-question-' + q + ' button');
            // buttonGroup.attr("aria-pressed", false);
            // buttonGroup.removeClass("active");

            buttonGroup.prop("disabled", false);
            buttonGroup.attr("aria-disabled", false);

          }
        });
      }

      // tree
      // applies the decision tree rules; they work only for the current output
      function treeRules(i, question) {
        console.log("tree rules " + i + " " + question);
        var select = $("#evaluation-" + i + "-question-" + question + " button.active");

        if (select != null) {
          var eval = $("#evaluation-" + i + "-question-" + question + " button.active").val();
          console.log("#evaluation-" + i + "-question-" + question + " button.active");
          console.log("question " + question + " eval " + eval);
          if (question === 0) {

            if (eval === "0") {
              console.log("case 1.A: " + question + " " + eval);
              //setButtonsIfFirstAnswerIsNo();
              for (var q = 1; q < 5; q++) {

                // yes/no buttons
                var buttonGroup = $('#evaluation-' + i + '-question-' + q + ' button');
                buttonGroup.attr("aria-pressed", false);
                buttonGroup.removeClass("active");

                buttonGroup.prop("disabled", true);
                buttonGroup.attr("aria-disabled", true);

              }
            } else {
              console.log("case 1.B: " + question + " " + eval);
              //setButtonsIfFirstAnswerIsYes();
              for (var q = 1; q < 5; q++) {
                // all buttons
                console.log("case 1.B." + q + ": " + question + " " + eval);
                var buttonGroup = $('#evaluation-' + i + '-question-' + q + ' button');
                buttonGroup.prop("disabled", false);
                buttonGroup.attr("aria-disabled", false);

              }

            }
          }
          else if (question === 1) {
            // yes/no buttons
            var nextButtonGroup = $('#evaluation-' + i + '-question-' + (question + 1) + ' button');

            if (eval === "1") {
              console.log("case 2.A: " + question + " " + eval);
              // work on question 2
              nextButtonGroup.attr("aria-pressed", false);
              nextButtonGroup.removeClass("active");

              //active the yes button
              nextButtonGroup.eq(0).attr("aria-pressed", true);
              nextButtonGroup.eq(0).addClass("active");


              //disable all buttons
              console.log('#evaluation-' + i + '-question-' + (question + 1) + ' button');
              nextButtonGroup.prop("disabled", true);
              nextButtonGroup.attr("aria-disabled", true);

            } else {
              console.log("case 2.B: " + question + " " + eval);
              //active the yes button
              nextButtonGroup.prop("disabled", false);
              nextButtonGroup.attr("aria-disabled", false);

              nextButtonGroup.eq(0).attr("aria-pressed", false);
              nextButtonGroup.eq(0).removeClass("active");

            }
          } else if (question === 2) {

            if (eval === "1") {

            }
            else {
              console.log("case 3.A: " + question + " " + eval);
              // yes/no buttons
              var previousButtonGroup = $('#evaluation-' + i + '-question-' + (question - 1) + ' button');
              previousButtonGroup.attr("aria-pressed", false);
              previousButtonGroup.removeClass("active");

              // yes/no buttons
              previousButtonGroup.eq(1).attr("aria-pressed", true);
              previousButtonGroup.eq(1).addClass("active");

            }
          }
        }
      }

    </script>

    <!-- end script for tree -->


  {% else %}

    <!-- begin script for binary, scale, and ranking -->

    <script language="javascript">

      // binary, scale, and ranking
      $(document).ready(function () {

        console.log("evaluation listing...");

        $('.tu-output').each(function () {
          var num = $(this).data('num');
          var text = $(this).data('text');
          var id = $(this).data('id');

          setEvaluationButtons(num, id);

        });

        //equal targets are disabled
        disableEqualOutputs();
      });

      function setEvaluationButtons(i, id) {
        console.log("setting click '" + i + "', '" + id + "'...");
        //setConfirmButton();

        $('#evaluation-' + i + ' button').click(function () {

          console.log("clicked on " + i + " " + $(this).val());
          $('#evaluation-' + i + ' button').attr("aria-pressed", false);
          $('#evaluation-' + i + ' button').removeClass("active");

          $(this).attr("aria-pressed", true);
          $(this).addClass("active");
          saveUserEvaluation(i, id, $(this).val());
          saveEqualEvaluations(i);
        });
      }


      // binary, scale, and ranking
      function saveEqualEvaluations(currentNum) {
        console.log("saveEqualEvaluations " + currentNum);
        var s = [];
        var n = [];
        var t = [];
        $('.tu-output').each(function () {
          var num = $(this).data('num');
          var text = $(this).data('text');
          var id = $(this).data('id');
          var target = $(this).data('target');

          var i = s.indexOf(text);
          console.log(num + ": " + text + ", " + id + ", " + i + " (" + currentNum + ")");
          if (i >= 0 && n[i] === currentNum) {
            console.log(num + " is repeated " + i);
            //$('#evaluation-' + num + ' button').prop('disabled', true);
            //$('#evaluation-' + num + ' button').attr('aria-disabled', true);
            var v = $('#evaluation-' + n[i] + ' button.active').val();
            //$('#output-title-' + num).append(' <small>Don\'t need evaluation (similar to ' + n[i] + ' - ' + id + ' - ' + t[i] + ' - ' + v + ')</small>');

            console.log('sel ' + '#evaluation-' + num + ' button[value=' + v + ']');
            //$('#evaluation-' + num + ' button[value=' + v + ']').prop('disabled', true); //addClass('active');
            $('#evaluation-' + num + ' button').removeClass('active');
            $('#evaluation-' + num + ' button[value=' + v + ']').addClass('active');
            $('#evaluation-' + num + ' button[value=' + v + ']').attr("aria-pressed", true);

            console.log("calling save " + num + " " + id + " " + v + " (" + n[i] + " = " + currentNum + "?)");
            saveUserEvaluation(num, id, v);
          }
          s.push(text);
          n.push(num);
          t.push(target);

        });
      }

      // binary, scale, and ranking
      function disableEqualOutputs() {
        var s = [];
        var n = [];
        var t = [];
        $('.tu-output').each(function () {
          var num = $(this).data('num');
          var text = $(this).data('text');
          var id = $(this).data('id');
          var target = $(this).data('target');

          var i = s.indexOf(text);
          console.log(num + ": " + text + ", " + id + ", " + i);
          if (i >= 0) {
            console.log(num + " is repeated " + i);
            $('#evaluation-' + num + ' button').prop('disabled', true);
            $('#evaluation-' + num + ' button').attr('aria-disabled', true);
            //$('#evaluation-' + num + ' button').removeClass('btn-default');
            //$('#evaluation-' + num + ' button').addClass('btn-danger');

            var v = $('#evaluation-' + n[i] + ' button.active').val();
            //$('#output-title-' + num).append(' <small>this output does not need evaluation (it is equal to ' + n[i] + ' - ' + id + ' - ' + t[i] + ' - ' + v + ')</small>');
            //$('#output-alert-' + num).append('<div class="alert alert-info"><strong>Info!</strong> This output doesn\'t need evaluation, it is equal to ' + t[i] + '</div>');
            $('#output-alert-' + num).html('<div class="alert alert-info"><strong>Info!</strong> This output doesn\'t need evaluation, it is equal to Output ' + (i + 1) + '</div>');
            $('#output-alert-' + num).show();

          }
          s.push(text);
          t.push(target);
          n.push(num);
        });
      }


      // binary, scale, and ranking
      {# todo make only one this is equal to saveUserEvaluation in tree #}
      function saveUserEvaluation(num, output_id, val) {
        //alert("n: " + num + ", o: " + output_id + ", v: " + val);
        $.ajax({
          url: "{{ path('app_save_evaluation') }}",
          headers: {
            "CsrfToken": "{{ csrf_token('authenticate') }}"
          },
          type: "POST",
          data: {
            "num": num,
            "id": output_id,
            "pid": {{ pid }},
            "eval": val,
            "CsrfToken": "{{ csrf_token('authenticate') }}"
          },
          cache: false,
          beforeSend: function () {
            //$("#log").html("saving...");

          },
          success: function (data) {
            console.log(data);
            console.log("binary, scale, or ranking evaluation saved");
            if (data.valid) {
              console.log("Evaluation saved!");
            } else {
              console.debug('error saving the evaluation');
              resetEvaluationButtons(num);
              var target = $('#output-title-' + num).text();
              MyNotify("An error occurred while saving the evaluation for \"" + target + "\". Please wait some seconds and evaluate again the output. If the problem persists, contact the project admin.", null, null, "danger");

            }

          },
          error: function (xhr, status, error) {
            console.debug('error saving the evaluation');
            resetEvaluationButtons(num);
            errorHandler(xhr);

          }
        });
      }

      function resetEvaluationButtons(i) {

        console.log("resetting #evaluation-" + i + " button");
        var buttonGroup = $("#evaluation-" + i + " button");
        buttonGroup.removeClass("active");
        buttonGroup.prop("disabled", false);
        buttonGroup.attr("aria-disabled", false);

        disableEqualOutputs();

      }


      // binary, scale, and ranking
      //deprecated
      function isEvaluationDone() {

        var b = true;
        $('.tu-output').each(function () {
          var num = $(this).data('num');

          var el = $('#evaluation-' + num + ' button');
          if (!el.hasClass('active')) {
            b = false;
          }

        });

        console.log("eval done " + b);
        return b;
      }

      // binary, scale, and ranking
      function isEvaluationConsistent() {
        console.log('checking binary, scale, or ranking evaluation consistency...');
        var b = true;
        var output = 1;
        $('.tu-output').each(function () {
          var num = $(this).data('num');

          var el = $('#evaluation-' + num + ' button');
          if (!el.hasClass('active')) {
            //b = false;
            throw 'The evaluation is incomplete: <em>Output ' + output + '</em> has not been evaluated.';
          }
          output++;
        });

        console.log("eval done " + b);
        return b;
      }

    </script>


    <!-- end script for binary, scale, and ranking -->
  {% endif %}


{% else %}

  {% if warning is defined %}

    <div class="alert alert-warning">
      <strong>Warning!</strong> {{ warning }}
    </div>

  {% elseif success is defined %}

    <div class="alert alert-success">
      <strong>Success!</strong> {{ success }}
    </div>

  {% else %}

    <div class="alert alert-info">
      <strong>Info!</strong> Nothing to evaluate.
    </div>
  {% endif %}
{% endif %}