{% if after == "true" %}
  {% set info = "after" %}
{% else %}
  {% set info = "before" %}
{% endif %}

<table class="table table-responsive" aria-describedby="answers-{{ info }}-info">

  <thead>

  <tr>
    {# this counter is used to connect the table'cells with the table's fields #}
    {% set column = 1 %}

    <th id="before_table_column_{{ column }}" scope="col">Target</th>
    {% set column = column + 1 %}
    <th id="before_table_column_{{ column }}" scope="col">Don't know</th>

    {% set column = column + 1 %}
    {% for key,range in ranges %}

      <th id="before_table_column_{{ column }}" title="value: {{ range.val }}" scope="col">
        {{ range.label }}
      </th>

      {% set column = column + 1 %}
    {% endfor %}

    <th id="before_table_column_{{ column }}" scope="col">Evaluations</th>
    {% set column = column + 1 %}


    <th id="before_table_column_{{ column }}" scope="col">Average</th>
    {% set column = column + 1 %}


    <th id="before_table_column_{{ column }}" scope="col">Closest answer</th>

  </tr>

  </thead>


  <tbody>

  {% set summary = evalsummary %}
  {% if after == "true" %}
    {% set summary = evalsummaryrev %}
  {% endif %}

  {% for key, value in summary %}

    {# this counter is used to connect the table'cells with the table's fields #}
    {% set column = 1 %}

    <tr>

      <td headers="before_table_column_{{ column }}">
        {{ key }}
      </td>

      {% if value.evaluations > 0 %}

        {% set column = column + 1 %}

        {% for range, info in value.eval %}

          <td headers="before_table_column_{{ column }}">
            {{ info }}
          </td>

          {% set column = column + 1 %}
        {% endfor %}


        <td headers="before_table_column_{{ column }}">
          {{ value.evaluations }}
        </td>

        {% set column = column + 1 %}


        <td headers="before_table_column_{{ column }}">
          {{ value.average }}
        </td>


        {% set column = column + 1 %}

        <td headers="before_table_column_{{ column }}">
          {{ value.rank }}
        </td>

      {% else %}
        <td colspan="{{ ranges | length + 1 }}"></td>
        <td class="text-center">--</td>
      {% endif %}

    </tr>

  {% endfor %}

  </tbody>

</table>
