{% include 'util/debug.twig' with {'parent': 'listing/evalreport.after.twig'} %}

<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">
      Review results
    </h3>
  </div>


  <div class="panel-body">

    <h4 id="answers-after-info">Answers</h4>


    {% set targetsCount = targetLabels | length %}

    {% if evaluationFormat == "scale" %}
      {% include 'listing/evalreport.results.scale.twig' with {"after": "true"} %}

    {% elseif evaluationFormat == "binary" %}
      {% include 'listing/evalreport.results.scale.twig' with {"after": "true"} %}
    {% elseif evaluationFormat == "ranking" %}
      {% include 'listing/evalreport.results.ranking.twig' with {"after": "true"} %}
    {% elseif evaluationFormat == "tree" %}
      {% include 'listing/evalreport.results.tree.twig' with {"after": "true"} %}
    {% endif %}


    <h4 id="evaluation-quality-after-info">Evaluation quality</h4>

    <table class="table table-responsive" aria-describedby="evaluation-quality-after-info">
      <thead>
      <tr>
        <th id="inter-after-kappa" scope="col"><a href="https://en.wikipedia.org/wiki/Fleiss%27_kappa"
                                                  target="_blank">Fleiss' kappa <span
                    aria-label="- opens in new window or tab"><i class="fa fa-external-link"
                                                                 aria-hidden="true"></i></span></a></th>
        <th id="inter-after-agreement" scope="col">Inter-annotator agreement</th>
        <th id="inter-after-changed" scope="col">Number of evaluations changed in the review</th>
      </tr>
      </thead>
      <tbody>

      {% if kQualityRev is defined and kQuality matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
        <tr>
          <td>{{ kQualityRev }}</td>
          <td>
            {% if kQualityRev <= 0 %}
              <span class="label label-danger">Poor agreement</span>
            {% elseif kQualityRev > 0 and kQualityRev <= 0.20 %}
              <span class="label label-danger">Slight agreement</span>
            {% elseif kQualityRev > 0.20 and kQualityRev <= 0.40 %}
              <span class="label label-default">Fair agreement</span>
            {% elseif kQualityRev > 0.40 and kQualityRev <= 0.60 %}
              <span class="label label-default">Moderate agreement</span>
            {% elseif kQualityRev > 0.60 and kQualityRev <= 0.80 %}
              <span class="label label-success">Substantial agreement</span>
            {% elseif kQualityRev > 0.80 and kQualityRev < 1 %}
              <span class="label label-success">Almost perfect agreement</span>
            {% else %}
              <span class="label label-success">Perfect agreement</span>
            {% endif %}
          </td>
          <td>{% if totevaluationsrev is defined %}
              <span>{{ totevaluationsrev }}</span>
            {% else %}
              <span class="label label-info">Not available</span>
            {% endif %}</td>
        </tr>
      {% else %}
        <tr>
          <td><span class="label label-info">Not available</span></td>
          <td><span class="label label-info">Not available</span></td>
          <td><span class="label label-info">Not available</span></td>
        </tr>
      {% endif %}
      </tbody>
    </table>


    <hr>

    <h4 id="evaluator-trustability-after-info">Evaluator trustability</h4>


    {% set countMyEvaluator = 0 %}

    {% if evaluationsrev is defined and evaluationsrev | length > 0 %}

      <table class="table" aria-describedby="evaluator-trustability-after-info">

        <thead>
        <tr>
          <th id="after_evaluator" scope="col">Evaluator</th>
          <th id="after_changed_evaluations" scope="col">Number of evaluations changed in the review</th>
        </tr>
        </thead>

        <tbody>

        {% for pos, userinfo in evaluationsrev %}
          {% if evaluators[userinfo.userid]["evaluator"] is defined %}
            {% set countMyEvaluator = countMyEvaluator + 1 %}

            <tr>
              <td headers="after_evaluator">


                {% if blindReview %}
                  {{ evaluators[userinfo.userid]["evaluator"].anonymous }}&nbsp;
                {% else %}
                  {{ evaluators[userinfo.userid]["evaluator"].anonymous }} ({{ evaluators[userinfo.userid]["evaluator"].username }})
                {% endif %}

              </td>
              <td headers="after_changed_evaluations">
                {{ userinfo.numrev }}
              </td>
            </tr>
          {% endif %}

        {% endfor %}

        {% if countMyEvaluator == 0 %}
          <span class="label label-info">Not available</span>
        {% endif %}

        </tbody>

      </table>

    {% else %}
      <span class="label label-info">Not available</span>
    {% endif %}

  </div>

</div>

