{% if after=="true" %}
  {% set info="after" %}
{% else %}
  {% set info="before" %}
{% endif %}

<table class="table table-responsive" aria-describedby="answers-{{ info }}-info">

  <thead>

  <tr>
    {# this counter is used to connect the table'cells with the table's fields #}
    {% set column = 1 %}

    <th id="before_table_column_{{ column }}" scope="col">Target</th>
    {% set column = column + 1 %}
    <th id="before_table_column_{{ column }}" scope="col">Don't know</th>

    {% set column = column + 1 %}
    {% for eval in 1..targetsCount %}

      {% if eval == 1 or eval == 21 %}
        {% set suffix= "st" %}
      {% elseif eval == 2 or eval == 22 %}
        {% set suffix= "nd" %}
      {% elseif eval == 3  or eval == 23 %}
        {% set suffix= "rd" %}
      {% else %}
        {% set suffix= "th" %}
      {% endif %}

      <th id="before_table_column_{{ column }}" scope="col">
        {{ eval }}<sup>{{ suffix }}</sup>
      </th>

      {% set column = column + 1 %}
    {% endfor %}

    <th id="before_table_column_{{ column }}" scope="col">Evaluations</th>
    {% set column = column + 1 %}


    <th id="before_table_column_{{ column }}" scope="col">Average</th>
    {% set column = column + 1 %}


    <th id="before_table_column_{{ column }}" scope="col">

      rank

    </th>

  </tr>

  </thead>


  <tbody>

  {% set summary = evalsummary %}
  {% if after == "true" %}
    {% set summary = evalsummaryrev %}
  {% endif %}

  {% for key, value in summary %}

    {# this counter is used to connect the table'cells with the table's fields #}
    {% set column = 1 %}

    <tr>

      <td headers="before_table_column_{{ column }}">
        {{ key }}
      </td>

      {% if value.evaluations > 0 %}

        {% set column = column + 1 %}

        {% for range, info in value.eval %}

          <td headers="before_table_column_{{ column }}">
            {{ info }}
          </td>

          {% set column = column + 1 %}

        {% endfor %}


        <td headers="before_table_column_{{ column }}">
          {{ value.evaluations }}
        </td>

        {% set column = column + 1 %}


        <td headers="before_table_column_{{ column }}">
          {{ value.average }}
        </td>


        {% set column = column + 1 %}
        {# ranking has been introduces as transchoice doesn't work properly with value.rank #}
        {% set ranking = value.rank %}
        <td headers="before_table_column_{{ column }}">

          {% transchoice ranking %}
          {0} -
          | {1} 1<sup>st</sup> <i class="fa fa-trophy" style="color: gold" aria-hidden="true"></i>
          | {2} 2<sup>nd</sup> <i class="fa fa-trophy" style="color: silver" aria-hidden="true"></i>
          | {3} 3<sup>rd</sup> <i class="fa fa-trophy" style="color: #8C7853" aria-hidden="true"></i>

          | [4,Inf[ %ranking%<sup>th</sup>
          {% endtranschoice %}


        </td>

      {% else %}
        <td colspan="{{ targetsCount + 1 }}"></td>
        <td class="text-center">-</td>
      {% endif %}

    </tr>

  {% endfor %}

  </tbody>

</table>