{% if after=="true" %}
  {% set info="after" %}
{% else %}
  {% set info="before" %}
{% endif %}

<table class="table table-responsive" aria-describedby="answers-{{ info }}-info">

  <thead>

  <tr>
    {# this counter is used to connect the table'cells with the table's fields #}
    {% set column = 1 %}

    <th id="before_table_column_{{ column }}" scope="col">Target</th>
    {% set column = column + 1 %}

    <th id="before_table_column_{{ column }}" scope="col">Evaluations</th>
    {% set column = column + 1 %}

    {% for key,range in ranges %}
      {% set evalLabel = range.label %}
      {% if evalLabel == 0 %}
        {% set label = "NXXXX" %}
      {% elseif evalLabel == 1 %}
        {% set label = "YYYYY" %}
      {% elseif evalLabel == 2 %}
        {% set label = "YYYYN" %}
      {% elseif evalLabel == 3 %}
        {% set label = "YYYYX" %}
      {% elseif evalLabel == 4 %}
        {% set label = "YYYNY" %}
      {% elseif evalLabel == 5 %}
        {% set label = "YYYNN" %}
      {% elseif evalLabel == 6 %}
        {% set label = "YYYNX" %}
      {% elseif evalLabel == 7 %}
        {% set label = "YNYYY" %}
      {% elseif evalLabel == 8 %}
        {% set label = "YNYYN" %}
      {% elseif evalLabel == 9 %}
        {% set label = "YNYYX" %}
      {% elseif evalLabel == 10 %}
        {% set label = "YNYNY" %}
      {% elseif evalLabel == 11 %}
        {% set label = "YNYNN" %}
      {% elseif evalLabel == 12 %}
        {% set label = "YNYNX" %}
      {% elseif evalLabel == 13 %}
        {% set label = "YNNYY" %}
      {% elseif evalLabel == 14 %}
        {% set label = "YNNYN" %}
      {% elseif evalLabel == 15 %}
        {% set label = "YNNYX" %}
      {% elseif evalLabel == 16 %}
        {% set label = "YNNNY" %}
      {% elseif evalLabel == 17 %}
        {% set label = "YNNNN" %}
      {% elseif evalLabel == 18 %}
        {% set label = "YNNNX" %}
      {% endif %}

      <th id="before_table_column_{{ column }}" title="value: {{ range.val }}" scope="col">
        {{ label }}
      </th>


      {% set column = column + 1 %}
    {% endfor %}
    


    <th id="before_table_column_{{ column }}" scope="col">
      Closest answers
    </th>

  </tr>

  </thead>


  <tbody>

  {% set summary = evalsummary %}
  {% if after == "true" %}
    {% set summary = evalsummaryrev %}
  {% endif %}

  {% for key, value in summary %}

    {# this counter is used to connect the table'cells with the table's fields #}
    {% set column = 1 %}

    <tr>

      <td headers="before_table_column_{{ column }}">
        {{ key }}
      </td>

      {% set column = column + 1 %}

      <td headers="before_table_column_{{ column }}">
        {{ value.evaluations }}
      </td>
      {% set column = column + 1 %}

      {% if value.evaluations > 0 %}



        {% set column = column + 1 %}

        {% for range, info in value.eval %}
          {% if loop.last == false %}
            <td headers="before_table_column_{{ column }}">
              {{ info }}
            </td>
          {% endif %}
          {% set column = column + 1 %}
        {% endfor %}

        {% set column = column + 1 %}

        


        {% set column = column + 1 %}

        <td headers="before_table_column_{{ column }}">

          {% set answerLabel = value.rank %}
          {% if answerLabel == 0 %}
            {% set answers = "NXXXX" %}
          {% elseif answerLabel == 1 %}
            {% set answers = "YYYYY" %}
          {% elseif answerLabel == 2 %}
            {% set answers = "YYYYN" %}
          {% elseif answerLabel == 3 %}
            {% set answers = "YYYYX" %}
          {% elseif answerLabel == 4 %}
            {% set answers = "YYYNY" %}
          {% elseif answerLabel == 5 %}
            {% set answers = "YYYNN" %}
          {% elseif answerLabel == 6 %}
            {% set answers = "YYYNX" %}
          {% elseif answerLabel == 7 %}
            {% set answers = "YNYYY" %}
          {% elseif answerLabel == 8 %}
            {% set answers = "YNYYN" %}
          {% elseif answerLabel == 9 %}
            {% set answers = "YNYYX" %}
          {% elseif answerLabel == 10 %}
            {% set answers = "YNYNY" %}
          {% elseif answerLabel == 11 %}
            {% set answers = "YNYNN" %}
          {% elseif answerLabel == 12 %}
            {% set answers = "YNYNX" %}
          {% elseif answerLabel == 13 %}
            {% set answers = "YNNYY" %}
          {% elseif answerLabel == 14 %}
            {% set answers = "YNNYN" %}
          {% elseif answerLabel == 15 %}
            {% set answers = "YNNYX" %}
          {% elseif answerLabel == 16 %}
            {% set answers = "YNNNY" %}
          {% elseif answerLabel == 17 %}
            {% set answers = "YNNNN" %}
          {% elseif answerLabel == 18 %}
            {% set answers = "YNNNX" %}
          {% endif %}
          {{ answers }}
        </td>


      {% else %}
        <td headers="before_table_column_{{ column }}">
          0
        </td>

        <td colspan="{{ ranges | length }}"></td>


      {% endif %}

    </tr>

  {% endfor %}

  </tbody>

</table>