<!-- Embedded in setting/setting.import.twig -->

{% include 'util/debug.twig' with {'parent': 'listing/import-dataset.twig.twig'} %}

{% if files | length == 0 %}

  <div class="alert alert-warning">
    <strong>Warning!</strong> No files found. Upload your first file.
  </div>

{% else %}
  <div id="import-corpus-div">
    {# todo re-add the report #}
    <table id="import-corpus-table" class="table table-striped">
      <caption id="topCounter"></caption>
      <thead>
      <tr>

        <th id="select-column" aria-label="Remove selected files" scope="col">
          <button id="import-corpus-remove" type="button" class="btn btn-default btn-xs" title="Remove selected files"
                  data-toggle="modal" data-target="#delete-file-modal">Remove
          </button>
        </th>
        <th aria-label="Row number" id="id-column" scope="col">N.</th>

        <th aria-label="Number of translation units" id="size-column" scope="col">Size</th>

        <th id="file-column" scope="col">File name</th>

        <th id="status-column" scope="col">Status</th>
        <th id="uploaded-column" scope="col">Upload date</th>
      </tr>
      </thead>
      {% set countTUs = 0 %}
      {% set countUploadedFiles = 0 %}
      {% set file_num = 0 %}
      <tbody>
      {% for file in files %}

        {% set file_num = file_num + 1 %}

        <tr class="file-line" id="file-line-{{ file.id }}">


          {% if file.errors | length > 0 %}

          {% else %}

          {% endif %}

          <td>
            <input type="checkbox" aria-label="select this file" data-id="{{ file.id }}"
                   data-name="{{ file.filename }}">
          </td>

          <td>{{ file_num }}</td>

          <td>
            {{ file.sentences }}
            {% if file.sentences > 0 %}
              {% set countTUs = countTUs + file.sentences %}
              {% set countUploadedFiles = countUploadedFiles + 1 %}
            {% endif %}
          </td>

          {#<td aria-labelledby="file-column">{{ file.filename }} ({{ file.id }})</td>#}
          <td>{{ file.filename }}</td>


          <td>
            {% if file.errors | length > 0 %}
              {% set listWarnErr = file.errors|split('\n') %}
              <ul class="list-unstyled">
                {% for item in listWarnErr %}

                  {% if item starts with "ERROR:" %}
                    {#<li><span class="label label-danger">Error</span> {{ item |slice(6, length) }}</li>#}
                    <li><span class="label label-danger">Error</span> {{ item }}</li>
                  {% else %}
                    {#<li><span class="label label-warning">Warning</span> {{ item |slice(8, length) }}</li>#}
                    <li><span class="label label-warning">Warning</span> {{ item }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% else %}
              <span class="label label-success">Success</span>
            {% endif %}
          </td>

          <td class="nowrap">{{ file.date | date('Y-m-d H:i') }}</td>

        </tr>

      {% endfor %}
      </tbody>
    </table>
  </div>

{% endif %}

<!-- Modal -->
<div id="report-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="modal-email-close-header" aria-label="close" type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h3 class="modal-title">Email the report</h3>
      </div>
      <div class="modal-body">
        <div class="form-group">

          <label for="email-report-to">To:</label>
          <input type="email" class="form-control" id="email-report-to" placeholder="Email">
        </div>
      </div>
      <div class="modal-footer">
        <button id="modal-email-send-btn" type="button" class="btn btn-success" data-dismiss="modal"
                onclick="sendReport();">Send
        </button>
        <button id="modal-email-close-btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="delete-file-modal" class="modal fade" role="alertdialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="modal-confirm-close-header" aria-label="close" type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h3 class="modal-title">Confirm remove</h3>
      </div>
      <div class="modal-body">
        <h4>Do you want to remove the selected file(s)?</h4>
        <p>If you answer yes, the data imported will be removed permanently.</p>
      </div>
      <div class="modal-footer">
        <button onclick="removeFiles()" id="delete-file-modal-yes" type="button" class="btn btn-primary"
                data-dismiss="modal">Yes
        </button>
        <button id="modal-confirm-no-btn" type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>

<script>


  function removeFiles() {
    var list = "";
    var size = 0;
    $('.file-line input:checked').each(function () {
      var id = $(this).data("id");
      var filename = $(this).data("filename");
      removeFile(id, filename);

    });
  }

  function removeFile(id, filename) {
    console.log("removing " + id + " " + filename);
    $.ajax({
      url: "{{ path('app_project_delete_file') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      }, data: {
        "pid": {{ project.id }},
        "filename": filename,
        "cid": id,
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      type: "POST",
      cache: false,
      crossDomain: false,
      beforeSend: function () {
        console.log("removing " + filename + "...");
      },
      success: function (data) {
        console.log(data);
        if (data.valid) {
          MyNotify(data.message, null, null, "success");
          //$('#file-line-' + id).remove();
          listUploadedFiles();
        } else {
          MyNotify(data.message, null, null, "danger");
        }
      }, error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  $("#topCounter").html("{{ countTUs }} translation units");

  $(document).ready(function () {

    $("#import-corpus-remove").prop("disabled", true);
    $("#import-corpus-remove").attr("aria-disabled", true);

    //highlight the remove button if at least a checkbox is checked

    $("input[type=checkbox]").change(function () {
      console.log('check pressed');
      var enable = false;
      $("input[type=checkbox]").each(function () {

        if ($(this).prop("checked")) {
          enable = true;
        }
        console.log('check ' + enable);
      });

      $("#import-corpus-remove").prop("disabled", !(enable));
      $("#import-corpus-remove").attr("aria-disabled", !(enable));

    });

  });


</script>

