<!-- Included in default/dashboard.twig -->

{% include 'util/debug.twig' with {'parent': 'listing/projects.twig'} %}

{% if projects is defined %}


  <h2 id="page-subtitle">Projects</h2>

  <section role="region">
    <div class="alert alert-info">
      <strong>Info!</strong> This page shows all projects you are involved in.
    </div>

  </section>

  {% if projects | length > 0 %}

    <section role="region">
      <table class="table table-striped table-hover" id="projects-table">
        <caption>
          {{ projects | length }}
          {% transchoice projects | length %}
          {0} projects |{1} project | ]1,Inf[ projects
          {% endtranschoice %}
          found, click on a
          row to open the corresponding project
        </caption>

        <thead>
        <tr>

          <th id="name_field" scope="col" onclick="sortProjects(0, 'number')">ID</th>
          <th id="name_field" scope="col" onclick="sortProjects(1, 'string')">Project</th>
          <th id="type_field" scope="col" onclick="sortProjects(2, 'string')">Format</th>
          <th id="description_field" scope="col" onclick="sortProjects(3, 'string')">Description</th>
          <th id="status_field" scope="col" onclick="sortProjects(4, 'string')">Status</th>
          <th id="roles_field" scope="col" onclick="sortProjects(5, 'string')">Your roles</th>
          <th id="lastupdates_field" scope="col" onclick="sortProjects(6, 'date')">Updated</th>
          <th id="created_field" scope="col" onclick="sortProjects(7, 'date')">Created</th>

        </tr>
        </thead>
        <tbody style="cursor: pointer;">
        {% for project in projects %}

          <tr tabindex="0" onclick="goTo({{ project.id }})" onkeypress="goTo({{ project.id }})">
            <td>{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>
              {% if project.type != "" %}
                <span class="label label-primary">{{ project.type }}</span>
              {% else %}
                <span class="label label-danger">Not specified</span>

              {% endif %}
            </td>

            <td>
              {% if project.description != "" %}
                {{ project.description|length > 100 ? project.description|slice(0, 100) ~ '...' : project.description }}
              {% endif %}
            </td>


            {% if project.completed == true %}
              <td>
                <span class="label label-success">Complete</span>
              </td>


            {% else %}

              <td>
                <span class="label label-primary">Ongoing</span>
              </td>
            {% endif %}


            <td>
              {% set roles = project.roles | split(',') %}
              {% for role in roles %}
                <span class="label label-primary">{{ role }}</span>
              {% endfor %}
            </td>

            <td data-time="{{ project.modified | date('YmdHis') }}">
              {{ project.modified | date('Y-m-d H:i:s') }}
            </td>

            <td data-time="{{ project.created | date('YmdHis') }}">
              {{ project.created | date('Y-m-d H:i:s') }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </section>
  {% else %}

    {% if app.session.get('user').canCreate %}
      <div class="alert alert-warning">
        <strong>Warning!</strong> There'are no projects. Create the first one.

        <hr>
        <a id="create-project-btn"
           href="{{ path('app_project_create_page') }}?CsrfToken={{ csrf_token('authenticate') }}" type="button"
           class="btn btn-default btn-task">Create project</a>
      </div>
    {% endif %}
  {% endif %}


  <script language="JavaScript">
    function goTo(project) {
      window.open("{{ path('admin') }}?pid=" + project, "_self");
    }

    function sortProjects(n, b) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("projects-table");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.getElementsByTagName("TR");
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          if (b === 'number') {
            x = new Number(rows[i].getElementsByTagName("TD")[n].innerHTML);
            y = new Number(rows[i + 1].getElementsByTagName("TD")[n].innerHTML);

          } else if (b === 'date') {
            x = new Date(rows[i].getElementsByTagName("TD")[n].innerHTML);
            y = new Date(rows[i + 1].getElementsByTagName("TD")[n].innerHTML);

          } else {
            x = rows[i].getElementsByTagName("TD")[n].innerHTML.toLowerCase();
            y = rows[i + 1].getElementsByTagName("TD")[n].innerHTML.toLowerCase();

          }
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir === "asc") {
            if (x > y) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir === "desc") {
            if (x < y) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount === 0 && dir === "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }

  </script>

{% else %}
  <script>
    window.open("{{ path('app_dashboard_page') }}", "_self");
  </script>
{% endif %}

