<!-- Included in default/dashboard.twig -->

{% include 'util/debug.twig' with {'parent': 'listing/requests.twig'} %}

<h2 id="page-subtitle">Requests</h2>

<section role="region">
  <div class="alert alert-info">
    <strong>Info!</strong> This page shows all projects you are invited to.

  </div>

</section>

<section role="region">

  <div id='requests'></div>

</section>

{# end code #}


<!-- Modal for accepting the invitation for new projects -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="modal-confirm-invitaion-close-header" type="button" class="close" data-dismiss="modal">&times;
        </button>
        <h3 class="modal-title">Confirm invitation</h3>
      </div>
      <div class="modal-body">
        <h4>Do you accept the invitation to work on this project?</h4>
        {# this is used to store the json[i].hash parameter value that is set by the
         open-AddBookDialog javascript function #}
        <input type="hidden" name="jsonhash" id="jsonhash" value=""/>
      </div>
      <div class="modal-footer">

        {# the button to accept the assigned project calls the javascript to accept the project and
        open a new web page #}
        <button id="modal-accept-btn" onclick="replyRole($('#jsonhash').val(),'accepted')" type="button"
                class="btn btn-primary">Accept
        </button>
        <button id="modal-decline-btn" onclick="replyRole($('#jsonhash').val(),'declined')" type="button"
                class="btn btn-default" data-dismiss="modal">Decline
        </button>

      </div>
    </div>

  </div>
</div>


<script>

  $(document).ready(function () {
    $.ajax({
      type: "GET",
      url: "{{ path('app_user_get_requests') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        console.log('looking for requests...');
      },
      success: function (data) {
        console.log(data);
        if (data.valid) {
          showTable(data.requests);
        } else {
          MyNotify(data.message, null, null, 'danger');
        }
      },
      error: function (xhr, status, error) {

        errorHandler(xhr);
      }
    });
  });

  function showTable(json) {
    var table = '<div class="alert alert-warning"><strong>Warning!</strong> There are no pending requests.</div>';

    if (json.length > 0) {
      {# original code written by Christian and commented by Roberto
      table = "<thead><tr><th>Status</th><th></th><th>Role</th></tr></thead>"; #}
      {# start code written by Roberto: add Project and Sent field #}
      table = '<table id="requests-table" class="table table-striped table-hover">';
      var p = {{ pending }};
      if (p === 0) {
        table += "<caption>0 pending requests</caption>"
      }
      else if (p === 1) {
        table += "<caption>1 pending request, click on the pending request to accept or decline the invitation</caption>"
      } else {
        table += "<caption>" + p + " pending requests, click on the pending requests to accept or decline the corresponding invitations</caption>"
      }


      table += "<thead><tr>" +
          "<th onclick=\"sortRequests(0, 'number')\" id=\"project_id_field\" " + "scope=\"col\">ID</th>" +
          "<th onclick=\"sortRequests(1, 'string')\" id=\"project_field\" " + "scope=\"col\">Project</th>" +
          "<th onclick=\"sortRequests(2, 'string')\" id=\"role_field\" " + "scope=\"col\">Your role</th>" +
          "<th onclick=\"sortRequests(3, 'string')\" id=\"status_field\" " + "scope=\"col\">Status</th>" +
          "<th onclick=\"sortRequests(4, 'date')\" id=\"sent_field\" " + "scope=\"col\">Notified</th>" +
          "</tr>" +
          "</thead>" +
          "<tbody>";
      {# end code #}
      var curr_project = "";
      var curr_id = "";
      var btn_class = "text-capitalize btn-group";
      for (var i in json) {
        {# start code written by Roberto:
        1) Add buttons for Declined, Revoked, and Accepted projects; they have to be disabled;
         and it mustn't be possible to activate them. Add aria tag.
        2) Add a button for accepting projects; the button for declining new project doesn't exists any more!
         The new button calls the java script of the previuous code version to execute the task. Add aria tag #}
        if (curr_project !== json[i].name) {
          curr_project = json[i].name;
          curr_id = json[i].id;
        }
        if (json[i].role_status === "pending") {
          table += "<tr>";
          table += "<td>" + curr_id + "</td>";
          table += "<td>" + curr_project + "</td>";
          table += "<td>" + json[i].role + "</td>";
          {# Accept button #}
          table += "<td>" +
              "<button id=\"accept-btn\" type=\"button\" data-id=\"" + json[i].hash + "\"" + " class=\"open-AddBookDialog btn btn-warning btn-sm\" data-toggle=\"modal\" data-target=\"#myModal\" aria-label=\"Click to accept or decline the request to work on the project " + curr_project + "\">Pending</button>" +
              //"<td>" + timeAgo(json[i].created) + "</td>";
              "<td>" + json[i].created + "</td>";
        } else {
          table += "<tr>";
          table += "<td>" + curr_id + "</td>";
          table += "<td>" + curr_project + "</td>";
          table += "<td>" + json[i].role + "</td>";
          if (json[i].role_status === "declined") {
            {# Declined button #}
            table += "<td>" +
                "<button id=\"declined-btn\" type=\"button\" class=\"btn btn-default btn-sm active\" disabled data-toggle=\"button\" aria-disabled=\"true\">Declined</button>";
          } else if (json[i].role_status === "accepted") {
            {# Accepted button #}
            table += "<td>" +
                "<button id=\"accepted-btn\" type=\"button\" class=\"btn btn-success btn-sm active\" disabled data-toggle=\"button\" aria-disabled=\"true\">Accepted</button>";
          } else if (json[i].role_status === "revoked") {
            {# Revoked button #}
            table += "<td>" +
                "<button id=\"revoked-btn\" type=\"button\" class=\"btn btn-danger btn-sm active\" disabled data-toggle=\"button\" aria-disabled=\"true\">Revoked</button>";
          } else {
            table += "<td>Problems occurred on activation ";
          }
          table += "</td>";
          {# Sent #}
          //table += "<td>" + timeAgo(json[i].activated) + "</td>";
          table += "<td>" + json[i].activated + "</td>";
        }
        table += "</tr>";
        {# end code written by Roberto #}
      }
      table += "</tbody></table>";
    }
    $("#requests").html(table);
  }

  function replyRole(hash, action) {

    if (action !== "" && hash !== "") {
      //window.open("{{ path('api_role_reply') }}?hash=" + hash + "&action=" + action + "&view=requests", "_self");
      window.open("{{ path('app_user_reply_invitation') }}?hash=" + hash + "&action=" + action, "_self");
    }
  }

  function timeAgo(date) {
    var Re = new RegExp("\\..*$");
    date = date.replace(Re, "");

    var lastdate = new Date(date);
    lastdate.setMilliseconds(0);
    var lasttime = lastdate.getTime();

    if (isNaN(lasttime)) {
      return date;
    }


    var now = new Date();
    now.setMilliseconds(0);

    var seconds = Math.floor(((now.getTime() / 1000) - (lasttime / 1000))),
        interval = Math.floor(seconds / 31536000);

    if (interval > 1) return interval + " years ago";

    interval = Math.floor(seconds / 2592000);
    if (interval === 1) return interval + " a month ago";
    if (interval > 1) return interval + " months ago";

    interval = Math.floor(seconds / 86400);
    if (interval === 1) return interval + " a day ago";
    if (interval > 1) return interval + " days ago";

    interval = Math.floor(seconds / 3600);
    if (interval === 1) return interval + " an hour ago";
    if (interval > 1) return interval + " hours ago";

    interval = Math.floor(seconds / 60);
    if (interval === 1) return interval + " a minute ago";
    if (interval > 1) return interval + " minutes ago";

    return Math.floor(seconds) + " seconds ago";
  }

  {# this funcion is called by the accept button on the panel and saves the json[i].hash value
  on the opened modal #}
  $(document).on("click", ".open-AddBookDialog", function () {
    var jsonhash = $(this).data('id');
    $(".modal-body #jsonhash").val(jsonhash);
    $('#addBookDialog').modal('show');
  });

  function sortRequests(n, b) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("requests-table");
    switching = true;
    // Set the sorting direction to ascending:
    dir = "asc";
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.getElementsByTagName("TR");
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        if (b === 'number') {
          x = new Number(rows[i].getElementsByTagName("TD")[n].innerHTML);
          y = new Number(rows[i + 1].getElementsByTagName("TD")[n].innerHTML);

        } else if (b === 'date') {
          x = new Date(rows[i].getElementsByTagName("TD")[n].innerHTML);
          y = new Date(rows[i + 1].getElementsByTagName("TD")[n].innerHTML);

        } else {
          x = rows[i].getElementsByTagName("TD")[n].innerHTML.toLowerCase();
          y = rows[i + 1].getElementsByTagName("TD")[n].innerHTML.toLowerCase();

        }
        /* Check if the two rows should switch place,
        based on the direction, asc or desc: */
        if (dir === "asc") {
          if (x > y) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir === "desc") {
          if (x < y) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount++;
      } else {
        /* If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again. */
        if (switchcount === 0 && dir === "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }


</script>