{% include 'util/debug.twig' with {'parent': 'listing/review.twig'} %}

{% if id is not defined %}
  {% set id = "" %}
{% endif %}
  {% set is_dont_know = 0 %}


<style>
  .tu-panel {
    margin-bottom: 0.5em;
  }

  .tu-buttons {
    margin-bottom: 2px;
  }

  .margin-bottom-05 {
    margin-bottom: 0.5em;
  }

  .margin-bottom-10 {
    margin-bottom: 1.0em;
  }

  .margin-bottom-15 {
    margin-bottom: 1.5em;
  }

  .margin-bottom-20 {
    margin-bottom: 2.0em;
  }

  .margin-bottom-25 {
    margin-bottom: 2.5em;
  }

  .margin-bottom-30 {
    margin-bottom: 3.0em;
  }

  .labels {
    margin-bottom: 1em;
  }

  h2 {
    font-size: 140%;
  }

  h3 {
    font-size: 120%;
  }

  dl {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  dt {
    font-size: 75%;
    font-weight: normal;
  }

  dd {
    font-size: 120%;
  }

</style>

{% if sentences is defined and sentences | length > 0 %}
  <div id="translation-unit" class="container-fluid" role="region">


    {#{% include "util/instructions.twig" %}#}

    {% set ranges = project.ranges | json_decode %}
    {% set targetNum = 0 %}


    <!-- iterates on the sentences -->
    {% for sentence in sentences %}

      {% set referenceImage = "" %}
      {% set referenceText = "" %}

      {% if sentence.type == "source" %}

        <div id="source-panel" class="tu-panel">
          {% include "util/source.twig" with {'task': 'review'} %}
        </div>

      {% elseif sentence.type == "reference" %}

        <!-- trick to mange the image -->
        {% if sentence.isurl is not empty %}
          {% set referenceImage = sentence.text | trim %}
        {% else %}
          {% set referenceText = sentence.text | trim %}
        {% endif %}

      {% else %}


        <!-- displays the references if present -->

        {% if referenceImage != "" or referenceText != "" %}
          <div id="reference-panel" class="tu-panel">
            {% include "util/reference.twig" with {'task': 'review'} %}
          </div>

        {% endif %}



        <!-- start output -->
        <div id="output-panel" class="tu-panel">

          {% include "util/output.twig" with {'task': 'review'} %}


        </div>
        <!-- end output -->


      {% endif %}
    {% endfor %}
  </div>
{% endif %}



