<!-- Embedded in panel/evaluation-launch.twig -->
<!-- This template displays the dataset to check-up -->

{% include 'util/debug.twig' with {'parent': 'listing/sentence.twig'} %}


{% if corpus is not defined %}
  {% set corpus = "" %}
{% endif %}

{#<h2 id="page-subtitle">Dataset check-up</h2>#}

{% if sentences | length > 0 %}
  {% set sentencesCount = sentences | length %}

  {% set pooledCounter = 0 %}
  {% set redundantCounter = 0 %}
  {% set remainingCounter = 0 %}
  {% set textualReferencesCount = textualReferences | length %}
  {% set urlReferencesCount =  urlReferences | length %}
  {% set targetsCount = targets | length %}

  {#<h1>pooledCount {{ pooledTUs }}</h1>
  <h1>redundantCount {{ redundantTUs }}</h1>

  <h1>targets {{ targetsCount }}</h1>
  <h1>url ref {{ urlReferencesCount }}</h1>
  <h1>text ref {{ textualReferencesCount }}</h1>#}


  {% set rowSpanID = targetsCount + textualReferencesCount + urlReferencesCount + 1 %}

  {% set remainingCount = tus - redundantTUs %}
  <!-- end used to calculate -->

  <!-- summary -->
  <ul class="list-group" id="corpus-check-summary">
    <li class="list-group-item list-group-item-default">Translation units to evaluate<span class="badge">{{ tus }}</span></li>

    <li class="list-group-item list-group-item-success"><a id="remaining-item" href="#remaining-tu-panel">Translation units after pooling (if specified)</a><span
              class="badge">{{ remainingCount }}</span></li>

    <li class="list-group-item list-group-item-info"><a id="redundant-item" href="#redundant-tu-panel">Redundant translation units (introduced to calculate intra-annotator agreement, if specified)</a><span
              class="badge">{{ redundantTUs }}</span></li>

    <li class="list-group-item list-group-item-danger"><a id="pooled-item" href="#pooled-tu-panel">Pooled translation units (removed from the imported files)</a><span class="badge">{{ pooledTUs }}</span></li>

  </ul>

  {% set prevID = '' %}
  <a name="remaining-tu-panel"></a>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Translation units after pooling (if specified)</h3>
    </div>
    <div class="panel-body">

      <table class="table">
        <thead>
        <tr>
          <th scope="col" id="check-corpus-remaining" aria-label="Translation unit number">N.</th>
          <th scope="col" id="check-corpus-remaining-id" aria-label="Translation unit id">ID</th>
          <th scope="col" id="check-corpus-remaining-type">Type</th>
          <th scope="col" id="check-corpus-remaining-text">Text</th>
          <th scope="col" id="check-corpus-remaining-comment">Comment</th>
        </tr>
        </thead>
        <tbody>

        {% for sentence in sentences %}
          {% if sentence.simto is null and sentence.isintra <= 1 %}

            <tr>

              {% if prevID != sentence.id %}
                {% set remainingCounter = remainingCounter + 1 %}
                <td rowspan="{{ rowSpanID }}" aria-label="number">{{ remainingCounter }}</td>
                <td rowspan="{{ rowSpanID }}" aria-label="id" id="check-corpus-remaining-id-row">{{ sentence.id }}</td>

              {% endif %}

              <th scope="row" id="check-corpus-remaining-type-row">{{ sentence.type }}</th>
              <td>
                {#<td>#}
                {% if sentence.isurl %}
                  {# Roberto: I've added the id parameter to remove warnings produced by wave #}
                  <a href="{{ sentence.text }}?id={{ sentence.id }}" target="_blank">{{ sentence.text }} <span aria-label="- opens in new window or tab"><i class="fa fa-external-link"
                                                                                                                  aria-hidden="true"></i></span>
                  </a>
                {% else %}
                  {{ sentence.text }}

                {% endif %}
              </td>
              <td>{{ sentence.comment }}</td>
              {#<td>{{ sentence.comment }}</td>#}


            </tr>

            {% set prevID = sentence.id %}
          {% endif %}
        {% endfor %}

        </tbody>
      </table>

    </div>
  </div>

  {% set prevID = '' %}
  <a name="redundant-tu-panel"></a>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Redundant translation units</h3>
    </div>
    <div class="panel-body">
      {% if redundantTUs > 0 %}
        <table class="table">
          <thead>
          <tr>
            <th scope="col" id="check-corpus-redundant-number" aria-label="Translation unit number">N.</th>
            <th scope="col" id="check-corpus-redundant-id" aria-label="Translation unit id">ID</th>
            <th scope="col" id="check-corpus-redundant-type">Type</th>
            <th scope="col" id="check-corpus-redundant-text">Text</th>
            <th scope="col" id="check-corpus-redundant-comment">Comment</th>
          </tr>
          </thead>
          <tbody class="table table-striped">

          {% for sentence in sentences %}
            {% if sentence.simto is null and sentence.isintra > 1 %}

              <tr>
                {% if prevID != sentence.id %}
                  {% set redundantCounter = redundantCounter + 1 %}
                  <td rowspan="{{ rowSpanID }}" aria-label="number">{{ redundantCounter }}</td>
                  <td rowspan="{{ rowSpanID }}" aria-label="id"
                      id="check-corpus-redundant-id-row">{{ sentence.id }}</td>

                {% endif %}

                <th scope="row" id="check-corpus-redundant-type-row">{{ sentence.type }}</th>
                <td>
                  {% if sentence.isurl %}
                    <a href="{{ sentence.text }}{{ sentence.id }}" target="_blank">{{ sentence.text }} <span aria-label="- opens in new window or tab"><i class="fa fa-external-link"
                                                                                                                                                          aria-hidden="true"></i></span></a>
                  {% else %}
                    {{ sentence.text }}
                  {% endif %}
                </td>
                <td>{{ sentence.comment }}</td>

              </tr>
              {% set prevID = sentence.id %}

            {% endif %}
          {% endfor %}

          </tbody>
        </table>
      {% else %}
        <div class="alert alert-info">
          <strong>Info!</strong> There are no redundant translation units.
        </div>
      {% endif %}
    </div>
  </div>

  {% set prevID = '' %}
  {% set rowNum = 1 %}
  <a name="pooled-tu-panel"></a>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Pooled translation units</h3>
    </div>
    <div class="panel-body">

      {% if pooledTUs > 0 %}
        <table class="table">
          <thead>
          <tr>
            <th scope="col" id="check-corpus-pooled-number" aria-label="Translation unit number">N.</th>
            <th scope="col" id="check-corpus-pooled-id" aria-label="Translation unit id">ID</th>
            <th scope="col" id="check-corpus-pooled-type">Type</th>
            <th scope="col" id="check-corpus-pooled-text">Text</th>
            <th scope="col" id="check-corpus-pooled-comment">Comment</th>
          </tr>
          </thead>
          <tbody class="table table-striped">

          {% for sentence in sentences %}
            {% if sentence.simto is not null %}

              <tr>

                {% if prevID != sentence.id %}
                  {% set pooledCounter = pooledCounter + 1 %}
                  <td rowspan="{{ rowSpanID }}">{{ pooledCounter }}</td>
                  <td rowspan="{{ rowSpanID }}" aria-label="id" id="check-corpus-pooled-id-row">{{ sentence.id }}</td>

                {% endif %}

                <th scope="row" id="check-corpus-pooled-type-row">{{ sentence.type }}</th>
                <td>
                  {% if sentence.isurl %}
                    <a href="{{ sentence.text }}?{{ sentence.id }}" target="_blank">{{ sentence.text }} <span aria-label="- opens in new window or tab"><i class="fa fa-external-link"
                                                                                                                                                           aria-hidden="true"></i></span></a>
                  {% else %}
                    {{ sentence.text }}
                  {% endif %}
                </td>
                <td>{{ sentence.comment }}</td>


              </tr>

              {% set prevID = sentence.id %}
            {% endif %}
          {% endfor %}

          </tbody>
        </table>
      {% else %}
        <div class="alert alert-info">
          <strong>Info!</strong> There are no pooled translation units.
        </div>
      {% endif %}
    </div>
  </div>



{% else %}

  <div class="alert alert-warning">
    <strong>Warning!</strong> There are no translation units.
  </div>

{% endif %}




