{% extends 'base.twig' %}
{% block title %}Error {{ code }}: {{ message }}{% endblock %}

{% block navbar %}
  {% include 'util/error-navigation-bar.twig' %}
{% endblock navbar %}

{% block content %}
  <main id="mainContent">
    <header role="banner">
      <div class="container" style="text-align: center">
        <div class="jumbotron">
          {#<h1>Oops! Something went wrong.</h1>#}
          <h1 class="text-danger">{{ message }}</h1>

          {#<p class="text-danger">{{ message }} {{ tip }}</p>#}
          <p class="text-info">{{ tip }}</p>

          {#<p class="text-info">{{ tip }}</p>#}

        </div>
      </div>
    </header>
    <div class="container" style="text-align: center">
      <p class="lead">
        Go to the <a href="{{ path('homepage') }}">home</a> or <a href="{{ path('app_user_sign_in') }}">sign in</a> page.
        If the error persists, please contact your administrator.</p>
    </div>
  </main>
{% endblock content %}