{% extends 'base.twig' %}
{% block title %}Error {{ code }}{% endblock %}

{% block navbar %}
  {% include 'util/error-navigation-bar.twig' %}
{% endblock navbar %}

{% block content %}
  <main id="mainContent">
    <header role="banner">
      <div class="container" style="text-align: center">
        <div class="jumbotron">
          <h1>A security error occurred!</h1>

          <h2>Error {{ code }}: {{ message }}</h2>

        </div>
      </div>
    </header>
    <div class="container" style="text-align: center">
      <h2>
        Go to the <a href="{{ path('homepage') }}">home</a> or <a href="{{ path('app_user_sign_in') }}">sign in</a> page.
        If the error persists, please contact your administrator.</h2>
    </div>
  </main>
{% endblock content %}