<section role="region">
  <div class="container-fluid">
    <div class="alert alert-warning">
      <strong><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Warning!</strong> The request is not valid or
      your permissions do not allow you access to this section!
    </div>
  </div>
</section>