{% extends 'base.twig' %}
{% block title %}Page not found{% endblock %}

{% block navbar %}
  {% include 'util/error-navigation-bar.twig' %}
{% endblock navbar %}

{% block content %}
  <main id="mainContent">
    <header role="banner">
      <div class="container" style="text-align: center">
        <div class="jumbotron">
          <h1>Oops! Page not found.</h1>
          <p class="text-danger">We couldn't find the page you are looking for.</p>


        </div>
      </div>
    </header>
    <div class="container" style="text-align: center">
      <p>
        Go to the <a href="{{ path('homepage') }}">home</a> or <a href="{{ path('app_user_sign_in') }}">sign in</a>
        page.
        If the error persists, please contact your administrator.</p>
    </div>
  </main>
{% endblock content %}