<!-- Author: Claudio Giuliano (giuliano@fbk.eu) -->

<!--
This is the version that uses the old code where the evaluation
can start when the corpus is generated and checked.
-->

<!-- see panel/evaluation-progress.twig -->

{% include 'util/debug.twig' with {'parent': 'project/evaluation-progress.twig'} %}

<section role="region">


  <div class="alert alert-info">
    <strong>Info!</strong>
    Use this page to monitor the evaluation progress. If necessary, it's possible to stop/start any evaluator.
    {#If necessary, evaluators can be asked to re-confirm the evaluations.#}
  </div>
</section>


{% if tus != 0 %}
  {% set evaluatorsCount = eval_progress | length %}

  {% if evaluatorsCount > 0 %}



    <section role="region">

      <table class="table table-striped" id="execution-table" aria-live="polite">
        <caption>
          {{ evaluatorsCount }}
          {% transchoice evaluatorsCount %}
            {0} evaluators |{1} evaluator | ]1,Inf[ evaluators
          {% endtranschoice %}
        </caption>
        <thead>
        <tr>
          <!-- start/stop single evaluators -->
          {#<th id="execution-select" aria-label="active" title="Select all evaluators">
            <input id="execution-select-all" aria-label="select all" type="checkbox" value="" checked>
          </th>#}
          <th id="execution-action" scope="col">Action</th>
          <th id="execution-status" scope="col">Status</th>
          <th id="execution-evaluator" scope="col">Evaluator</th>
          <th id="execution-progress" scope="col">Confirmed translation units</th>
          <th id="execution-modified" scope="col">Last modified</th>
          <th id="execution-dueBy" scope="col">Due by</th>
          <th id="execution-schedule" scope="col">Schedule</th>
        </tr>
        </thead>
        <tbody>

        {% set completedCount =  0 %}
        {% set notifiedCount =  0 %}
        {% set workingCount =  0 %}
        {% set idleCount =  0 %}
        {% set pausedCount =  0 %}

        {# todo add control to vendors? #}

        {% set dueDate = "Not specified" %}
        {# look for the due date for settings, it is common to the check_corpus (Evaluation launch) #}
        {% for task in tasks %}

          {% if task.task == "creation" %}
            {% if task.duedate %}
              {% set dueDate = task.duedate | date('Y M d') %}
            {% endif %}
          {% endif %}
        {% endfor %}

        {% for task in tasks %}

          {% if task.task == "evaluation" and evaluators[task.user] != '' %}
            <tr class="evaluator-line">

              <!-- start/stop single evaluators -->
              {#<td>
                <input aria-label="select" type="checkbox" data-id="{{ task.user }}"
                       data-name="{{ evaluators[task.user]["evaluator"].username }}" checked>
              </td>#}

              {% if task.completed == 1 %}

                <td class="execution-action">
                  <button id="stop-{{ task.user }}-btn" data-id="{{ task.user }}" type="button" class="btn btn-danger"
                          aria-label="Stop {{ evaluators[task.user]["evaluator"].anonymous }} ({{ evaluators[task.user]["evaluator"].username }})"><i class="fa fa-stop"
                                                                                                                                                      aria-hidden="true"></i> Stop
                  </button>
                </td>

                <td id="execution-status-{{ task.user }}">
                  <span class="label label-success">Complete</span>
                </td>

                {% set completedCount = completedCount + 1 %}
              {% else %}

                {% if task.disabled == 0 %}
                  {% if eval_progress[task.user] == 0 %}

                    <td class="execution-action">
                      <button id="stop-{{ task.user }}-btn" data-id="{{ task.user }}" type="button" class="btn btn-danger"
                              aria-label="Stop {{ evaluators[task.user]["evaluator"].anonymous }} ({{ evaluators[task.user]["evaluator"].username }})"><i class="fa fa-stop"
                                                                                                                                                          aria-hidden="true"></i>
                        Stop
                      </button>
                    </td>

                    <td id="execution-status-{{ task.user }}">
                      <span class="label label-primary">Notified</span>
                    </td>

                    {% set notifiedCount = notifiedCount + 1 %}
                  {% else %}

                    <td class="execution-action">
                      <button id="stop-{{ task.user }}-btn" data-id="{{ task.user }}" type="button" class="btn btn-danger"
                              aria-label="Stop {{ evaluators[task.user]["evaluator"].anonymous }} {{ evaluators[task.user]["evaluator"].username }}"><i class="fa fa-stop"
                                                                                                                                                        aria-hidden="true"></i>
                        Stop
                      </button>
                    </td>

                    <td id="execution-status-{{ task.user }}">
                      <span class="label label-primary">Working</span>
                    </td>

                    {% set workingCount = workingCount + 1 %}
                  {% endif %}
                {% else %}

                  {% if eval_progress[task.user] == 0 %}

                    <td class="execution-action">
                      <button id="stop-{{ task.user }}-btn" data-id="{{ task.user }}" type="button" class="btn btn-success"
                              aria-label="Start {{ evaluators[task.user]["evaluator"].anonymous }} {{ evaluators[task.user]["evaluator"].username }}"><i class="fa fa-play"
                                                                                                                                                         aria-hidden="true"></i>
                        Start
                      </button>
                    </td>

                    <td id="execution-status-{{ task.user }}">
                      <span class="label label-primary">Accepted</span>
                    </td>

                    {% set idleCount = idleCount + 1 %}
                  {% else %}

                    <td class="execution-action">
                      <button id="stop-{{ task.user }}-btn" data-id="{{ task.user }}" type="button" class="btn btn-success"
                              aria-label="Start {{ evaluators[task.user]["evaluator"].anonymous }} {{ evaluators[task.user]["evaluator"].username }}"><i class="fa fa-play"
                                                                                                                                                         aria-hidden="true"></i>
                        Start
                      </button>
                    </td>

                    <td id="execution-status-{{ task.user }}">
                      <span class="label label-danger">Stopped</span>
                    </td>

                    {% set pausedCount = pausedCount + 1 %}
                  {% endif %}
                {% endif %}

              {% endif %}


              <td>

                {#{% if  app.session.get('project')['blindrev'] %}
                      {{ evaluators[task.user]["evaluator"].anonymous }}
                      <strike>({{ evaluators[task.user]["evaluator"].username }})</strike>
                    {% else %}

                      {{ evaluators[task.user]["evaluator"].anonymous }}
                      ({{ evaluators[task.user]["evaluator"].username }})

                    {% endif %}
                    #}
                {{ evaluators[task.user]["evaluator"].anonymous }}
                ({{ evaluators[task.user]["evaluator"].username }})
              </td>

              <td>
                {% set fractionComplete = (eval_progress[task.user] / tus) * 100 %}

                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar"
                       aria-valuenow="{{ fractionComplete }}"
                       aria-valuemin="0" aria-valuemax="100" style="width:{{ fractionComplete }}%">
                    {{ eval_progress[task.user] }}/{{ tus }} ({{ fractionComplete | round(1, 'floor') }}%)
                  </div>
                </div>

              </td>

              <td>


                {% if task.modified %}
                  {{ task.modified | date('Y M d H:i') }}
                {% endif %}

              </td>

              <td class="execution-due-date">
                {% if dueDate != "Not specified" %}
                  {{ dueDate }}
                {% else %}
                  <span class="label label-default">Not specified</span>
                {% endif %}
              </td>

              <td class="execution-schedule"></td>

            </tr>

          {% endif %}

        {% endfor %}

        </tbody>
      </table>


    </section>


    {% include 'util/alert-close-modal.twig' %}

  {% else %}

    <div class="alert alert-warning">
      <strong>Warning!</strong> The evaluation has not started as there are no evaluators or they haven't accepted the
      invitation yet.
    </div>

  {% endif %}

{% else %}

  <div class="alert alert-warning">
    <strong>Warning!</strong> The evaluation has not started as there are no translation units to evaluate.
  </div>

{% endif %}


<script language="JavaScript">

  $(document).ready(function () {
    var today = new Date().getTime();
    setSchedule('execution', today);

    $("td.execution-action button").click(function () {
      var id = $(this).data('id');
      var val = $(this).text().trim();
      console.log("Start/stop id " + id + " '" + val + "'");


      if (val === "Start") {
        console.log("starting... " + val + "'");
        startEvaluator(id, this);

      } else if (val === "Stop") {
        console.log("stopping... '" + val + "'");
        stopEvaluator(id, this);

      }
    });
  });

  function setSchedule(task, today) {
    console.log(task + " " + today);
    var overdue = false;
    var i = 0;
    var dueDate = "Not specified";
    $("td." + task + "-due-date").each(function () {
          dueDate = $(this).text().trim();

          console.log(i + " " + dueDate + " " + today);
      if (dueDate !== "Not specified") {
            var d = Date.parse(dueDate + ' 23:59');
            if (d < today) {
              overdue = true;
            }
          }
          i++;

        }
    );

    if (dueDate !== "Not specified") {
      if (overdue) {
        $("td." + task + "-schedule").html('<span class="label label-danger">Overdue</span>');
      } else {
        $("td." + task + "-schedule").html('<span class="label label-success">On time</span>');
      }
    } else {
      $("td." + task + "-schedule").html('<span class="label label-default">Undefined</span>');
    }
  }

  function stopEvaluator(id, el) {
    console.log("stopping... " + id);
    $.ajax({
      url: "{{ path('app_stop_evaluator') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "id": id,
        "pid": {{ pid }}
      },
      type: "POST",
      cache: false,
      crossDomain: false,
      success: function (data) {

        console.log(data);
        if (data.valid) {

          $(el).html('<i class="fa fa-play" aria-hidden="true"></i>  Start');
          $(el).removeClass('btn-danger');
          $(el).addClass('btn-success');
          $("#execution-status-" + id).html('<span class="label label-danger">Stopped</span>');
          MyNotify(data.message, null, null, 'success');
        } else {
          showAlertClose('Warning', data.message, data.tip);

        }
      }, error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  function startEvaluator(id, el) {
    console.log("starting... " + id);
    $.ajax({
      url: "{{ path('app_start_evaluator') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "id": id,
        "pid": {{ pid }}
      },
      type: "POST",
      //async: false,
      cache: false,
      crossDomain: false,
      success: function (data) {

        console.log(data);
        if (data.valid) {
          $(el).html('<i class="fa fa-stop" aria-hidden="true"></i> Stop');
          $(el).removeClass('btn-success');
          $(el).addClass('btn-danger');
          $("#execution-status-" + id).html('<span class="label label-success">Working</span>');
          MyNotify(data.message, null, null, 'success');
        } else {
          showAlertClose('Warning', data.message, data.tip);
        }
      }, error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });

  }


</script>