<!-- -->
{% include 'util/debug.twig' with {'parent': 'project/monitor.check-corpus.twig'} %}

<style>
  td {
    text-align: left;
    vertical-align: middle;
  }
</style>


<table class="table table-striped">
  <thead>
  <tr>

    <th id="check_corpus-name" scope="col">Task</th>
    <th id="check_corpus-confirmed" scope="col">Status</th>
    <th id="check_corpus-confirmedBy" scope="col">Done by</th>
    <th id="check_corpus-modified" scope="col">Last modified</th>
    <th id="check_corpus-dueBy" scope="col">Due by</th>
    <th id="check_corpus-schedule" scope="col">Schedule</th>
  </tr>
  </thead>
  <tbody>

  {% for task in tasks %}

    {% if task.task == "check_corpus" %}

      <tr>
        <td id="check_corpus-task-name">

          {% if task_list[task.task][1] != "" %}
            <a id="{{ task_list[task.task][1] }}" href="{{ path('admin') }}?pid={{ pid }}&view={{ task_list[task.task][1] }}">
              Evaluation launch
            </a>
          {% else %}
            Evaluation launch
          {% endif %}

        </td>
        <td class="check_corpus-status">


          {% set taskName = "Check corpus" %}

          {% if task.completed == 1 %}
            <span class="label label-success">Complete</span>
          {% else %}
            <span class="label label-danger">Incomplete</span>
          {% endif %}

        </td>


        <td id="check_corpus-confirmedBy">

          {% if task.completed == 0 %}

            <span class="label label-danger">None</span>
          {% else %}
            {% if users[task.user] is defined %}
              {{ users[task.user][0] }}
            {% else %}
              Unknown
            {% endif %}
          {% endif %}
        </td>

        <td>


          {% if task.modified %}
            {{ task.modified | date('Y M d H:i') }}
          {% endif %}

        </td>

        <td class="check_corpus-due-date">


          {% if task.duedate %}
            {{ task.duedate | date('Y M d') }}
          {% else %}
            <span class="label label-default">Not specified</span>
          {% endif %}
        </td>

        <td class="check_corpus-schedule"></td>

      </tr>

    {% endif %}


  {% endfor %}

  </tbody>
</table>

