{% include 'util/debug.twig' with {'parent': 'project/monitor.all-settings.twig'} %}

<table class="table table-striped">
  <thead>
  <tr>

    <th id="invitation-and-settings-task" scope="col">Task</th>
    <th id="invitation-and-settings-status" scope="col">Status</th>
    <th id="invitation-and-settings-inviter" scope="col">Done by</th>
    <th id="invitation-and-settings-modified" scope="col">Last modified</th>
    <th id="invitation-and-settings-dueBy" scope="col">Due by</th>
    <th id="invitation-and-settings-schedule" scope="col">Schedule</th>
  </tr>
  </thead>
  <tbody>
  {# invitaions #}

  {# this is counter ia added to the links of the invitation list so that wave doesn't generate
    warnings any more, i.e. a duplicate link #}
  {% set id_counter = 0 %}

  {% set dueDate = "Not specified" %}
  {# look for the due date for settings, it is common to the check_corpus (Evaluation launch) #}
  {% for task in tasks %}

    {% if task.task == "evalformat" %}
      {% if task.duedate %}
        {% set dueDate = task.duedate | date('Y M d') %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for taskname, value in invitation_tasks %}

    {% set id_counter = id_counter + 1 %}

    {% if "admin" in userRoles
      or "owner" in userRoles
      or invitation_tasks[taskname][0] in userRoles %}

      <tr>

        {% set taskNameLabel = "none" %}
        {% if taskname | trans == "admin invitation" %}
          {% set taskNameLabel = "Admin invitation" %}
        {% elseif taskname | trans == "vendor invitation" %}
          {% set taskNameLabel = "Vendor invitation" %}
        {% elseif taskname | trans == "evaluator invitation" %}
          {% set taskNameLabel = "Evaluator invitation" %}
        {% elseif taskname | trans == "reviewer invitation" %}
          {% set taskNameLabel = "Reviewer invitation" %}
        {% endif %}

        <td>

          <a id="{{ invitation_tasks[taskname][1] }}-{{ id_counter }}"
             href="{{ path('admin') }}?pid={{ pid }}&view={{ invitation_tasks[taskname][1] }}&counter={{ id_counter }}">{{ taskNameLabel }}</a>

        </td>

        <td>

          {% if invitations[taskname] is defined %}
            <span class="label label-success">Complete</span>
          {% else %}
            <span class="label label-danger">Incomplete</span>
          {% endif %}
        </td>

        <td>
          {% if invitations[taskname] is defined %}

            {% set usersWithUnknownInviter = 0 %}
            {% for inviter, count in invitations[taskname] %}
              {% if users[inviter] %}
                {{ users[inviter][0] }}
              {% else %}
                {% set usersWithUnknownInviter = usersWithUnknownInviter + count %}
              {% endif %}
            {% endfor %}

            {% if usersWithUnknownInviter > 0 %}
              <span class="label label-default">Unknown</span>
            {% endif %}
          {% else %}
            <span class="label label-danger">None</span>
          {% endif %}

        </td>

        <td><span class="label label-default">Not specified</span></td>
        {#invitation doesn't have the due by and schedule#}
        <td><span class="label label-default">Not specified</span></td>
        <td><span class="label label-default">Undefined</span></td>
      </tr>


    {% endif %}
  {% endfor %}

  {# settings #}
  {% for task in tasks %}

    {% if task.task == "evalformat"
      or task.task == "import_corpus"
      or task.task == "guidelines" %}


      <tr>
        {% set taskName = "none" %}
        {% if task.task == "evalformat" %}
          {% set taskName = "Evaluation format setup" %}
        {% elseif task.task == "import_corpus" %}
          {% set taskName = "Import data" %}
        {% elseif task.task == "guidelines" %}
          {% set taskName = "Guidelines setup" %}

        {% endif %}
        <td>


          {% if task_list[task.task][1] != "" %}
            <a id="{{ task_list[task.task][1] }}" href="{{ path('admin') }}?pid={{ pid }}&view={{ task_list[task.task][1] }}">{{ taskName }}</a>
          {% else %}
            {{ taskName }}
          {% endif %}

        </td>

        <td class="invitation-and-settings-status">

          {% if task.completed == 1 %}
            <span class="label label-success">Complete</span>
          {% else %}
            <span class="label label-danger">Incomplete</span>
          {% endif %}

        </td>


        <td>
          {% if task.completed == 0 %}

            <span class="label label-danger">None</span>
          {% else %}

            {% if users[task.user] is defined %}
              {{ users[task.user][0] }}
            {% else %}
              Unknown
            {% endif %}
          {% endif %}

        </td>
        <td>

          {% if task.modified %}
            {{ task.modified | date('Y M d H:i') }}
          {% endif %}

        </td>

        <td class="invitation-and-settings-due-date">


          {% if dueDate != "Not specified" %}
            {{ dueDate }}
          {% else %}
            <span class="label label-default">Not specified</span>
          {% endif %}
        </td>
        <td class="invitation-and-settings-schedule"></td>
      </tr>

    {% endif %}


  {% endfor %}

  </tbody>
</table>




