<!-- -->
{% include 'util/debug.twig' with {'parent': 'project/monitor.finalize.twig'} %}

<style>
  td {
    text-align: left;
    vertical-align: middle;
  }
</style>


{#{% set enableTasks = app.session.get('project')['etasks'] | keys %}#}
    {#{% set confirmEvaluationTask = 0 %}#}
    {#{% set countEvaluationTask = 0 %}#}


<table class="table table-striped">
  <thead>
  <tr>
    <th id="finalize-name" scope="col">Task</th>
    <th id="finalize-confirmed" scope="col">Status</th>

    <th id="finalize-confirmedBy" scope="col">Done by</th>
    <th id="finalize-modified" scope="col">Last modified</th>
    <th id="finalize-dueBy" scope="col">Due by</th>
    <th id="finalize-schedule" scope="col">Schedule</th>
  </tr>
  </thead>
  <tbody>

  {% for task in tasks %}

    {% if task.task == "finalize" %}

      <tr>
        <td>


          {#{% if task_list[task.task][1] != "" %}
                <a href="{{ path('admin') }}?view={{ task_list[task.task][1] }}">{{ taskName }}</a>
              {% else %}
                {{ taskName }}
              {% endif %}#}
          <a id="report-link" href="{{ path('admin') }}?pid={{ pid }}&view=report">Report</a>

        </td>

        <td class="finalize-status">

          {% set taskName = "none" %}
          {% if task.task == "finalize" %}
            {% set taskName = "Report" %}
          {% endif %}


          {% if task.completed == 1 %}
            <span class="label label-success">Complete</span>
          {% else %}
            <span class="label label-danger">Incomplete</span>
          {% endif %}


        </td>


        <td>
          {% if task.completed == 0 %}

            <span class="label label-danger">None</span>
          {% else %}
            {% if users[task.user] is defined %}
              {{ users[task.user][0] }}
            {% else %}
              <span class="label label-danger">Unknown</span>
            {% endif %}
          {% endif %}
        </td>
        <td>


          {% if task.modified %}
            {{ task.modified | date('Y M d H:i') }}
          {% endif %}

        </td>

        <td class="finalize-due-date">


          {% if task.duedate %}
            {{ task.duedate | date('Y M d') }}
          {% else %}
            <span class="label label-default">Not specified</span>
          {% endif %}
        </td>

        <td class="finalize-schedule"></td>

      </tr>

    {% endif %}


  {% endfor %}

  </tbody>
</table>

