<!-- -->

{% include 'util/debug.twig' with {'parent': 'project/monitor.evaluation.twig'} %}

{% set dueDate = "Not specified" %}
  {% set evaluatorsCount = 0 %}
  {% for task in tasks %}

    {% if task.task == "evaluation" and evaluators[task.user] != '' %}
      {% set evaluatorsCount = evaluatorsCount + 1 %}
    {% endif %}


    {# look for the due date for evaluation, it is common to the creation (Evaluation) #}
    {% if task.task == "creation" %}
      {% if task.duedate %}
        {% set dueDate = task.duedate | date('Y M d') %}
      {% endif %}
    {% endif %}


  {% endfor %}



  {% if evaluatorsCount > 0 %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th id="evaluation-task" scope="col">Task</th>
        <th id="evaluation-active" scope="col">Status</th>
        <th id="evaluation-evaluator" scope="col">Done by</th>
        <th id="evaluation-progress" scope="col">Confirmed translation units</th>
        <th id="evaluation-modified" scope="col">Last modified</th>
        <th id="evaluation-dueBy" scope="col">Due by</th>
        <th id="evaluation-schedule" scope="col">Schedule</th>
        {#<th id="evaluation-undo-confirmation" aria-label="confirmation" title="Undo the confirmation, all evaluations have to be reviewed">Confirmation</th>#}
      </tr>
      </thead>
      <tbody>

      {# introduced to avoid alert in Chrome Wave #}
      {% set evaluatorID = 0 %}

      {% for task in tasks %}
        {% set evaluatorID = evaluatorID + 1 %}
        {% if task.task == "evaluation" and evaluators[task.user] != '' %}
          <tr>
            <td>
              <a href="{{ path('admin') }}?pid={{ pid }}&view=execution&evaluator={{ evaluatorID }}">Evaluation</a>
            </td>
            {#<td aria-labelledby="evaluation-active">
              <input id="task-{{ task.task }}-{{ task.id }}" type="checkbox" value="{{ task.id }}" aria-labelledby="evaluation-active" {% if task.completed == 1 %} checked{% endif %}>
            </td>#}

            <td class="evaluation-status">
              {#{% if task.completed == 1 %}
                <span class="label label-success">Complete</span>
              {% else %}
                {% if eval_progress[task.user] == 0 %}
                  <span class="label label-danger">Incomplete</span>
                {% else %}
                  <span class="label label-info">Ongoing</span>
                {% endif %}
              {% endif %}#}

              {% if task.completed == 1 %}
                <span class="label label-success">Complete</span>
              {% else %}

                {% if task.disabled == 0 %}
                  {% if eval_progress[task.user] == 0 %}
                    <span class="label label-primary">Notified</span>
                  {% else %}
                    <span class="label label-primary">Working</span>
                  {% endif %}
                {% else %}
                  {% if eval_progress[task.user] == 0 %}
                    <span class="label label-primary">Accepted</span>
                  {% else %}
                    <span class="label label-danger">Stopped</span>
                  {% endif %}
                {% endif %}

              {% endif %}
            </td>


            <td>
              {#<a href="{{ path('admin') }}?view=execution&evaluator={{ evaluatorID }}">{{ evaluators[task.user]["evaluator"].anonymous }}
                ({{ evaluators[task.user]["evaluator"].username }})</a>#}
              {{ evaluators[task.user]["evaluator"].anonymous }}
              ({{ evaluators[task.user]["evaluator"].username }})
            </td>

            <td>
              {% set fractionComplete = (eval_progress[task.user] / tus) * 100 %}

              <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ fractionComplete }}"
                     aria-valuemin="0" aria-valuemax="100" style="width:{{ fractionComplete }}%">
                  {{ eval_progress[task.user] }}/{{ tus }} ({{ fractionComplete | round(1, 'floor') }}%)
                </div>
              </div>

            </td>

            <td>


              {% if task.modified %}
                {{ task.modified | date('Y M d H:i') }}
              {% endif %}

            </td>

            <td class="evaluation-due-date">
              {% if dueDate != "Not specified" %}
                {{ dueDate }}
              {% else %}
                <span class="label label-default">Not specified</span>
              {% endif %}

              {# <td aria-labelledby="evaluation-undo-confirmation">
                 <button type="button" class="btn btn-default">Undo</button>
               </td>#}

            <td class="evaluation-schedule"></td>
          </tr>

        {% endif %}

      {% endfor %}

      </tbody>
    </table>
  {% else %}
    <div class="alert alert-warning">
      <strong>Warning!</strong> There are no evaluators.
      Go to <a href="{{ path('admin') }}?pid={{ pid }}&view=settings.access">
        <i class="fa fa-users" aria-hidden="true"></i> User invitation</a> to invite the evaluators.
    </div>
  {% endif %}


