<!-- -->

{% include 'util/debug.twig' with {'parent': 'project/monitor.review.twig'} %}

<style>
  td {
    text-align: left;
    vertical-align: middle;
  }
</style>

<div>
  {% set review = false %}
  {% set dueDate = "Not specified" %}
  {% for task in tasks %}
    {% if task.task == "review" %}
      {% set review = true %}
    {% endif %}


    {# look for the due date for the review, it is common to the finalize (Report) #}


    {% if task.task == "guidelines" %}
      {% if task.duedate %}
        {% set dueDate = task.duedate | date('Y M d') %}
      {% endif %}
    {% endif %}

  {% endfor %}

  {% if review == true %}

    <table class="table table-striped">
      <thead>
      <tr>
        <th id="review-name" scope="col">Task</th>
        <th id="review-confirmed" scope="col">Status</th>

        <th id="review-confirmedBy" scope="col">Done by</th>
        <th id="review-modified" scope="col">Last modified</th>
        <th id="review-dueBy" scope="col">Due by</th>
        <th id="review-schedule" scope="col">Schedule</th>
      </tr>
      </thead>
      <tbody>

      {% for task in tasks %}

        {% if task.task == "review" %}

          <tr>
            {% set taskName = "none" %}
            {% if task.task == "review" %}
              {% set taskName = "Review" %}
            {% endif %}
            <td>

              <!-- todo use the link -->
              {% if task_list[task.task][1] != "" %}
                <a id="{{ task_list[task.task][1] }}-link" href="{{ path('admin') }}?pid={{ pid }}&view={{ task_list[task.task][1] }}">{{ taskName }}</a>
              {% else %}
                {{ taskName }}
              {% endif %}

            </td>
            <td class="review-status">


              {#<input id="task-{{ task.task }}-{{ task.id }}" type="checkbox" value="{{ task.id }}" aria-labelledby="review-task-name" {% if task.completed == 1 %} checked{% endif %}>#}
              {% if task.completed == 1 %}
                <span class="label label-success">Complete</span>
              {% else %}
                <span class="label label-danger">Incomplete</span>
              {% endif %}

            </td>


            <td id="confirmedBy">
              {# commented to solve Issue #31}
              {#{% if task.completed == 0 %}
                    <span class="label label-danger">None</span>
                  {% else %}
                    {% if users[task.user] is defined %}
                      {{ users[task.user][0] }}
                    {% else %}
                      <span class="label label-danger">Unknown</span>
                    {% endif %}
                  {% endif %}#}

              {% if users[task.user] is defined %}
                {{ users[task.user][0] }}
              {% else %}
                <span class="label label-danger">Unknown</span>
              {% endif %}
            </td>

            <td>


              {% if task.modified %}
                {{ task.modified | date('Y M d H:i') }}
              {% endif %}

            </td>

            <td class="review-due-date">


              {% if dueDate != "Not specified" %}
                {{ dueDate }}
              {% else %}
                <span class="label label-default">Not specified</span>
              {% endif %}
            </td>
            <td class="review-schedule"></td>
          </tr>

        {% endif %}

      {% endfor %}

      </tbody>
    </table>
  {% else %}
    <div class="alert alert-warning">
      <strong>Warning!</strong> There is no reviewer.

      Go to <a href="{{ path('admin') }}?pid={{ pid }}&view=settings.access">
        <i class="fa fa-users" aria-hidden="true"></i> User invitation</a> to invite a reviewer.

    </div>
  {% endif %}


</div>

