<!-- Author: Claudio Giuliano (giuliano@fbk.eu) -->

{% include 'util/debug.twig' with {'parent': 'project/monitor.twig'} %}

<section role="region">
  <div class="alert alert-info">

    <strong>Info!</strong> Use this page to monitor the status of the project and to find the tasks to complete. Click
    on a task name to work on it.

  </div>
</section>

{% if "admin" in userRoles
  or "owner" in userRoles
  or "vendor" in userRoles %}
  <section role="region">
    <div class="panel panel-primary">
      <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</h3>
      </div>
      <div class="panel-body">

        {% include "project/monitor.all-settings.twig" %}

      </div>
    </div>
  </section>
{% endif %}

  {% if "admin" in userRoles
    or "owner" in userRoles %}
    <section role="region">
      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-rocket" aria-hidden="true"></i> Evaluation
            launch</h3></div>
        <div class="panel-body">

          {% include "project/monitor.check-corpus.twig" %}

        </div>
      </div>
    </section>
  {% endif %}

  {% if "admin" in userRoles
    or "owner" in userRoles
    or "vendor" in userRoles %}
    <section role="region">
      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-line-chart" aria-hidden="true"></i>
            Evaluation progress</h3></div>
        <div class="panel-body">

          {% include "project/monitor.evaluation.twig" %}

        </div>
      </div>
    </section>
  {% endif %}

  {% if "admin" in userRoles
    or "owner" in userRoles %}
    <section role="region">

      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Review
          </h3></div>
        <div class="panel-body">

          {% include "project/monitor.review.twig" %}

        </div>
      </div>

    </section>
  {% endif %}


  {% if "admin" in userRoles
    or "owner" in userRoles %}
    <section role="region">

      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-list-alt" aria-hidden="true"></i> Report</h3>
        </div>
        <div class="panel-body">

          {% include "project/monitor.finalize.twig" %}

        </div>
      </div>

    </section>
  {% endif %}


<script language="JavaScript">

  $(document).ready(function () {
    var today = new Date().getTime();

    setSchedule('invitation-and-settings', today);
    setSchedule('check_corpus', today);
    setSchedule('evaluation', today);
    setSchedule('review', today);
    setSchedule('finalize', today);
  });

  function setSchedule(task, today) {
    console.log(task + " " + today);
    var overdue = false;
    var i = 0;
    var dueDate = "Not specified";
    $("td." + task + "-due-date").each(function () {
        dueDate = $(this).text().trim();

        console.log(i + " " + task + ": due date = " + dueDate + ", today = " + today);
        if (dueDate !== "Not specified") {
          var d = Date.parse(dueDate + ' 23:59');
          if (d < today) {
            overdue = true;
          }
        }
        i++;
      }
    );
    var complete = true;
    var status = "Complete";
    i = 0;
    $("td." + task + "-status span").each(function () {
        status = $(this).text().trim();

        console.log(i + " " + task + ": complete = " + status);
        if (status !== "Complete") {
          complete = false;
        }
        i++;
      }
    );

    console.log(task + " " + dueDate + " " + overdue + " " + complete);
    if (dueDate !== "Not specified") {
      if (overdue && !complete) {
        $("td." + task + "-schedule").html('<span class="label label-danger">Overdue</span>');
      } else {
        $("td." + task + "-schedule").html('<span class="label label-success">On time</span>');
      }
    } else {
      $("td." + task + "-schedule").html('<span class="label label-default">Undefined</span>');
    }
  }

</script>


