{% include 'util/debug.twig' with {'parent': 'setting/settings.guidelines.twig'} %}

{% if "admin" in userRoles
  or "owner" in userRoles %}


  <h2 id="page-subtitle" aria-label="Project specifications">Specifications</h2>

  <section role="region">
    <div id="guidelines-import" class="alert alert-info">
      <p><strong>Info!</strong> Use this page to set the project specifications.
    </div>
  </section>

  <section role="region">

    <div id="guidelines-info-confirmed" class="alert alert-success" style="display: none;">
      <p><strong>Success!</strong> This task has been completed. To modify it, mark it as incomplete. Go to <a
                href="{{ path('admin') }}?pid={{ pid }}&view=monitor">
          <i class="fa fa-tasks" aria-hidden="true"></i> Project monitor</a> to track the progress of the other tasks.
      </p>
      <hr>
      <button id="guidelines-task-undo" onclick="setGuidelinesIncomplete()" type="button"
              class="btn btn-default btn-task" aria-label="Mark as incomplete the task Project Specifications"><i
                class="fa fa-unlock" aria-hidden="true"></i> Mark as incomplete
      </button>
    </div>

    <div id="guidelines-warning-not-confirmed" class="alert alert-warning" style="display: none;">
      <p><strong>Warning!</strong> This task has not been completed yet. When it will be finished, mark it as complete.
      </p>
      <hr>
      <button id="mark-complete-btn" onclick="setGuidelinesComplete()" type="button"
              class="btn btn-default btn-task" aria-label="Mark as complete the task Project Specifications"><i
                class="fa fa-lock" aria-hidden="true"></i> Mark as complete
      </button>
    </div>

  </section>

  <section role="region">
    <div class="panel panel-default">

      <div class="panel-body">

        {% include 'util/guidelines-specifications.twig' %}

      </div>
    </div>
  </section>

  {% include 'util/alert-close-modal.twig' %}


  <script type="text/javascript">

    {#function setGuidelinesIncomplete() {#}
    {#console.log("setting guidelines incomplete...");#}
    {#$.ajax({#}

    {#url: "{{ path('setGuidelinesIncomplete') }}",#}
    {#headers: {#}
    {#"CsrfToken": "{{ csrf_token('authenticate') }}"#}
    {#}, data: {#}
    {#"pid": {{ pid }}#}
    {#},#}
    {#type: 'GET',#}
    {#//async: false,#}
    {#cache: false,#}
    {#crossDomain: false,#}
    {#success: function (json) {#}
    {#var data = jQuery.parseJSON(json);#}
    {#console.log("data " + json);#}
    {#console.log("status " + data.status);#}
    {#console.log("message " + data.message);#}
    {#console.log("tip " + data.tip);#}
    {#console.log("completed " + data.completed);#}
    {#console.log("modified " + data.modified);#}
    {#if (data.status === "Success") {#}
    {#enableSpecifications(false);#}
    {#showSpecificationsAlert(false);#}
    {#} else {#}
    {#//$("#specifications-cannot-incomplete").modal('show');#}
    {#showAlertClose(data.status, data.message, data.tip);#}
    {#}#}
    {#}#}
    {#});#}
    {#}#}

    {#function setGuidelinesComplete() {#}
    {#console.log("setting guidelines complete...");#}
    {#$.ajax({#}
    {#url: "{{ path('setTaskComplete') }}",#}
    {#headers: {#}
    {#"CsrfToken": "{{ csrf_token('authenticate') }}"#}
    {#},#}
    {#data: {#}
    {#"task": "guidelines",#}
    {#"pid": {{ pid }}#}
    {#},#}
    {#type: 'GET',#}
    {#//async: false,#}
    {#cache: false,#}
    {#crossDomain: false,#}
    {#success: function (json) {#}
    {#var data = jQuery.parseJSON(json);#}
    {#console.log("data " + json);#}
    {#console.log("status " + data.status);#}
    {#console.log("message " + data.message);#}
    {#console.log("tip " + data.tip);#}
    {#console.log("completed " + data.completed);#}
    {#console.log("modified " + data.modified);#}
    {#if (data.status === "Success") {#}
    {#enableSpecifications(true);#}
    {#showSpecificationsAlert(true);#}
    {#} else {#}
    {#showAlertClose(data.status, data.message, data.tip);#}
    {#}#}
    {#}#}
    {#});#}
    {#}#}

    function setGuidelinesIncomplete() {
      $.ajax({
        url: "{{ path('set_task_incomplete') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "pid": {{ pid }},
          "task": "guidelines"
        },
        type: "POST",
        cache: false,
        crossDomain: false,
        beforeSend: function () {
          console.log("setting guidelines incomplete...");
        },
        success: function (data) {
          console.log(data);
          if (data.valid) {
            enableSpecifications(false);
            showSpecificationsAlert(false);
          } else {
            showAlertClose('Warning', data.message, data.tip);
          }
        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    function setGuidelinesComplete() {
      $.ajax({
        url: "{{ path('set_task_complete') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "pid": {{ pid }},
          "task": "guidelines"
        },
        type: "POST",
        cache: false,
        crossDomain: false,
        beforeSend: function () {
          console.log("setting guidelines complete...");
        },
        success: function (data) {
          console.log(data);
          if (data.valid) {
            enableSpecifications(true);
            showSpecificationsAlert(true);
          } else {
            showAlertClose('Warning', data.message, data.tip);
          }
        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

  </script>

{% else %}
  {% include 'exception/invalid.twig' %}
{% endif %}
