{% include 'util/debug.twig' with {'parent': 'settings/settings.details.twig'} %}



<h2 id="page-subtitle">Project details</h2>
<section role="region">
  <div class="alert alert-info">
    <strong>Info!</strong> Use this page to modify the project name and/or the description.
  </div>
</section>

<section role="region">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal">

        <p>
        </p>
        <div class="container-fluid larger">
          <p>
            <label for="name">Name</label>
            <input type="text" required="required" class="form-control" name="name" id="name"/>
          </p>
        </div>

        <div class="container-fluid">
          <p>
            <label for="description">Description</label>
            <textarea rows="4" class="form-control" name="description" id="description"></textarea>
          </p>
        </div>


      </form>
    </div>
  </div>
</section>

<script>
  String.prototype.lines = function () {
    return $('#description').text().split(/\r*\n/);
  };

  String.prototype.lineCount = function () {
    return $('#description').text().lines().length;
  };

  $('#description').css('height', ($('#description').text().lineCount() + 5) + 'em');


  function configureAutoSaveProjectDetails() {
    $('#name').change(function () {
      //console.log("save name!");
      saveProjectDetails();
    });

    $('#description').change(function () {
      //console.log("save description!");
      saveProjectDetails();
    });
  }

  $(document).ready(function () {
    loadProject();
    configureAutoSaveProjectDetails();
  });

  function loadProject() {
    console.log("loading project...");
    $.ajax({
      type: "GET",
      url: "{{ path('app_project_get_project') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "id": {{ pid }},
        "pid": {{ pid }},
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
      },
      success: function (data) {
        console.log(data);
        if (data.valid) {
          $('#name').val(data.name);
          $('#description').val(data.description);
        } else {
          MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  function saveProjectDetails() {
    var name = $('#name').val();
    var description = $('#description').val();
    $.ajax({
      type: "POST",
      url: "{{ path('app_project_update') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "id": {{ pid }}, "pid": {{ pid }},
        "view": "{{ view }}",
        "name": name,
        "description": description,
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        console.log("saving...");
      },
      success: function (data) {
        //returns the page to be updated
        console.log(data);
        if (data.valid) {
          $('#name').val(data.name);
          $('#description').val(data.description);
          MyNotify(data.message, null, null, "success");
        } else {
          MyNotify(data.message, null, null, "danger");
        }

      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }
</script>