{% include 'util/debug.twig' with {'parent': 'settings/settings.instructions.twig'} %}

{% if "admin" in userRoles
  or "owner" in userRoles %}

  <h2 id="page-subtitle" aria-label="Project instructions">Instructions</h2>

  <section role="region">
    <div class="alert alert-info">
      <p><strong>Info!</strong> Use the text area below to write the evaluation instructions.
        Instructions can also upload
        them from a text or html file and can be modified at any time.
        This task doesn't need an explicit confirmation when complete.</p>

      <hr>

      <span class="btn btn-default fileinput-button main" title="Upload instructions in plain text or HTML">
                <span>Upload</span>
        <!-- The file input field used as target for the file upload widget -->
                <input aria-label="upload" id="fileupload" type="file" name="upfile" multiple>
            </span>
    </div>
  </section>

  <section role="region">

    {% include 'util/guidelines-instructions.twig' %}

  </section>

{% else %}
  {% include 'exception/invalid.twig' %}
{% endif %}
