<!-- Author: Claudio -->
{% include 'util/debug.twig' with {'parent': 'settings/settings.access.twig'} %}

<h2 id="page-subtitle">User invitation</h2>

<section role="region">
  <div class="alert alert-info">
    <strong>Info!</strong> Use this page to invite users to work on the project on the different roles. Users
    can be invited only if their user name or email is known.
    Click on <em>favorite link</em> to invite users you worked with in previous projects.
    Invitees are notified in their dashboard and by email. Roles
    can be revoked by the inviter only.
  </div>

</section>


{% if "admin" in userRoles
  or "owner" in userRoles %}
  <section role="region">
    {% include 'util/role-invitation.twig' with {"role": "admin", "title": "Admin"} only %}
  </section>
{% endif %}

{% if "admin" in userRoles
  or "owner" in userRoles %}
  <section role="region">
    {% include 'util/role-invitation.twig' with {"role": "vendor", "title": "Vendor"} only %}
  </section>
{% endif %}

{% if "admin" in userRoles
  or "owner" in userRoles
  or "vendor" in userRoles %}
  <section role="region">
    {% include 'util/role-invitation.twig' with {"role": "evaluator", "title": "Evaluator"} only %}
  </section>
{% endif %}

{% if "admin" in userRoles
  or "owner" in userRoles %}
  <section role="region">
    {% include 'util/role-invitation.twig' with {"role": "reviewer", "title": "Reviewer"} only %}
  </section>
{% endif %}

<!-- User not found Modal -->
<div id="inviteUserModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="modal-user-not-found-close-header" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;
        </button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <h5 role="alert">Username or email not found.</h5>
        <p>Users can be invited only if their email is known.</p>
      </div>
      <div class="modal-footer">
        <button id="modal-user-not-found-close-btn" type="button" class="btn btn-default" data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm remove user Modal -->
<div id="revokeUserModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="modal-confirm-remove-close-header" type="button" class="close" data-dismiss="modal"
                aria-hidden="true">&times;
        </button>
        <h4 class="modal-title">Confirm revoke</h4>
      </div>
      <div class="modal-body">
        <h5 role="alert">Do you want to revoke the role <span id="role-to-revoke"></span> to the selected user(s)?</h5>
        <p class="text-danger">If you answer yes, <em>the role will be immediately revoked</em><span
                  id="evaluator-reviewer-warning"></span>
        </p>
      </div>
      <div class="modal-footer">
        <button id="modal-confirm-remove-yes" type="button" class="btn btn-primary" data-dismiss="modal">
          Yes
        </button>
        <button id="modal-confirm-remove-no" type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<script>

  $(document).ready(function () {
    var username = '{{ app.session.get('user').username }}';

    initAccessTables(username);

    //polling
//    var myVar = setInterval(function () {
//      initAccessTables(username);
//    }, 60000);

    initInviteControl("admin", username);
    initInviteControl("vendor", username);
    initInviteControl("evaluator", username);
    initInviteControl("reviewer", username);

    initFavouritesTable("admin");
    initFavouritesTable("vendor");
    initFavouritesTable("evaluator");
    initFavouritesTable("reviewer");
  });

  function initFavouritesTable(role) {

    $.ajax({
      type: "GET",
      url: "{{ path('app_project_get_favourites') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "role": role,
        "pid":{{ pid }},
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        console.log("getting favourites users as " + role + "...");
      },
      success: function (data) {
        console.log(data);
        if (data.valid) {
          var json = data.favourites;
          //console.log(json);
          if (json.length === 0) {
            $("#favourites-table-caption-" + role).text("There are no favorite users");
            $("#favourites-table-head-" + role).hide();
          } else {
            $("#favourites-table-caption-" + role).text(json.length + " favorite users, click on them to invite them to work on the project");
            for (var i in json) {
              //console.log(json[i].username);
              //$("#access-username-list-"+ role).append('<li class="list-group-item">'+ json[i].username +'</li>');
              var id = 'favourites-user-' + json[i].id + '-' + role;
              //var row = '<tr id="' + id + '" data-id="' + json[i].id + '" data-roles="' + json[i].roles + '" data-email="' + json[i].email + '" data-username="' + json[i].username + '" data-first="' + json[i].firstname + '" data-last="' + json[i].lastname + '">';
              var row = '<tr id="' + id + '" data-id="' + json[i].id + '" data-email="' + json[i].email + '" data-username="' + json[i].username + '" data-first="' + json[i].firstname + '" data-last="' + json[i].lastname + '">';
              row += '<td>' + json[i].username + '</td>';
              row += '<td>' + json[i].firstname + '</td>';
              row += '<td>' + json[i].lastname + '</td>';
              row += '<td>' + json[i].email + '</td>';
              //row += '<td>' + json[i].roles + '</td>';
              row += '</tr>';

              $("#favourites-table-body-" + role).append(row);

              $("#" + id).click(function () {
                var id = $(this).data("id");

                var username = $(this).data("username");
                var email = $(this).data("email");
                var first = $(this).data("first");
                var last = $(this).data("last");
                //var roles = $(this).data("roles");

                //console.log("inviting " + id + " " + username + " " + email + " " + role + " (" + roles + ")");
                console.log("inviting " + id + " " + username + " " + email + " " + role);
                if ($("#access-row-" + role + "-" + id).length === 0) {
                  //inviteUser(id, username, first, last, email, role, true);
                  inviteUser(email, role);

                } else {
                  //console.log("cannot invite " + id + " " + username + " " + email + " " + role + " (" + roles + ")");
                  console.log("cannot invite " + id + " " + username + " " + email + " " + role);
                  MyNotify("The user has been already invited.", null, null, "warning");
                }
              })
            }
          }
        } else {

        }

      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }


  function emptyAccessTables() {
    $("#access-table-admin-body").empty();
    $("#access-table-vendor-body").empty();
    $("#access-table-evaluator-body").empty();
    $("#access-table-reviewer-body").empty();
  }

  function initAccessTables(username) {
    console.log("initAccessTables");
    emptyAccessTables();

    $.ajax({
      type: "GET",
      url: "{{ path('app_project_get_roles') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "pid": {{ pid }},
        "id": {{ pid }}
      },
      cache: false,
      beforeSend: function () {
        console.log("getting users and roles...");
      },
      success: function (data) {
        console.log(data);
        if (data.valid) {
          var roles = data.roles;
          var users = data.users;
          var expired = data.expired;
          for (var i in roles) {
            if (expired[roles[i].id] === true) {
              roles[i].status = "expired";
            }
            addRow(roles[i].id, roles[i].username, roles[i].firstname, roles[i].lastname, roles[i].email, roles[i].role, users[roles[i].inviter], roles[i].status);
          }

        } else {
          MyNotify(data.message, null, null, "danger");
        }

      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  function initAccessTable(role, username) {
    console.log("initAccessTable");

    $("#access-table-" + role + "-body").empty();

    $.ajax({
      type: "GET",
      url: "{{ path('app_project_get_roles') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      }, data: {
        "pid": {{ pid }}
      },
      cache: false,
      beforeSend: function () {
        console.log("getting users...");
      },
      success: function (data) {
        console.log(data);

        if (data.valid) {
          var roles = data.roles;
          var users = data.users;
          var expired = data.expired;
          for (var i in roles) {
            if (role === roles[i].role) {
              //console.log(i.length);
              //console.log(roles[i].id + " " + roles[i].username + " " + roles[i].email + " " + roles[i].role);
              //console.log("td#" + roles[i].id + "-" + roles[i].role + " input");
              //console.log(role + ": " + username + " => " + roles[i].username + " last " + roles[i].lastname);
              if (expired[roles[i].id] === true) {
                roles[i].status = "expired";
              }
              addRow(roles[i].id, roles[i].username, roles[i].firstname, roles[i].lastname, roles[i].email, roles[i].role, users[roles[i].inviter], roles[i].status);
            }
          }
        } else {
          MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  function initInviteControl(role, username) {
    $("#access-revoke-" + role).prop("disabled", true);
    $("#access-revoke-" + role).attr("aria-disabled", true);
    $("#access-revoke-" + role).click(function () {
      revokeUsers(role, username);
    });

    $("#access-invite-" + role).click(function () {
      searchUser(role);
    });

    $(".form-inline").on('keydown', '#access-username-' + role, function (e) {

      var key = e.which;
      if (key === 13) {
        //todo investigate why if enter is pressed the overview is showed
        //searchUser(role);
      }
    });
  }

  function addRow(id, username, first, last, email, role, inviter, status) {
    //console.log("addRow id:" + id + " u:" + username + " e:" + email + " r:" + role + " s:" + status);
    $('#invitation-table-' + role).show();
    var row = '<tr id="access-row-' + role + '-' + id + '">';
    row += '<td>';
    row += '<input id="access-select-' + role + '-check-' + id + '" class="access-select-' + role + '-check" data-row="' + role + '" data-id="' + id + '" data-username="' + username + '" type="checkbox" aria-label="select user ' + username + '">';
    row += '</td>';
    row += '<td>' + username + '</td>';
    //row += '<td>' + username + ' ' + id + '</td>';
    row += '<td>' + first + '</td>';
    row += '<td>' + last + '</td>';
    row += '<td>' + email + '</td>';

    var labelClass = "default";
    if (status === "pending") {
      labelClass = "primary";
    } else if (status === "accepted") {
      labelClass = "success";
    } else if (status === "declined") {
      labelClass = "danger";
    } else if (status === "expired") {
      labelClass = "danger";
    }

    row += '<td><span class="label label-' + labelClass + ' text-capitalize">' + status + ' </span></td>';
    row += '<td>' + inviter + '</td>';
    row += '</tr>';

    $('#access-table-' + role + '-body').append(row);

    $('#access-select-' + role + '-check-' + id).change(function () {

      revokeButtonHandler(role, id);
    });

  }

  function revokeButtonHandler(role, id) {
    //highlight the revoke button if at least a checkbox is checked

    //console.log('adding event' + '#access-select-' + role + '-check-' + id);
    var enable = false;
    $('input.access-select-' + role + '-check').each(function () {
      if ($(this).prop("checked")) {
        enable = true;
      }
    });

    $("#access-revoke-" + role).attr("disabled", !enable);
    $("#access-revoke-" + role).attr("aria-disabled", !enable);
  }

  function revokeUsers(role, currentUsername) {
    $('#role-to-revoke').text(role);

    if (role === 'evaluator') {
      $('#evaluator-reviewer-warning').html(' and <em>all evaluations will be permanently removed</em>');
    } else if (role === 'reviewer') {
      $('#evaluator-reviewer-warning').html(' and <em>all reviews will be permanently removed</em>');
    }
    else {
      var removeHerself = false;
      $('input.access-select-' + role + '-check:checked').each(function () {

        var username = $(this).data("username");
        if (username === currentUsername) {
          removeHerself = true;
        }

      });

      if (removeHerself) {
        $('#evaluator-reviewer-warning').html(' and <em> you won\'t be able to access the project as ' + role + '</em>');
      }

    }

    if (role === 'evaluator' || role === 'reviewer') {
      $('#evaluator-reviewer-warning').append('. <i class="fa fa-clock-o" aria-hidden="true"></i> Notice that to revoke this role may take several seconds if the dataset contains thousands of translation units');
    }

    $('#evaluator-reviewer-warning').append('.');

    $("#modal-confirm-remove-yes").unbind("click");
    $("#modal-confirm-remove-yes").bind("click", function () {

      console.log("revoking roles...");
      var count = 0;

      $('input.access-select-' + role + '-check:checked').each(function () {
        var id = $(this).data("id");
        var username = $(this).data("username");

        console.log(count + " revoking " + role + " " + username + " (" + id + ")...");
        revokeUser(id, username, role, currentUsername);

        count++;

        //$(this).prop('checked', false);

      });

      $("#access-revoke-" + role).attr("disabled", true);
      $("#access-revoke-" + role).attr("aria-disabled", true);

      console.log("revoked " + count + " user(s)");
    });

    $("#revokeUserModal").modal('show');
  }

  function revokeUser(id, username, role, currentUsername) {
    console.log("revoking " + role + " " + username + "(" + id + ")");

    var spinnerSelector = "#access-revoke-" + role;
    console.log(spinnerSelector);
    $.ajax({
      type: "POST",
      url: "{{ path('app_user_access_revoked') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "pid": {{ pid }},
        "uid": id,
        "role": role,
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        console.log("revoking user " + id + "...");
        $(spinnerSelector).html('Revoking <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>');
        //MyNotify('Notice that, if dataset contains thousands of translation units, it may take some seconds to revoke a user as it is required to update the annotator agreement.', null, null, 'warning');
      },
      success: function (data) {
        console.log(data);

        if (data.valid) {
          //remove row
          console.log("revoking row... " + 'tr#access-row-' + role + '-' + id);
          initAccessTable(role, username);
          console.log("user " + id + " removed");

          if (username === currentUsername) {
            MyNotify('You have revoked yourself as ' + role, null, null, 'success');
          } else {
            MyNotify('You have revoked ' + username + ' as ' + role, null, null, 'success');
          }

        } else {
          console.log("error revoking user " + id + "...");
          MyNotify(data.message, null, null, 'danger');
        }
        $(spinnerSelector).html("Revoke");
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  function searchUser(role) {

    var email = $('#access-username-' + role).val().trim();
    console.log("searching " + email + " as " + role + "...");

    if (email.length > 0) {
      inviteUser(email, role);
    }
  }

  function inviteUser(email, role) {

    $.ajax({
      type: "POST",
      url: "{{ path('app_user_find_user_to_invite') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "email": email,
        "role": role,
        "pid": {{ pid }}
      },
      cache: false,
      beforeSend: function () {
        console.log("inviting " + email + " as " + role + "...");
        $('#access-username-' + role).val("");
      },
      success: function (data) {
        console.log(data);
        if (data.valid) {
          console.log("adding " + role + ": " + data.username);
          //initAccessTables(data.username);
          initAccessTable(data.role, data.username);
        } else {
          MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });

  }

</script>