{% include 'util/debug.twig' with {'parent': 'setting/settings.delete.twig'} %}

<h2 id="page-subtitle">Delete</h2>

{# only the project owner can delete the project #}
{% if "owner" in userRoles %}

  <section role="region">
    <div class="alert alert-info">
      <strong>Info!</strong> Use this page to delete this project.
    </div>
  </section>

  <section role="region">
    <div class="panel panel-primary">
      <div class="panel-heading"><h3 class="panel-title">Delete project</h3></div>
      <div class="panel-body">


        <div class="alert alert-danger">
          <strong>Danger!</strong> The whole project will be removed permanently.
        </div>
        <hr>

        <button id="delete-project-btn" type="button" class="btn btn-danger btn-md" data-toggle="modal"
                data-target="#delete-project-modal">Delete this project
        </button>


      </div>
    </div>
  </section>


  {# only the project admin can delete the evaluations #}
{% elseif "admin" in userRoles %}


  <section role="region">
    <div class="alert alert-info">
      <strong>Info!</strong> Use this panel to delete the evaluations.
    </div>
  </section>
  {% if annotations | length > 0 %}
    <section role="region">
    <div class="panel panel-primary">
      <div class="panel-heading"><h3 class="panel-title">Delete evaluations</h3></div>
      <div class="panel-body">

        <div class="alert alert-danger">
          <strong>Danger!</strong> The evaluations done by the following evaluators will be removed permanently.
        </div>


        <ul class="list-group">
          <li class="list-group-item list-group-item-info">Evaluators</li>
          {% for info in annotations %}

            <li class="list-group-item">
              {% set num = info["num"] %}
              {#{% transchoice num %}
              {0} no evaluation
              |]0,Inf[ <label class="badge">%num%</label>
              {% endtranschoice %}
              by {{ users[info["user"]] }}
              #}
              {{ users[info["user"]] }} <span class="badge">{{ num }}</span>
            </li>
          {% endfor %}
        </ul>
        <hr>

        <button id="delete-all-eval-btn" type="button" class="btn btn-danger btn-md" data-toggle="modal"
                data-target="#delete-evaluations-modal">Delete all evaluations
        </button>

      </div>
    </div>
  {% else %}
    <div class="alert alert-warning">
      <strong>Warning!</strong> There are no evaluations yet.
    </div>
    </section>
  {% endif %}
{% endif %}


<!-- Modal -->
<div id="delete-project-modal" class="modal fade" role="alertdialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="modal-close-header" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm delete</h4>
      </div>
      <div class="modal-body">
        <h5>Do you want to delete the project?</h5>
        <p>If you answer yes, the project will be removed permanently.</p>
      </div>
      <div class="modal-footer">
        <button id="delete-project-modal-yes" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
        <button id="delete-project-modal-no" type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="delete-evaluations-modal" class="modal fade" role="alertdialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="modal-close-header" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm delete</h4>
      </div>
      <div class="modal-body">
        <h5>Do you want to delete all the evaluations?</h5>
        <p>If you answer yes, the evaluations will be removed permanently.</p>
      </div>
      <div class="modal-footer">
        <button id="delete-evaluations-modal-yes" type="button" class="btn btn-primary" data-dismiss="modal">Yes
        </button>
        <button id="delete-evaluations-modal-no" type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>

<script>


  $(document).ready(function () {
    $('#delete-project-modal-yes').click(function () {
      deleteProject({{ pid }})
    });

    $('#delete-evaluations-modal-yes').click(function () {
      deleteEvaluation({{ pid }});
    })
  });

  function deleteProject(pid) {
    console.log('deleting project ' + pid + '...');
    $.ajax({
      url: "{{ path('app_project_delete') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "pid": {{ pid }},
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      type: "POST",
      cache: false,
      success: function (data) {
        console.log(data);

        if (data.valid) {
          MyNotify(data.message + " You'll be redirected to the dashboard in few seconds.", null, null, "success");
          setTimeout(function () {
            window.location.href = data.link + "?CsrfToken={{ csrf_token('authenticate') }}";
          }, 3000);
        } else {
          MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  function deleteEvaluation(pid) {
    console.log('deleting evaluations ' + pid + '...');
    $.ajax({
      url: "{{ path('app_project_delete_all_evaluations') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "pid": {{ pid }},
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      type: "POST",
      cache: false,
      success: function (data) {
        console.log(data);

        if (data.valid) {
          MyNotify(data.message, null, null, "success");
        } else {
          MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

</script>
