{% include 'util/debug.twig' with {'parent': 'settings/settings.export.twig'} %}

<h2 id="page-subtitle">Export data</h2>

<section role="region">
  <div class="alert alert-info">
    <strong>Info!</strong> Use this panel to export the project data. This task is not mandatory and doesn't need an
    explicit confirmation when executed.
  </div>
</section>

<section role="region">

  <ul class="list-group">

    {% if "owner" in userRoles
      or "admin" in userRoles %}


      <li class="list-group-item">

        <h3><i class="fa fa-download" aria-hidden="true"></i> Original files</h3>
        <div class="btn-group">
          {#<a class="button btn btn-sm" href="{{ path('app_project_export_dataset') }}?pid={{ pid }}">CSV</a>#}
          <a class="button btn btn-sm" href="javascript:exportDataset()">CSV</a>
        </div>
      </li>
    {% endif %}

    {#<li class="list-group-item">#}

    {#<h3><i class="fa fa-download" aria-hidden="true"></i> Evaluation format</h3>#}
    {#<div class="btn-group">#}
    {#<a class="button btn-link btn-sm" href="{{ path('evalformat_export') }}?format=html">HTML</a>#}
    {#<a class="button btn-link btn-sm" href="{{ path('evalformat_export') }}?format=json">JSON</a>#}
    {#</div>#}


    {#</li>#}

    {#<li class="list-group-item">#}

      {#<h3><i class="fa fa-download" aria-hidden="true"></i> Settings</h3>#}
      {#<div class="btn-group">#}
        {#<a class="button btn-link btn-sm" href="{{ path('guidelines_export') }}?format=html">HTML</a>#}
        {#<a class="button btn-link btn-sm" href="{{ path('guidelines_export') }}?format=json">JSON</a>#}
        {#<a class="button btn-link btn-sm" href="">HTML</a>#}
        {#<a class="button btn-link btn-sm" href="">JSON</a>#}
      {#</div>#}


    {#</li>#}

    <li class="list-group-item">

      <h3><i class="fa fa-download" aria-hidden="true"></i> Evaluation data</h3>
      <div class="btn-group">
        <a class="button btn-link btn-sm" href="javascript:dataExport('csv');">CSV</a>
        <a class="button btn-link btn-sm" href="javascript:dataExport('json');">JSON</a>
      </div>


    </li>
  </ul>

  {#<div id="report" class="content"></div>#}

</section>

<script>
  function exportDataset() {
    $.ajax({
      url: "{{ path('app_project_export_dataset') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "pid":{{ pid }}
      },
      type: "GET",
      dataType: 'text',
      success: function (content) {
        console.debug('success');
        var a = document.createElement("a");
        document.body.appendChild(a);
        a.style = "display: none";

        var blob = new Blob([content], {type: "application/excel;charset=utf-8"}),
            url = window.URL.createObjectURL(blob);
        a.href = url;
        a.download = "dataset_{{ pid }}.csv";
        a.click();
        setTimeout(function () {
          document.body.removeChild(a);
          window.URL.revokeObjectURL(url);
        }, 100);
      },
      error: function (xhr, status, error) {
        //errorHandler(xhr);
        if (xhr.status){
          MyNotify(xhr.responseText, null, null, "warning");
        } else{
          errorHandler(xhr);
        }
      }
    });
  }

  function dataExport(format) {
    $.ajax({
      url: "{{ path('app_project_export_evaluation') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "format": format,
        "pid":{{ pid }}
      },
      type: "GET",
      dataType: 'text',
      //async: false,
      cache: false,
      crossDomain: false,
      success: function (content) {
        //console.debug(content);

        var a = document.createElement("a");
        document.body.appendChild(a);
        a.style = "display: none";

        var blob = new Blob([content], {type: "application/excel;charset=utf-8"}),
            url = window.URL.createObjectURL(blob);
        a.href = url;
        a.download = "evaluation-data_{{ pid }}." + format;
        a.click();
        setTimeout(function () {
          document.body.removeChild(a);
          window.URL.revokeObjectURL(url);
        }, 100);

      },
      error: function (xhr, status, error) {
        //console.log(xhr.status);
        if (xhr.status){
          MyNotify(xhr.responseText, null, null, "warning");
        } else{
          errorHandler(xhr);
        }

      }
    });
  }

  //var csv is the CSV file with headers
  function csvJSON(csv) {
    var lines = csv.split("\n");
    var result = [];

    var headers = lines[0].split(",");
    for (var i = 1; i < lines.length; i++) {
      if (!/^\s*$/.test(lines[i])) {
        var obj = {};
        var currentline = CSVtoArray(lines[i]);

        for (var j = 0; j < headers.length; j++) {
          obj[headers[j]] = currentline[j];
        }
        result.push(obj);
      }
    }

    //return result; //JavaScript object
    return JSON.stringify(result); //JSON
  }

  // Return array of string values, or NULL if CSV string not well formed.
  function CSVtoArray(text) {
    var re_valid = /^\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*(?:,\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*)*$/;
    var re_value = /(?!\s*$)\s*(?:'([^'\\]*(?:\\[\S\s][^'\\]*)*)'|"([^"\\]*(?:\\[\S\s][^"\\]*)*)"|([^,'"\s\\]*(?:\s+[^,'"\s\\]+)*))\s*(?:,|$)/g;
    // Return NULL if input string is not well formed CSV string.
    if (!re_valid.test(text)) {
      return;
    }
    var a = [];                     // Initialize array to receive values.
    text.replace(re_value, // "Walk" the string using replace with callback.
        function (m0, m1, m2, m3) {
          // Remove backslash from \' in single quoted values.
          if (m1 !== undefined) a.push(m1.replace(/\\'/g, "'"));
          // Remove backslash from \" in double quoted values.
          else if (m2 !== undefined) a.push(m2.replace(/\\"/g, '"'));
          else if (m3 !== undefined) a.push(m3);
          return ''; // Return empty string.
        });
    // Handle special case of empty last value.
    if (/,\s*$/.test(text)) a.push('');
    return a;
  }


</script>