{% include 'util/debug.twig' with {'parent': 'settings/settings.clone.twig'} %}

<h2 id="page-subtitle">Clone project</h2>

<section role="region">
  <div class="alert alert-info">
    <strong>Info!</strong> Use this page to clone this project. The new project will share the evaluation format and
    guidelines with this project.
  </div>
</section>

<section role="region">
  <div class="panel panel-default">
    <div class="panel-body">
      <form>
        <p>
        </p>
        <div class="container-fluid larger">
          <p>
            <label for="project-name">Name:</label>
            <input type="text" required="required" class="form-control" name="name" id="project-name"/>
          </p>
        </div>

        <div class="container-fluid">
          <p>
            <label for="project-description">Description:</label>
            <textarea rows="4" class="form-control" name="description"
                      id="project-description"></textarea>
          </p>
        </div>
        <hr>
        <div class="form-group">
          <button id="clone-action" type="button" class="btn btn-default" aria-label="Clone the current project">Clone
          </button>

        </div>
      </form>

    </div>
  </div>
</section>

{% include 'util/alert-close-modal.twig' %}

<script language="JavaScript">

  $(document).ready(function () {
    loadProject();
    $("#clone-action").click(function () {
      console.log("invoking clone...");
      clone();
    })
  });

  function loadProject() {
    console.log("loading project...");
    $.ajax({
      type: "GET",
      url: "{{ path('app_project_get_project') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "id": {{ pid }},
        "pid": {{ pid }},
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
      },
      success: function (data) {
        console.log(data);
        if (data.valid) {
          $('#project-name').val(data.name + ' copy');
          $('#project-description').val('-- description copied from ' + data.name + ' --\n' + data.description);
        } else {
          MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  function clone() {
    console.log("cloning...");
    var name = $("#project-name").val();
    console.log("name: " + name);
    var description = $("#project-description").val();
    console.log("description: " + description);

    $.ajax({
      type: "POST",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      url: "{{ path('app_project_clone') }}",
      data: {
        "pid": {{ pid }},
        "name": name,
        "description": description,
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        console.log("cloning...");
      },
      success: function (data) {
        console.log(data);
        console.log("status " + data.status);
        console.log("message " + data.message);
        console.log("id " + data.id);
        if (data.valid) {
          $('#project-name').val(data.name);
          $('#project-description').val(data.description);

          MyNotify(data.message + " You'll be redirected to the new project in few seconds.", null, null, "success");
          setTimeout(function () {
            //window.location.href = "{{ hostname }}{{ path('admin') }}?view=overview&pid=" + data.id;
            window.location.href = data.redirect + "?view=overview&pid=" + data.id;
          }, 3000);

        } else {
          showAlertClose("Warning", data.message, '');
          //MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

</script>