{% include 'util/debug.twig' with {'parent': 'settings/settings.deadlines.twig'} %}

<h2 id="page-subtitle">Project deadlines</h2>

<section role="region">
  <div class="alert alert-info" id="deadlines-info">
    <strong>Info!</strong> Use this page to set the project deadlines. This task is not mandatory and doesn't need an
    explicit confirmation when executed.
  </div>
</section>

<section role="region">
  <div class="panel panel-default">
    <div class="panel-body">


      <div class="container-fluid">


        <table class="table table-striped" aria-describedby="deadlines-info">
          <thead>
          <tr>
            <th id="settings-deadline-task" scope="col">Task</th>
            <th id="settings-deadline-dueBy" scope="col">Due by</th>
            <th id="settings-deadline-cancel" scope="col">Action</th>
          </tr>
          </thead>
          <tbody>

          {# trick Settings=evalformat#}
          <tr>
            <td style="vertical-align: middle">Settings</td>
            <td style="vertical-align: middle" id="task-evalformat-date">
              {% include 'util/calendar.twig' with {'id': 'evalformat', 'labelledBy': 'settings-deadline-dueBy' } only %}

            </td>
            <td style="vertical-align: middle">
              <button id="task-evalformat-cancel" type="button" class="btn btn-link"
                      aria-label="Cancel due by for the task Settings">Cancel
              </button>
            </td>
          </tr>


          <tr>
            <td style="vertical-align: middle">Evaluation launch</td>
            <td style="vertical-align: middle" id="task-check_corpus-date">
              {% include 'util/calendar.twig' with {'id': 'check_corpus', 'labelledBy': 'settings-deadline-dueBy' } only %}

            </td>
            <td style="vertical-align: middle">
              <button id="task-check_corpus-cancel" type="button" class="btn btn-link"
                      aria-label="Cancel due by for the task Evaluation launch">Cancel
              </button>
            </td>
          </tr>

          {# trick review=creation#}
          <tr>
            <td style="vertical-align: middle">Evaluation</td>
            <td style="vertical-align: middle" id="task-creation-date">
              {% include 'util/calendar.twig' with {'id': 'creation', 'labelledBy': 'settings-deadline-dueBy' } only %}

            </td>
            <td style="vertical-align: middle">
              <button id="task-creation-cancel" type="button" class="btn btn-link"
                      aria-label="Cancel due by for the task Evaluation">Cancel
              </button>
            </td>
          </tr>

          {# trick review=guidelines#}
          <tr>
            <td style="vertical-align: middle">Review</td>
            <td style="vertical-align: middle" id="task-guidelines-date">
              {% include 'util/calendar.twig' with {'id': 'guidelines', 'labelledBy': 'settings-deadline-dueBy' } only %}

            </td>
            <td style="vertical-align: middle">
              <button id="task-guidelines-cancel" type="button" class="btn btn-link"
                      aria-label="Cancel due by for the task Review">Cancel
              </button>
            </td>
          </tr>

          <tr>
            <td style="vertical-align: middle">Report</td>
            <td style="vertical-align: middle" id="task-finalize-date">
              {% include 'util/calendar.twig' with {'id': 'finalize', 'labelledBy': 'settings-deadline-dueBy' } only %}

            </td>
            <td style="vertical-align: middle">
              <button id="task-finalize-cancel" type="button" class="btn btn-link"
                      aria-label="Cancel due by for the task Report">Cancel
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</section>

<!-- Modal -->
<div id="settings-modal" class="modal fade" role="alertdialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="settings-modal-close-header" type="button" class="close" data-dismiss="modal">&times;</button>
        {# Roberto: replace this code with the one below to remove the warning produced by wave
        <h4 class="modal-title">Confirm cancel</h4> #}
        <h3 class="modal-title">Confirm cancel</h3>
      </div>
      <div class="modal-body">
        <p>Do you want to cancel the due by date?</p>
      </div>
      <div class="modal-footer">
        <button id="settings-modal-yes" type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
        <button id="settings-modal-no" type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>


<script language="JavaScript">

  $(document).ready(function () {

    $.ajax({
      type: "GET",
      url: "{{ path('app_task_get_tasks') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      }, data: {
        "pid": {{ pid }},
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        //console.log("setting deadlines...");
      },
      success: function (data) {

        console.log(data);
        if (data.valid) {
          //console.log("found deadlines...");
          setDatePickers(data.tasks);
        } else {
          MyNotify(data.message, null, null, "danger");
        }

      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });

    $("input")
        .change(function () {
          var task = $(this).data("task");
          var id = $(this).data("id");
          var dueDate = $(this).val();
          console.log("saving " + id + " task: " + task + " due date " + dueDate);

          //check here the date constrains
          saveDueDate(id, dueDate);
        });

  });

  function saveDueDate(id, dueDate) {

    $.ajax({
      type: "POST",
      url: "{{ path('app_task_set_due_date') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "task": id,
        "date": dueDate + " 23:59:59",
        "pid": {{ pid }},
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      cache: false,
      beforeSend: function () {
        //$("#log").html("saving...");
      },
      success: function (data) {
        //alert("due date saved: " + task + " "+dueDate);
        console.log(data);
        if (data.valid) {
          MyNotify(data.message, null, null, "success");
        } else {
          MyNotify(data.message, null, null, "danger");
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  function setDatePickers(json) {
    //console.log(json);
    for (var i in json) {

      //console.log(i + " " + json[i].task);
      if (json[i].task == "check_corpus" || json[i].task == "creation" || json[i].task == "finalize" || json[i].task == "evalformat" || json[i].task == "guidelines") {

        //console.log(json[i].task + " " + json[i].dueDate);
        setDatePicker(json[i].task, json[i].dueDate, json[i].id);

      }
    }
  }

  function setDatePicker(task, jsonDueDate, id) {
    //console.log("xxx  " + task + " " + jsonDueDate + " " + id);
    if (jsonDueDate) {
      var d = eval('(' + JSON.stringify(jsonDueDate) + ')');
      var dueDate = d.date.replace(/\d\d:\d\d:\d\d\.\d+\s*/, "");
      $('#date-picker-' + task + " input").val(dueDate);
    }

    $('#date-picker-' + task + " input").data("id", id);
    $('#date-picker-' + task + " input").data("task", task);

    $('#task-' + task + '-cancel').data("id", id);
    $('#task-' + task + '-cancel').data("task", task);


    $('#task-' + task + '-cancel').click(function () {

      var id = $(this).data("id");
      var task = $(this).data("task");
      saveDueDate(id, '');
      $('#date-picker-' + task + " input").val('');
    });
  }
</script>