<!-- Embeds import-corpus.twig -->
{% include 'util/debug.twig' with {'parent': 'settings/settings.import.twig'} %}

<h2 id="page-subtitle">Import data</h2>

<section role="region">
  <div class="alert alert-info">
    <strong>Info!</strong> Use this page to import data to evaluate.
  </div>
</section>

<section role="region">

  <div id="import-corpus-info-confirmed" class="alert alert-success" style="display: none;">
    <p><strong>Success!</strong> This task has been completed. To modify it, mark it as incomplete. Go to <a
              href="{{ path('admin') }}?pid={{ pid }}&view=monitor">
        <i class="fa fa-tasks" aria-hidden="true"></i> Project monitor</a> to track the progress of the other tasks.</p>
    <hr>
    <button id="import-corpus-task-undo" onclick="setImportCorpusIncomplete()" type="button"
            class="btn btn-default btn-task" aria-label="Mark as incomplete the task Import Data"><i
              class="fa fa-unlock" aria-hidden="true"></i> Mark as incomplete
    </button>
  </div>

  <div id="import-corpus-warning-not-confirmed" class="alert alert-warning" style="display: none;">
    <p><strong>Warning!</strong> This task has not been completed yet. When it will be finished, mark it as complete.
    </p>
    <hr>
    <button id="mark-complete-btn" onclick="setImportCorpusComplete()" type="button"
            class="btn btn-default btn-task" aria-label="Mark as complete the task Import Data"><i class="fa fa-lock"
                                                                                                   aria-hidden="true"></i>
      Mark as complete
    </button>
  </div>

</section>

<section role="region">
  <div class="panel panel-default">
    <div class="panel-body" aria-controls="files">


      <label id="fileupload-label" class="btn btn-default btn-file">
        <span>Import files...</span><span id="import-spinner"></span>
        <input id="fileupload" type="file" name="upfile" multiple style="display: none;">
      </label>


      <hr>
      <span id="parse-spinner"></span>
      <div id="files"></div>

    </div>
  </div>
</section>


<div class="navbar-fixed-bottom">
  <div id="fileQueue" class="pull-right" style="max-height: 200px"></div>
</div>


{% include 'util/alert-close-modal.twig' %}

<script>

  //  var waitUploading = 0;

  // this method gets HTML returned by listing/import-corpus.twig and put it in the file table
  function listUploadedFiles() {
    console.debug("loading files...");
    $.ajax({
      url: "{{ path('app_project_get_files') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      }, data: {
        "pid": {{ pid }},
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      type: "GET",
      cache: false,
      crossDomain: false,
      success: function (html) {
        $("#files").html(html).focus();
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  $(function () {
    $('#fileupload').fileupload({

      url: '{{ path('app_project_upload_file') }}?pid={{ pid }}',
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      type: "POST",
      maxFileSize: 999000,
      done: function (e, data) {
        console.debug("uploaded");
        $("#import-spinner").html('');
      },
      success: function (data) {
        console.debug(data);
        if (data.valid) {
          MyNotify(data.message, null, null, "success");
          //parseCorpus(data.cid);
          listUploadedFiles();
        } else {
          MyNotify(data.message, null, null, "danger");
        }
        $("#import-spinner").html('');
      }
    }).on('fileuploadfail', function (e, data) {
      console.debug(file.name + " uploading failed");
      $("#import-spinner").html('');
      MyNotify("An error occurred importing the data", null, null, "danger");

    }).on('fileuploadprogressall', function (e, data) {
      console.debug("uploading...");

      var progress = parseInt(data.loaded / data.total * 100, 10);
      console.debug("uploaded " + progress);

      $("#import-spinner").html('<i class="fa fa-spinner fa-spin fa-fw" aria-hidden="false"></i>');
    });
  });


  $(document).ready(function () {
    setTask("import_corpus");
    listUploadedFiles();
  });

  function showImportCorpusAlert(confirmed) {
    if (confirmed) {
      $('#import-corpus-warning-not-confirmed').hide();
      $('#import-corpus-warning-not-confirmed').attr("aria-hidden", true);

      $('#import-corpus-info-confirmed').show();
      $('#import-corpus-info-confirmed').attr("aria-hidden", false);
    } else {
      $('#import-corpus-info-confirmed').hide();
      $('#import-corpus-info-confirmed').attr("aria-hidden", true);

      $('#import-corpus-warning-not-confirmed').show();
      $('#import-corpus-warning-not-confirmed').attr("aria-hidden", false);
    }
  }

  function enableImportCorpus(confirmed) {

    $('#import-corpus-import input').prop('disabled', confirmed);
    $('#import-corpus-import input').attr('aria-disabled', confirmed);

    $("#import-corpus-table input").each(function () {
      $(this).prop('disabled', confirmed);
      $(this).attr('aria-disabled', confirmed);
    });
  }

  function setTask(task) {
    console.debug('setting task ' + task + '...');
    $.ajax({
      url: "{{ path('app_task_get_task') }}",
      {#data: {{ app.session.get('PROJECT_ID') }},#}
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      data: {
        "project": {{ pid }},
        "pid": {{ pid }},
        "task": task,
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      type: 'GET',
      cache: false,
      success: function (data) {
        console.debug(data);
        if (data.valid) {
          showImportCorpusAlert(data.completed);
          enableImportCorpus(data.completed);
        }
      },
      error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }


  function setImportCorpusIncomplete() {
    $.ajax({
      url: "{{ path('set_task_incomplete') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      }, data: {
        "pid": {{ pid }},
        "task": "import_corpus",
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      type: "POST",
      cache: false,
      crossDomain: false,
      beforeSend: function () {
        console.debug("setting import dataset incomplete...");
      },
      success: function (data) {
        console.debug(data);
        if (data.valid) {
          showImportCorpusAlert(false);
          enableImportCorpus(false);
        } else {
          showAlertClose('Warning', data.message, data.tip);
        }
      }, error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  function setImportCorpusComplete() {
    $.ajax({
      url: "{{ path('set_task_complete') }}",
      headers: {
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      }, data: {
        "pid": {{ pid }},
        "task": "import_corpus",
        "CsrfToken": "{{ csrf_token('authenticate') }}"
      },
      type: "POST",
      cache: false,
      crossDomain: false,
      beforeSend: function () {
        console.debug("setting import dataset complete...");
      },
      success: function (data) {
        console.debug(data);
        if (data.valid) {
          showImportCorpusAlert(true);
          enableImportCorpus(true);
        } else {
          showAlertClose('Warning', data.message, data.tip);
        }
      }, error: function (xhr, status, error) {
        errorHandler(xhr);
      }
    });
  }

  <!-- end claudio-->
</script>