{% include 'util/debug.twig' with {'parent': 'settings/settings.evalformat.twig'} %}

{% if "admin" in userRoles
  or "owner" in userRoles %}


  <h2 id="page-subtitle">Evaluation format</h2>

  <section role="region">

    <div id="eval-format-import" class="alert alert-info">

      <p><strong>Info!</strong> Use this page to set the evaluation format.</p>

    </div>
  </section>

  <section role="region">
    <div id="eval-format-info-confirmed" class="alert alert-success" style="display: none;">
      <p><strong>Success!</strong> This task has been <em>completed</em>. To modify this task, mark it as
        incomplete. Use the <a href="{{ path('admin') }}?pid={{ pid }}&view=monitor">
          <i class="fa fa-tasks" aria-hidden="true"></i> Project monitor</a> to track the progress of the other tasks.
      </p>
      <hr>
      <button id="eval-format-task-undo" onclick="setEvaluationFormatIncomplete()" type="button"
              class="btn btn-default btn-task" aria-label="Mark as incomplete the task Evaluation Format"><i
                class="fa fa-unlock" aria-hidden="true"></i> Mark as incomplete
      </button>
    </div>

    <div id="eval-format-warning-not-confirmed" class="alert alert-warning" style="display: none;">
      <p><strong>Warning!</strong> This task has not been completed yet. When this task is
        finished, mark it as complete.</p>
      <hr>
      <button id="mark-complete-btn" onclick="setEvaluationFormatComplete()" type="button"
              class="btn btn-default btn-task" aria-label="Mark as complete the task Evaluation Format"><i
                class="fa fa-lock" aria-hidden="true"></i> Mark as complete
      </button>

    </div>

  </section>


  <section role="region">
    <div class="panel panel-default">
      <div class="panel-body">


        <div id="eval-format-reference" class="checkbox">
          <label><input type="checkbox" value="0">Include reference</label>
        </div>


        <div aria-labelledby="eval-format-type-form-label" id="eval-format-type-form">
          <form>
            <fieldset>
              <legend id="eval-format-type-form-label">Select an evaluation format</legend>
              <label class="radio-inline">
                <input id="eval-format-type-binary" type="radio" name="optradio" value="binary">Binary
              </label>
              <label class="radio-inline">
                <input id="eval-format-type-scale" type="radio" name="optradio" value="scale">Scale
              </label>
              <label class="radio-inline">
                <input id="eval-format-type-ranking" type="radio" name="optradio" value="ranking">Ranking
              </label>
              <label class="radio-inline">
                <input id="eval-format-type-tree" type="radio" name="optradio" value="tree">Decision tree
              </label>
            </fieldset>
          </form>
        </div>

        <br>

        <div id="eval-format-binary" style="display: none;">

          {% include 'util/eval-format-binary.twig' %}
          {#{% include 'util/preview-binary.twig' %}#}
        </div>


        <div id="eval-format-scale" style="display: none;">

          {% include 'util/eval-format-scale.twig' with {'scaleSize': '4'} %}
          {#{% include 'util/preview-scale.twig' %}#}
        </div>

        <div id="eval-format-tree" style="display: none;">

          {% include 'util/eval-format-tree.twig' %}
        </div>


      </div>

    </div>

  </section>

  {% include 'util/alert-close-modal.twig' %}


  <script language="javascript">

    function setEvaluationFormatIncomplete() {
      $.ajax({
        url: "{{ path('set_task_incomplete') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "pid": {{ pid }},
          "task": "evalformat"
        },
        type: "POST",
        cache: false,
        crossDomain: false,
        beforeSend: function () {
          console.debug("setting eval format incomplete...");
        },
        success: function (data) {
          console.debug(data);
          if (data.valid) {
            showEvaluationFormatAlert(false);
            enableEvaluationFormat(false);
          } else {
            showAlertClose('Warning', data.message, data.tip);
          }
        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    function setEvaluationFormatComplete() {
      $.ajax({
        url: "{{ path('set_task_complete') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        }, data: {
          "pid": {{ pid }},
          "task": "evalformat"
        },
        type: "POST",
        cache: false,
        crossDomain: false,
        beforeSend: function () {
          console.debug("setting eval format complete...");
        },
        success: function (data) {
          console.debug(data);
          if (data.valid) {
            showEvaluationFormatAlert(true);
            enableEvaluationFormat(true);
          } else {
            showAlertClose('Warning', data.message, data.tip);
          }
        }, error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    function showEvaluationFormatAlert(confirmed) {
      if (confirmed) {
        $('#eval-format-warning-not-confirmed').hide();
        $('#eval-format-warning-not-confirmed').attr("aria-hidden", true);

        $('#eval-format-info-confirmed').show();
        $('#eval-format-info-confirmed').attr("aria-hidden", false);
      } else {
        $('#eval-format-info-confirmed').hide();
        $('#eval-format-info-confirmed').attr("aria-hidden", true);


        $('#eval-format-warning-not-confirmed').show();
        $('#eval-format-warning-not-confirmed').attr("aria-hidden", false);
      }
    }

    function enableEvaluationFormat(confirmed) {

      var type = $('#eval-format-type-form input:checked').attr("value");
      console.debug(type + "  " + confirmed);

      $('#eval-format-dropdown-button').prop('disabled', confirmed);
      $('#eval-format-dropdown-button').attr('aria-disabled', confirmed);

      $('#eval-format-reference input').prop('disabled', confirmed);
      $('#eval-format-reference input').attr('aria-disabled', confirmed);

      $('#eval-format-type-form input').prop('disabled', confirmed);
      $('#eval-format-type-form input').attr('aria-disabled', confirmed);

      if (type === "binary") {

        $('#eval-format-binary-label-1').prop('disabled', confirmed);
        $('#eval-format-binary-label-1').attr('aria-disabled', confirmed);

        $('#eval-format-binary-label-2').prop('disabled', confirmed);
        $('#eval-format-binary-label-2').attr('aria-disabled', confirmed);

        //showPreview('binary');
      } else if (type === "scale") {

        $("#eval-format-" + type + "-table input").each(function () {
          $(this).prop('disabled', confirmed);
          $(this).attr('aria-disabled', confirmed);
        });

        $("#eval-format-" + type + "-table select").each(function () {
          $(this).prop('disabled', confirmed);
          $(this).attr('aria-disabled', confirmed);
        });

        //showPreview('scale');
      } else {

      }

      $('#eval-format-save').prop('disabled', confirmed);
      $('#eval-format-save').attr('aria-disabled', confirmed);

      $('#eval-format-restore').prop('disabled', confirmed);
      $('#eval-format-restore').attr('aria-disabled', confirmed);


      $('#eval-format-dropdown-button').prop('disabled', confirmed);
      $('#eval-format-dropdown-button').attr('aria-disabled', confirmed);

    }

    function getRanges(type) {
      var result = [];
      var i = 0;

      console.debug("getting ranges for type: " + type);

      if (type === "scale" || type === "binary") {

        $("#eval-format-" + type + "-table tr.row-format").each(function () {
          var row = $(this);
          var label = $(this).find("input").val();
          var color = $(this).find("select option:selected").val();
          //console.debug(i);
          //console.debug(row);
          //console.debug(label + ":" + color);
          if (label !== '') {
            var level = new Object();
            level.val = i + 1;
            level.label = label;
            level.color = color;
            result[i] = level;
            i++;
          }
        });
      }
      //else if (type === "tree") {
      //return '[{"color":"#000000","label":"0","val":0},{"color":"#000000","label":"1","val":11111},{"color":"#000000","label":"2","val":11110},{"color":"#000000","label":"3","val":11113},{"color":"#000000","label":"4","val":11101},{"color":"#000000","label":"5","val":11100},{"color":"#000000","label":"6","val":11103},{"color":"#000000","label":"7","val":10111},{"color":"#000000","label":"8","val":10110},{"color":"#000000","label":"9","val":10113},{"color":"#000000","label":"10","val":10101},{"color":"#000000","label":"11","val":10100},{"color":"#000000","label":"12","val":10103},{"color":"#000000","label":"13","val":10011},{"color":"#000000","label":"14","val":10010},{"color":"#000000","label":"15","val":10013},{"color":"#000000","label":"16","val":10001},{"color":"#000000","label":"17","val":10000},{"color":"#000000","label":"18","val":10003}]';
      //}

      return JSON.stringify(result);
    }

    function loadProject() {
      console.debug("loading project...");
      $.ajax({
        type: "GET",
        url: "{{ path('app_project_get_project') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "pid": {{ pid }}
        },
        cache: false,
        beforeSend: function () {
        },
        success: function (data) {
          console.debug(data);
          if (data.valid) {

            $('#eval-format-reference input').prop("checked", data.requiref);
            $('#eval-format-type-' + data.type).prop("checked", true);

            setRanges(data.type, data.ranges);
            //showPreview(data.type);
          } else {
            MyNotify(data.message, null, null, "danger");
          }
        },
        error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    function saveEvaluationFormat() {
      console.debug("saving evaluation format...");
      var type = $('#eval-format-type-form input:checked').attr("value");
      console.debug("type: " + type);
      var ranges = getRanges(type);
      console.debug("ranges: " + ranges);
      var requiref = 0;
      if ($('#eval-format-reference input').prop("checked")) {
        requiref = 1;
      }

      $.ajax({
        type: "POST",
        url: "{{ path('app_project_update') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "pid": {{ pid }},
          "id": {{ pid }},
          "type": type,
          "ranges": ranges,
          "requiref": requiref,
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        cache: false,
        beforeSend: function () {
          console.debug("saving...");

          //$('#eval-format-binary *').prop('disabled', true);
          //$('#eval-format-scale *').prop('disabled', true);
          //feedback.html('Saving labels... <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>');

        },
        success: function (data) {

          console.debug(data);
          if (data.valid) {
            // todo write the labels (after validation and sanitization)
            $('#eval-format-reference input').prop("checked", data.requiref);
            $('#eval-format-type-' + data.type).prop("checked", true);

            //setRanges(data.type, data.ranges);
            //showPreview(data.type);
          } else {
            loadProject();
            MyNotify(data.message, null, null, "danger");

          }

          //$('#eval-format-binary *').prop('disabled', false);
          //$('#eval-format-scale *').prop('disabled', false);
        },
        error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

    function configureAutoSaveEvaluationFormat() {
      console.debug("auto save check");

      $('#eval-format-reference input').change(function () {
        console.debug("save check");
        saveEvaluationFormat();
      });

      $('#eval-format-type-form input').change(function () {
        console.debug("save radio");
        saveEvaluationFormat();
      });

      $('#eval-format-scale-table input').change(function () {
        console.debug("save scale labels");
        saveEvaluationFormat();
      });

      $('#eval-format-scale-table select').change(function () {
        console.debug("save scale colors");

        var num = $(this).data("num");
        var color = $(this).find("option:selected").val();
        $("#eval-format-scale-label-" + num).css({"color": color});

        saveEvaluationFormat();
      });

      $('#eval-format-binary-table input').change(function () {
        console.debug("save binary labels");
        saveEvaluationFormat();
      });

      $('#eval-format-binary-table select').change(function () {
        console.debug("save binary colors");

        var num = $(this).data("num");
        var color = $(this).find("option:selected").val();
        $("#eval-format-binary-label-" + num).css({"color": color});

        saveEvaluationFormat();
      });
    }

    function showPreview(type) {
      console.log("showing preview " + type + "...");
      if (type !== 'binary' && type !== 'scale') {
        console.log("preview not required");
        return;
      }
      var i = 0;

      $("#eval-format-type-preview-" + type).empty();

      $("#eval-format-" + type + "-table tr.row-format").each(function () {
        var row = $(this);
        var label = $(this).find("input").val();
        var color = $(this).find("select option:selected").val();

        if (label !== '') {
          $("#eval-format-type-preview-" + type).append('<button type="button" class="btn btn-default" style="color: ' + color + '">' + label + '</button>');
        }
        i++;
      });
    }

    function resetRangesTable() {
      $("tr.row-format").each(function () {
        $(this).find("input").val("");
        $(this).find("input").css({'color': 'black'});
        $(this).find("select option[value='#000000']").prop('selected', true);
      });
    }

    function setRanges(type, rangesJSON) {

      console.debug("showing evaluation ranges " + type + ", " + rangesJSON + "...");

      $('#eval-format-binary').hide();
      $('#eval-format-scale').hide();
      $('#eval-format-tree').hide();
      resetRangesTable();

      if (type === "binary") {
        var ranges = JSON.parse(rangesJSON);
        $('#eval-format-binary').show();
        if (ranges.length > 0) {
          var label1 = $('#eval-format-binary-label-1');
          label1.val(ranges[0].label);
          label1.css({'color': ranges[0].color});
          $('#eval-format-binary-color-select-1 option[value="' + ranges[0].color + '"]').prop('selected', true);

        }
        if (ranges.length > 1) {
          var label2 = $('#eval-format-binary-label-2');
          label2.val(ranges[1].label);
          label2.css({'color': ranges[1].color});
          $('#eval-format-binary-color-select-2 option[value="' + ranges[1].color + '"]').prop('selected', true);

        }

      } else if (type === "scale") {
        var ranges = JSON.parse(rangesJSON);
        $("tr.row-format").each(function () {
          $(this).find("input").val("");
        });

        $('#eval-format-scale').show();
        for (var i in ranges) {
          var label = $('#eval-format-scale-label-' + ranges[i].val);
          label.val(ranges[i].label);
          label.css({'color': ranges[i].color});
          $('#eval-format-scale-color-select-' + ranges[i].val + ' option[value="' + ranges[i].color + '"]').prop('selected', true);
        }

      } else if (type === "tree") {
        $('#eval-format-tree').show();
      }
    }

    $(document).ready(function () {
      $('#eval-format-binary').hide();
      $('#eval-format-scale').hide();
      $('#eval-format-tree').hide();

      $('#eval-format-type-form').click(function () {
        $('#eval-format-binary').hide();
        $('#eval-format-scale').hide();
        $('#eval-format-tree').hide();

        var type = $('#eval-format-type-form input:checked').attr("value");
        //console.debug('#eval-format-' + type);
        if (type === "binary") {
          $('#eval-format-binary').show();

        } else if (type === "scale") {
          $('#eval-format-scale').show();

        } else if (type === "tree") {
          $('#eval-format-tree').show();
        }
      });

      loadProject();
      configureAutoSaveEvaluationFormat();
      setTask('evalformat');

    });

    function setTask(task) {
      console.debug('setting task ' + task + '...');
      $.ajax({
        url: "{{ path('app_task_get_task') }}",
        headers: {
          "CsrfToken": "{{ csrf_token('authenticate') }}"
        },
        data: {
          "project": {{ pid }},
          "pid": {{ pid }},
          "task": task
        },
        type: "GET",
        cache: false,
        success: function (data) {
          console.debug(data);
          if (data.valid) {
            enableEvaluationFormat(data.completed);
            showEvaluationFormatAlert(data.completed);
          }
        },
        error: function (xhr, status, error) {
          errorHandler(xhr);
        }
      });
    }

  </script>

{% else %}
  {% include 'exception/invalid.twig' %}
{% endif %}
